[2018-11-22 11:20] mmingorance-dh commented on #277
We can't upgrade to Kubernetes 1.12 unfortunately. We run our clusters managed by Kops and this one only supports up to 1.10.X currently.

Any other alternative?

[2018-11-29 04:18] m1093782566 commented on #277
@mmingorance-dh

I would strongly upgrade to v1.13 as we fixed IPVS UDP graceful termination in Kubernetes v1.13. Please check #71515.

[2018-11-29 08:50] mmingorance-dh commented on #277
@m1093782566 thanks for the advice.

Indeed it's the only solution. We can't upgrade to Kubernetes 1.13 at the moment because Kops does not support this version yet but we will look into how to get to this version as soon as possible.

Thanks everyone for your help

[2018-11-30 13:45] yuriipolishchuk-finsight commented on #231
Please look at https://grafana.com/dashboards/6320

[2018-12-01 15:55] andy2046 commented on #82
@bowei hi BoWei, the functionality to resolve the name should be added inside [here](https://github.com/kubernetes/dns/blob/master/pkg/dnsmasq/nanny.go#L73)? if yes I would like to add this small patch as my first-time contribution

[2018-12-06 21:42] tsuna commented on #266
@realknorke nope, there are other people with this problem too.  Just ran into it today with Flink 1.7.

As far as @thockin's question on whether or not this is a new trend: unfortunately not, it's been like this in Apache projects for almost a decade now.  These issues have impacted other environments before kubernetes was a thing, and yet have not been addressed.  There is virtually no hope to f

[2018-12-07 03:10] NiuZhuang commented on #85
This link is 404 now.
Below is the updated url:
https://kubernetes.io/blog/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes/

[2018-12-07 06:54] krmayankk commented on #266
a) the pod doesn't use the endpoint as its own hostname and hence the master doesn't get this name in order to resolve it via CoreDNS.
b) it requires a Job pod to be part of a service, which feels conceptionally wrong and the setup to manipulate DNS search paths for the master pod in order to be able to resolve it via CoreDNS is complex and due to limitations in search items even impossible.

@scr

[2018-12-10 13:45] realknorke commented on #266
@krmayankk  Not from the "outside" (e.g. from within another pod).

[2018-12-10 19:20] johnbelamaric commented on #266
Can we get a clear definition of what you need, for example in the form
used in the dns spec?

On Mon, Dec 10, 2018 at 5:45 AM S. Teresniak <notifications@github.com>
wrote:

[2018-12-11 12:15] realknorke commented on #266
@johnbelamaric Hi. sadly I'm not that of a DNS guy. But I'd like to give you a detailed problem description and findings. From a DNS perspective all written below (only) relates to A record lookups.

Please see a shorter version below

### Long story

The situation is as follows (I use Apache Spark as an example to illustrate):

I have a running Spark cluster. That is, one master pod with a (k8s)

[2018-12-16 11:55] #235 closed

[2018-12-21 03:27] negz opened #282 "Node local DNS creates dummy interface without IP address"
Hello,

I've just started experimenting with the new node local DNS cache. For reasons I haven't yet determined the `NetIfManager` manages to create the `nodelocaldns` dummy IP in my setup, but fails to allocate it an IP address. `NetIfManager` [does not check the error return value](https://github.com/kubernetes/dns/blob/401314d/pkg/netif/netif.go#L26) when assigning IPs, so this manifests as fol

[2018-12-21 03:52] negz commented on #282
Scratch that - I didn't read the code closely enough and confused `EnsureDummyDevice`, which does not check for errors when setting an IP, with `AddDummyDevice` which does.

Nevertheless, somehow the device is being created without an IP address and also without producing any error while configuring the device.

[2018-12-31 04:39] #195 closed

[2019-01-02 18:02] bowei commented on #82
/remove-lifecycle rotten

[2019-01-02 18:15] bowei commented on #243
/lifecycle frozen

[2019-01-02 20:52] thebag25 opened #283 "kube-dns pod crashing with panic error"
Hi all.
I got follow problem - after i restart kubernetes server I got error with kube-dns - it stops with CrashLoopback error. I check container logs and found that kubedns container itself crashig with panic error. Look like this is happened when it got first dns request - I try to disable sidecar and dnsmasq containers and kubedns itself run OK. But when it get any DNS request- it crashed with

[2019-01-02 22:07] MrHohn commented on #283
Ref the panic line:
https://github.com/kubernetes/dns/blob/5900070ee13547517a0b6c5d9ac70d6fda9e7733/vendor/github.com/skynetservices/skydns/server/server.go#L202

where `stub` is:
https://github.com/kubernetes/dns/blob/9bd4bd4450eceb73cdd6a86abb481bd9058145e6/vendor/github.com/skynetservices/skydns/server/config.go#L78-L80

`stub` is set at the very end of the `SetDefaults` func. And seems like we

[2019-01-02 22:08] MrHohn commented on #283
The only place I can find in `SetDefaults` that can return an error earlier is:
https://github.com/kubernetes/dns/blob/9bd4bd4450eceb73cdd6a86abb481bd9058145e6/vendor/github.com/skynetservices/skydns/server/config.go#L121-L126

[2019-01-04 18:16] MrHohn commented on #283
@thebag25 will you able to check if there is anything abnormal in the `/etc/resolv.conf` file on your machine? Or are you open to build and deploy a latest version kube-dns so that the actual error would be logged?

[2019-01-05 06:38] #82 closed

[2019-01-05 19:52] #250 closed

[2019-01-06 13:47] thebag25 commented on #283
Hi,
Ok. I will check it and back with results...

[2019-01-07 20:40] #252 closed

[2019-01-08 10:33] thebag25 commented on #283
I check resolv.conf file and found interesting thing: in my DNS yaml file run user set as 1999.
securityContext:
runAsUser: 1999

But /etc/resolv.conf access set as
-rw-r--- root root /etc/rosolv.conf

After I comment out runAsUser pod is started !

[2019-01-08 17:45] MrHohn commented on #283
@thebag25 Great that you found and fixed the issue. Given that, closing this issue.

[2019-01-08 17:45] #283 closed

[2019-01-09 09:00] thebag25 opened #285 "Not all services added to DNS"
kubernetes 1.9.6
DNS 1.14.7
dns.go version: 1.14.6-3-gc36cb11

After startup fix I found that not all services added to DNS. We got 35 but only 21 was added.
For example kubernet-vaults related log, I see that service was returned from API but no related "Added SVC" log:

I0109 08:03:14.154489       1 dns.go:436] No service for endpoint "kubernetes-vault" in namespace "core"
I0109 08:03:14.155692

[2019-01-10 06:38] thebag25 commented on #285
Linux admins incorrectly setup kuber environment. After we fixed this settings everything back on-line and working as expected.

[2019-01-10 06:38] #285 closed

[2019-01-10 09:39] #122 closed

[2019-01-13 07:47] #169 closed

[2019-01-18 16:50] dannyk81 commented on #282
@negz hitting the same issue here (using CoreOS)

Were you able to resolve this?

[2019-01-19 17:19] dannyk81 commented on #282
Something is very bizarre here... on one occasion, it was able to set the IP (just on one node, they are all identical and I didn't do any kind of changes):
[code]
[code]

I deleted the above Pod to see if it will work again, after pod was recreated on the same node (part of a DaemonSet) it failed again. 🤷‍♂️

[2019-01-19 20:12] dannyk81 commented on #282
This seems to be OS/Kernel related.

I can reproduce this on CoreOS running build 1688.5.3 (kernel 4.14.32) or build 1967.3.0 (kernel 4.14.88) - this is latest stable.

However this works just fine on a Debian Jessie with Kernel 4.9.0.

[2019-01-19 21:39] negz commented on #282
@dannyk81 We never solved this. Ended up writing a mutating admission webhook (https://github.com/planetlabs/legion) that we used to inject a small caching CoreDNS sidecar container into pods.

[2019-01-19 21:52] dannyk81 commented on #282
thanks @negz!

Could you confirm which OS/Kernel combo are you/were you using for this? I wonder if it's CoreOS as well... since I can't reproduce this on Debian.

[2019-01-19 21:55] negz commented on #282
It was CoreOS. I can’t say for sure which kernel version but it would have most likely been the stable CoreOS release at the time of writing.

[2019-01-19 22:12] dannyk81 commented on #282
Thanks, that confirms it.

Considering I tried 4 or 5 different versions, seems like a general issue with that OS.

[2019-01-19 22:15] dannyk81 commented on #282
@prameshj any chance you could take a look a this? seems like node local cache is broken on CoreOS due to this.

[2019-01-20 06:42] prameshj commented on #282
Is the 169.254.20.10 ip address used in some other interface on coreOS? Can you list the interfaces on the host and share the output?
Is assigning a different address working - maybe if we try assigning the clusterDNS ip(10.0.010 by default) to the nodelocaldns interface? Just to test if an ip address from a different subnet can be assigned successfully.

Also is the cluster being created using ku

[2019-01-20 15:49] dannyk81 commented on #282
Hi @prameshj, thanks for looking into this 😄 please see details below.

The ip address (169.254.25.10) is not used by any other interface, here's `ip a` output:
[code]

I tried that (with 10.10.10.10 and other IPs), the result is the same:
[code]

Yes, it is. I'm using Kubespray to deploy the cluster and it uses kubeadm. It's deploying K8s v1.13.2.

For debugging, I extract the `node-cache` binary

[2019-01-21 07:55] prameshj commented on #282
Thanks Danny! I think this is the relevant strace section. I was able to map the netlink request and the parameters, but I wasn't thorough.

Bind new ipaddress. unix.RTM_NEWADDR = x14

1593  sendto(5, "\x30\x00\x00\x00\x14\x00\x05\x06\x07\x00\x00\x00\x00\x00\x00\x00\x02\x20\x00\x00\x19\x00\x00\x00\x08\x00\x02\x00\x0a\x0a\x0a\x0a\x08\x00\x01\x00\x0a\x0a\x0a\x0a\x08\x00\x04\x00\x0a\x0a\x0a\x0a", 48,

[2019-01-21 17:43] dannyk81 commented on #282
@prameshj I suspect that this PR (https://github.com/vishvananda/netlink/pull/248) could be the root cause.

[2019-01-21 21:20] prameshj commented on #282
Thanks for investigating this, Danny! The broadcast ip issue seemed like the rootcause.. hmm. Can you try building the image by syncing to [this](https://github.com/vishvananda/netlink/commit/f67b75edbf5e3bb7dfe70bb788610693a71be3d1) commit? Thats the one ipvs uses and it seems to work on your setup. I assume you are running kube-proxy in ipvs mode?

Another thing to try, are you able to by hand a

[2019-01-21 21:35] dannyk81 commented on #282
Sure, let me build up a variant with the commit you mentioned.

Indeed, I'm able to add an ip manually using `ip` command and it sticks.

[code]

[2019-01-21 21:48] prameshj commented on #282
Interesting... There is code in the node-cache binary to periodically ensure that the interface exists and has the same address - https://github.com/kubernetes/dns/blob/f08c140c185ee237a723939a5fe44dd441930c54/cmd/node-cache/main.go#L196

This will call AddrAdd to ensure the ip address exists on the interface. Maybe this call somehow errors out and the ip is removed? If you are building a custom i

[2019-01-21 22:06] dannyk81 commented on #282
Tried your suggestions, with the following diff:
[code]

however it seems like there's no error being returned.

I also added several info messages to see how `setupNetworking` progress:
[code]

and here's the log output:
[code]

[2019-01-22 02:01] prameshj commented on #282
Synced up with Danny offline.  We found that running exec.Command("ip", "addr", "add" ...) instead of netlink.AddrAdd works. Something in the netlink library is causing the issue.

[2019-01-23 20:21] prameshj commented on #282
Danny and I were able to verify that there is some race condition between LinkAdd and AddrAdd. If AddrAdd happens too soon, the behavior is undefined. Sometimes the ip sticks, sometimes it is assigned and then deleted, in some cases, it did not get assigned. Danny was able to see this issue with just:
```$ ip link del dummy0 ; ip link add dummy0 type dummy && ip addr add 10.10.10.10/32 dev dummy0

[2019-01-24 18:16] #255 closed

[2019-01-28 09:57] #282 closed, assigned to nobody

[2019-01-29 03:38] whipit commented on #266
Is there any update on this issue?

[2019-01-29 17:47] realknorke commented on #266
Hi Chris,
which aspect is unclear?
Problem in one sentence: You cannot resolve the hostname of a pod from within another pod.

Start two Pods. Lets assume the pod's names: pod1 and pod2. EXEC into pod2 and do a "ping pod1". It is not working because hostname pod1 cannot be resolved from within pod2. That's the problem in a nutshell.

[2019-01-29 17:52] chrisohaver commented on #266
In your use case, are the host names of the pods predictable in any way, or are they completely random.  Can you give an actual real example, with real hostnames.

[2019-01-30 09:21] realknorke commented on #266
Sure @chrisohaver

Lets assume I have two Pods in a RS

[code]
I start the RS/Pods
[code]
Lets check STDOUT of one of the pods:
[code]
The pod with name `dnstest-sdsjz` has hostname `dnstest-sdsjz` and IP `10.2.175.39`.

Now lets exec into the second Pod and try to connect to the first one.
[code]
Connecting via IP works. Connecting via IP-ish hostname (manually generated by me using the K8S DNS d

[2019-01-30 15:14] chrisohaver commented on #266
Thanks, is there a need to be able to connect to a specific pod in a replica set?  Or would connecting to any pod in the replica set be ok?

[2019-01-30 16:36] realknorke commented on #266
Sadly, it has to work for every container manged by K8S. In my particular case it has to work for Kubernetes `Job`s. The idea to have a K8S `Service` for every `Job` sounds odd to me.

And for your first question: Its not `ReplicaSet`-specific. I used a RS in my example to easily start two demo pods. In real life I have a lot of K8S `Job`s (called *driver* in the Spark world) and it is important t

[2019-01-30 16:55] chrisohaver commented on #266
You could create a headless service that targets all the jobs, and (as @johnbelamaric says above) use the `endpoint_pod_names` directive in CoreDNS.

This would create records that look like ...

`driver-wxyz.driversvc.ops.svc.cluster.local. -> pod-ip address of driver-wxyz`
`driver-abcd.driversvc.ops.svc.cluster.local. -> pod-ip address of driver-abcd`

A CoreDNS rewrite rule could then rewrite `

[2019-01-31 08:36] realknorke commented on #266
Thanks for the advice. Please give me some time to try this out. At the moment we're not using CoreDNS but Kubernetes-DNS. I'll get back to you later with results.
Thanks for your help!

[2019-01-31 22:03] #55 closed

[2019-02-01 08:53] mailrocketsystems opened #288 "coredns crashloopbackoff in kubernetes 1.13.1 in Ubuntu 16.04"
I have setup `kubernetes` in `ubuntu 16.04`. I am using kube version `1.13.1` and using weave for networking. I have initialized the cluster using :

    sudo kubeadm init --token-ttl=0 --apiserver-advertise-address=192.168.88.142

and weave:

    kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"

All the pods seems to be running fine but `co

[2019-02-01 14:47] chrisohaver commented on #288
Have you looked at https://coredns.io/plugins/loop#troubleshooting ?

[2019-02-01 14:52] #288 closed

[2019-02-01 14:57] chrisohaver commented on #288
Specifically, this section ...

... this usually does the trick.

[2019-02-11 14:10] rdsubhas commented on #266
We would like to chip in here as well. We're running Couchbase in StatefulSet mode.

* Couchbase statefulset pod boots up, it has a stable pod name (say `couchbase-0`)
* It's not in a live/ready state yet
* It needs to join the cluster to get to a ready state
* It tries to join the cluster, but then, there is a procedure for every node when joining the cluster where other members acknowledge the e

[2019-02-11 18:10] MrHohn commented on #266
@rdsubhas Would `Service.spec.publishNotReadyAddresses` help with this specific use case (ref https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#servicespec-v1-core)? It configures that DNS implementations must publish the notReadyAddresses of subsets for the Endpoints associated with the Service.

[2019-02-12 09:33] rdsubhas commented on #266
Hi @MrHohn this looks like it could do the trick, will check it out and update 👍 Thank you so much for the tip!

[2019-02-12 11:15] rdsubhas commented on #266
@MrHohn quick update: It works flawlessly, and just what we needed!

Now we pretty much bootstrap every StatefulSet with `serviceName` pointing to a Service with `publishNotReadyAddresses: true` used _only for stable DNS name_ for every stateful pod by default. And then we create separate services for connectivity purposes.

Thanks for the heads up again! To follow up: What do you think about this

[2019-02-12 19:27] MrHohn commented on #266
@rdsubhas Thanks for pointing that out, I will see if we can update https://kubernetes.io/docs/concepts/services-networking/dns-pod-service to match up with the [latest DNS specification](https://github.com/kubernetes/dns/blob/master/docs/specification.md).

[2019-02-14 03:15] chenk008 opened #289 "why kube-dns service is sessionAffinity?"
I install kubernetes by using kubeadm.The kube-dns service config is

`{
  "kind": "Service",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-dns",
    "namespace": "kube-system",
    "labels": {
      "k8s-app": "kube-dns",
      "kubernetes.io/cluster-service": "true",
      "kubernetes.io/name": "KubeDNS"
    }
  },
  "spec": {
    "ports": [
      {
        "name": "dns",
        "prot

[2019-02-14 03:47] chenk008 commented on #289
sorry, it's my fault

[2019-02-14 03:47] #289 closed

[2019-02-27 09:06] bowei commented on #277
Closing issue, this does not seem relevant to kube-dns.

[2019-02-27 09:06] #277 closed

[2019-03-09 01:14] JaveriaK opened #292 "node-local-dns crashes on failing to obtain iptables access"
The upstream node-local-dns implementation (https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/nodelocaldns) version `k8s.gcr.io/k8s-dns-node-cache:1.15.0` crashes frequently when used in a setup that has another application that also modifies iptables rules.

I see this in my 1.10 cluster using weave-net cni that also runs on hostNetwork. Details of my setup are below:

[code

[2019-03-14 21:42] dkowsley commented on #292
I am also seeing this in 1.15.1

[2019-03-15 07:31] DakshMiglani commented on #199
@zaverden same here, did you find a solution?

[2019-03-15 22:01] prameshj commented on #292
/assign @prameshj

[2019-03-22 10:48] zaverden commented on #199
@DakshMiglani Unfortunately I did not found any solution for kube DNS.

I have added a retry logic in my code in case of `EAI_AGAIN`. Can't say that it solved an issue, but errors rate dropped to acceptable level.

[2019-03-22 10:49] DakshMiglani commented on #199
@zaverden are you running preemptible nodes on gke?

[2019-03-25 20:39] cjwagner opened #293 "This repo should not require 'strict' status contexts."
This repo currently has strict status context requirements enabled: https://github.com/kubernetes/test-infra/blob/b6737faf9879cba0aed01b782057aee47ad2664c/prow/config.yaml#L120

The `strict` setting corresponds to "Require branches to be up to date before merging" below:
![image](https://user-images.githubusercontent.com/5334145/54947756-4fd92e80-4ef8-11e9-8f94-d882c6a2a58a.png)

This setting requ

[2019-03-25 21:21] MrHohn commented on #293
cjwagner@ Thanks for your detailed explanation. I've sent https://github.com/kubernetes/test-infra/pull/11928 for this.

[2019-03-25 21:59] MrHohn commented on #293
Closing as kubernetes/test-infra#11928 is merged.

[2019-03-25 21:59] #293 closed

[2019-03-31 16:18] lvthillo opened #295 "nslookup kubernetes.default fails from within pods #1476"
## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:51:21Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**: Ubuntu 18.04
- **Kubernetes version** (use `kubectl version`):
[code]
- **C

[2019-03-31 16:23] lvthillo commented on #295
busybox issue:
[code]

[2019-03-31 16:25] miekg commented on #295
/plugin: kubernetes
/label: question

[2019-03-31 16:36] lvthillo commented on #295
@miekg Still my dashboard isn't working when it's deployed on a different node than the master with the error:

[code]

[2019-04-01 13:26] chrisohaver commented on #295
@lvthillo, it does not appear that this is a DNS issue, since the url timing out is using an ip address.

[2019-04-01 15:42] lvthillo commented on #295
@chrisohaver I'll open an issue in the kubernetes project

[2019-04-01 15:42] #295 closed

[2019-04-02 15:20] pmehdinejad commented on #255
why it has been closed, I have the exact same issue

[2019-04-02 15:30] chrisohaver commented on #255
It was closed automatically due to inactivity.  It was inactive because the OP never responded.  See the comments above.

You have the same _symptom_.  This symptom can have many many different root causes.  But typically this error means something more broadly wrong with the network in the the cluster, not an issue with DNS specifically.

[2019-04-02 16:24] pmehdinejad commented on #255
I remove everything just mentioned here #1264 and setup everything including etcd from scratch and it started to work :!

[2019-04-11 02:28] zaverden commented on #199
@DakshMiglani no, we are using standard instanses

[2019-04-18 08:46] DakshMiglani commented on #199
@zaverden I'm using Alpine images, and there's an issue on docker Alpine which I think is the problem: https://github.com/gliderlabs/docker-alpine/issues/255

[2019-04-22 22:58] #292 closed

[2019-04-24 03:33] AATHITH commented on #253
im not using any busybox but still getting this same error! @fturib
Server:         67.207.67.3
Address:        67.207.67.3#53

** server can't find consul-0: NXDOMAIN

[2019-04-24 11:23] pulord opened #298 "kubedns metrics abnormal"
I scraped some metrics from port 10055，but i find that
skydns_skydns_dns_request_count_total always < skydns_skydns_dns_request_count_total ?

[2019-04-24 13:03] chrisohaver commented on #253
@AATHITH, What did the command look like as you wrote it? From where did you execute the command?

[2019-05-01 00:02] hipyhop commented on #298
Did you mean to list a different metric is always less than `skydns_skydns_dns_request_count_total`?

[2019-05-03 00:57] uhjh commented on #266
i just ran into the same issue when deploying a jupyter notebook onto a kubernetes cluster and trying to execute spark jobs against the cluster, the executor pods spin up, then error because they cannot talk back to the notebook because they were given the hostname of the jupyternotebook, which is a podname,
so i exposed the jupyter notebook deployment via headless service with the spec `publishNo

[2019-05-05 03:36] pulord commented on #298
sorry！clerical error
i mean that skydns_skydns_dns_request_count_total always < skydns_skydns_dns_error_count_total ?

for my opinion,  reqeust_count_total should contains error_count_total, so reqeust_count_total must greater than error_count_total

[2019-05-06 09:42] AATHITH commented on #253
cmd: nsloopup podname
result:
Server: 67.207.67.3
Address: 67.207.67.3#53

** server can't find podname: NXDOMAIN

I run the command in kubernetes master
k8's version:1.14
ubuntu:16.04

[2019-05-07 12:35] chrisohaver commented on #253
This will not work from a node, it will only work from a Pod.  From a node, you are just querying the upstream server (67.207.67.3), and of course it has no knowledge of the Pods in your cluster.

[2019-05-30 16:40] prameshj opened #306 "Upgrade to coreDNS 1.5 in node-cache"
This is needed to pick up a bugfix coredns/coredns#2636

[2019-06-05 13:24] hnoefer opened #308 "k8s-dns-dnsmasq-nanny-amd64 broken 1.15.2 => 1.15.3"
In Kubernetes I cannot start the container k8s-dns-dnsmasq-nanny-amd64.

I0605 09:33:12.503001       1 main.go:78] opts: {{/usr/sbin/dnsmasq [-k --cache-size=1000 --no-negcache --dns-loop-detect --log-facility=- --server=/cluster.local/127.0.0.1#10053 --server=/in-addr.arpa/127.0.0.1#10053 --server=/ip6.arpa/127.0.0.1#10053] true} /etc/k8s/dns/dnsmasq-nanny 10000000000 127.0.0.1:10053}

I0605 09:3

[2019-06-05 17:00] MrHohn commented on #308
cc @prameshj

[2019-06-05 20:14] MrHohn commented on #308
I can reproduce this on my test cluster as well with `k8s.gcr.io/k8s-dns-dnsmasq-nanny-amd64:1.15.3`.
[code]

[2019-06-05 20:17] MrHohn commented on #308
Confirmed `k8s.gcr.io/k8s-dns-dnsmasq-nanny-amd64:1.15.2` is working fine. Odd thing that there isn't any change WRT dnsmasq between 1.15.2 and 1.15.3.

[2019-06-05 20:19] MrHohn commented on #308
Diff is here: https://github.com/kubernetes/dns/compare/1eeaecea35f3dfea1b513ac3f73b35625f1d86ed...e7a6ef7406e9721741c16c4c8dcfae2e1e39df3f

[2019-06-05 20:26] bowei commented on #308
dnsmasq was built against Alpine (MUSL). It must be rebuilt against glibc.
[code]

[2019-06-05 20:47] MrHohn commented on #308
Humm, I thought we have moved away from Alpine since 1.15.2 (ref https://github.com/kubernetes/dns/pull/294/files, https://github.com/kubernetes/dns/pull/296/files).

[2019-06-05 20:48] prameshj commented on #308
Yes, i am wondering the same. Perhaps it was something in the build environment. Trying out a new image right now.

[2019-06-05 21:09] prameshj commented on #308
Seems like the 1.15.2 dnsmasq-nanny image was using alpine though we switched the base to debian. So the dnsmasq image was running fine. Things are failing in 1.15.3 since nanny image is now correctly using debian base. I will send a fix soon.

[2019-06-18 21:25] rgembalik opened #310 "Safely updating nodelocaldns image tag"
I keep seeing `nodelocaldns` restarts on more loaded nodes. The last message usually reads something like `2019-06-18T14:14:57.749Z [FATAL] Failed to add back non-existent rule {raw PREROUTING [-p tcp -d 169.254.25.10 --dport 53 -j NOTRACK]}`. I see similarities with the issue: https://github.com/kubernetes/dns/issues/292

I do have `k8s.gcr.io/k8s-dns-node-cache:1.15.1` and calico alongisde, so s

[2019-06-18 21:48] bowei commented on #310
@prameshj

[2019-06-18 21:55] prameshj commented on #310
You can edit the nodelocaldns yaml in the master node "/etc/kubernetes/addons..." directly and change the image there. Editing via `kubectl edit ds` will temporarily update and will be reconciled.
There will be dns downtime as nodelocaldns pods on each node terminate and restart. When i had measured on my test setup, this was around 20 seconds. If this is an issue, the recommendation is to use [cu

[2019-06-18 22:03] rgembalik commented on #310
@prameshj Thank you for the answer. Actually, the yaml is directly in `/etc/kubernetes/` (`/etc/kubernetes/nodelocaldns-daemonset.yml`), but I doubt it changes much.

Is it worth to go for any specific version? or should I go for `1.15.2` just to be safe?

[2019-06-18 23:04] prameshj commented on #310
1.15.2 is fine. 1.15.3 has some changes that let you configure multiple listen ip addresses, skip iptables setup.
https://github.com/kubernetes/dns/releases/tag/1.15.3
If you don't need those, you can stick to 1.15.2.

[2019-06-19 05:34] rgembalik commented on #310
@prameshj I jumped to 1.15.3 - no reason to hold on if the changes are minor. The update went well, so I'll close the ticket. Will reopen if I see anything suspicious after updating.

[2019-06-19 05:34] #310 closed

[2019-06-19 05:36] prameshj commented on #310
thank you for the update!

[2019-06-19 05:36] prameshj commented on #310
By any chance, did you measure how long the dns downtime was?

[2019-06-19 05:40] rgembalik commented on #310
@prameshj I didn't, sorry. It took less than 30s per node (so your description of 20s is pretty much accurate), and ContainerCreating was by far the most time consuming (I assume it's because image downloading).

[2019-06-25 08:13] rporres commented on #266
We have created a small operator that watches for pods with a certain annotation and creates a headless service for them. It helps us as a workaround for this issue: https://github.com/src-d/k8s-pod-headless-service-operator

[2019-06-27 02:38] YanLemon opened #311 "open and then close FirewallD, get the error no healthy upstream. I use ambassador. how the envoy request dns by udp? when firewall is open ,the envoy keep trying to request dns by changing the sourece port."

[2019-06-27 03:41] zkf1987 opened #312 "Domain Name Resolution will be reported occasionally:UnknownHostException"
Cluster size: 100 nodes
Number of services: 1300
POD: 4000
The DUBBO framework is used.
Question: KUBE-DNS runs for a period of time, and DNS domain name resolution fails. As follows:UnknownHostException

[2019-06-27 09:30] #311 closed

[2019-06-27 09:35] YanLemon opened #313 "DNS request timed out 4 times."
I use k8s ambassador NodePort to expose serive. I open firewalld and then close. the ambassador pod log show DNS request timed out 4 times.
I kubectl exec ambassador pod:
/var/log # netstat -nal| grep udp | grep -v 127
udp 0 0 177.177.162.240:60021 10.96.0.10:53 ESTABLISHED

I want to ask: DNS request timed out 4 times, why not closeSocket?

[root@node1 ~]# kubectl get svc --all-namespaces
NAMESPA

[2019-06-29 11:37] tyuio1 opened #314 "amd64 binaries in arm64 images"
I tried to deploy `k8s.gcr.io/k8s-dns-node-cache-arm64:1.15.4` on an arm64 device (Odroid C2) but it ended in a crashloop. It always happened when `sbin/xtables-multi` was called (iptables).

I exported the image filesystem and used `file` on the binaries:
[code]

As you can see the node-cache binary is aarch64, which it should be, but `sbin/xtables-multi` is x86-64, which I suspect is the reason

[2019-07-01 03:26] YanLemon commented on #313
@MrHohn @prameshj  Could you give me some advice? thank you.

[2019-07-01 22:20] MrHohn commented on #314
Seems like we hardcoded the base image  to amd64 at the moment.
https://github.com/kubernetes/dns/blob/468d4e407089a0999d9417f44165487d49ba2f6c/Dockerfile.node-cache#L15

/kind bug
/assign @prameshj

[2019-07-01 23:42] MrHohn commented on #313
@YanLemon Could you be more specific on what the issue is? I found it hard to parse out the actual info.

What is the exact DNS request failure (e.g. looking up what hostname)? What does "open firewalld and then close" mean? Is this issue generic or specific to the ambassador pod (maybe file an issue against https://github.com/datawire/ambassador instead)?

[2019-07-02 00:33] YanLemon commented on #313
@MrHohn [root@node1 ~]# systemctl stop firewalld.service
[root@node1 ~]# systemctl start firewalld.service

[root@node1 ~]# tcpdump udp port 53 | grep 57129
16:20:37.743377 IP 177.177.135.3.domain > 177.177.166.134.57129: 21511 NXDomain 0/1/0 (154)
16:20:37.743458 IP 177.177.166.134.57129 > 177.177.135.3.domain: 55103+ A? dnec-ui.dnec.svc.cluster.local. (48)
16:20:37.743760 IP 177.177.135.3.domain

[2019-07-02 02:19] YanLemon commented on #313
1、start or stop firewalld，the dns lookup will resolve fail for a while ,and then back to normal.
2、start firewalld,the envoy will close the socket (for DNS request)
3、There are some phenomena when stop the firewalld:
1) stop the fiewalld, the same source port (same as the port before stop firewalld ) can receive DNS response
2) stop the fiewalld,the same port has no response from dns
3) stop the f

[2019-07-02 09:12] johnbelamaric commented on #313
@YanLemon sounds like you need to file this with envoy or ambassador. The DNS server has no relation to this client-side behavior.

[2019-07-02 17:00] #313 closed

[2019-07-15 09:10] sftim opened #315 "Add support for AAAA records in dns specification"
[DNS specification 1.0.1](https://github.com/kubernetes/dns/blob/cf7588d7932db067f376c5903e8b21fca769a4ba/docs/specification.md) covers IPv4 via A records, and does not mention IPv6 support via AAAA records.

As a feature request, add details to the specification that explain how to use DNS service discovery with IPv6.

[2019-07-15 21:00] bowei commented on #315
Would be great to link this from the IPv6 KEPs/todo list.

[2019-07-16 13:51] yannh commented on #282
I did some research on this error... and found this patch in the Linux kernel, for the dummy interface: https://github.com/torvalds/linux/commit/554873e517115c4b7207259f1cadfd77d90b5395#diff-cb533d7ae320ae01c23e1381a803bc14 which seems to mention a race condition between creating/removing a dummy interface - which is what Node-cache does when it starts?

If the tags are to be believed (?) this sta

[2019-07-16 14:10] dannyk81 commented on #282
@yannh thanks for this!

We in fact tested on a >4.18 kernel (using an Alpha CoreOS at the time) and hit the same issue, the extra validation that @prameshj put in place solved the problem.

Later on we actually found the true culprit (was meaning to update about this here), it seems that `systemd-networkd` was trying to manage the dummy interface when it got initialized by nodelocaldns, as part o

[2019-07-16 15:06] yannh commented on #282
@dannyk81 thanks a lot for your reply! It would be interesting to review if that systemd-networkd behaviour is similar with other drivers - I'm not sure if @negz uses vmware.. maybe the bug is not related...
Thanks again!!

[2019-07-16 15:28] dannyk81 commented on #282
@yannh I don't think it's driver/vmware specific... it's just that this default `network` file (incidentally added when vmware is used) results in unacceptable behaviour by `systemd-networkd`, since the `[Match]` is just too broad and catches all & any kind of interface(s).

[2019-07-16 22:41] staticdev opened #316 "hostNetwork:True deployments can't resolve services by name"
I am using kubernetes 1.15.0 along with calico 3.8 on a single-node kubeadm. I realized all my pods that uses `hostNetwork: True` can't resolve DNS using servicename.

Steps to reproduce:
I have 1 running service `servicename` as seen in `kubectl get svc`:

I have 2 deployments using base image python:3.6.8-alpine deployment1 without hostnetwork and deployment2 with hostnetwork.

I get pods from b

[2019-07-16 23:06] johnbelamaric commented on #316
You have to use dnsPolicy `ClusterFirstWithHostNet`:

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

/close

[2019-07-16 23:06] #316 closed

[2019-08-03 06:51] axot opened #318 "node-cache is not working in some cases."
I found if a pod config with
-  dnsPolicy: ClusterFirstWithHostNet
-  hostNetwork: true

And then the DNS query will go to kube-dns directly instead of node-cache. Here is an example manifest what I tested.

[code]

[2019-08-03 06:59] axot commented on #318
Even worse, after one day, the DNS query got totally timeout, I’m still digging in this case.

[2019-08-05 17:54] MrHohn commented on #318
cc @prameshj

[2019-08-05 18:41] prameshj commented on #318
Thanks for filing this. I just tried it on GKE setup:

logs from bug-test pod:

Every 1s: nslookup google.com                               2019-08-05 18:37:25

nslookup: can't resolve '(null)': Name does not resolve
Name:      google.com
Address 1: 108.177.112.138
Address 2: 108.177.112.139
Address 3: 108.177.112.100
Address 4: 108.177.112.102
Address 5: 108.177.112.101
Address 6: 108.177.112.113

[2019-08-06 03:18] axot commented on #318
Hi @prameshj,

My install steps:
1. create a cluster with following command
[code]

2. make sure kube-dns were scheduled in different node.
[code]

3. apply the manifest which I pasted in the first thread.
[code]

4. install the standalone version of node-cache which you could check out from [here](https://github.com/axot/kubernetes_dns_issues_318.git), just type `./install.sh`.

5. `kubectl logs

[2019-08-06 07:09] prameshj commented on #318
ok, now i see why the requests were sent to kube-dns.. because you are using kube-dns ip as the nodelocaldns ip address.

In order to use a link-local ip, you can create a new k8s 1.13+ GKE cluster with the command:
gcloud alpha container clusters create nodelocaltest --addons=NodeLocalDNS

[2019-08-06 13:34] axot commented on #318
Sure, I will test the built-in node cache addon in this week with our load test. We tried the standalone version and found the DNS query will get timeout when there are no cache in CoreDNS. So I created a special version of CoreDNS bases on node-cache with plugin/kubernetes. This version works very well in our load test, except the POD config with `hostNetwork`.

So we may need some way to let our

[2019-08-06 17:05] johnbelamaric commented on #318
If your cluster is large, I don't think you want to run CoreDNS with the
kubernetes plugin configured on every node, it will be a lot of pressure on
the API server. The node local cache is designed to improve local DNS
performance without putting undue strain on the API server.

On Tue, Aug 6, 2019 at 6:34 AM Zheng SHAO <notifications@github.com> wrote:

[2019-08-06 17:14] prameshj commented on #318
I'm not sure if that is the rootcause either. Can you run node-cache by removing "cache" plugin from Corefile. That should simulate the no-cache behavior.

 So I created a special version of CoreDNS bases on node-cache with plugin/kubernetes enabled. This version works very well in our load test, except the POD config with `hostNetwork`.

[2019-08-07 13:23] axot commented on #318
Hi @johnbelamaric

kubernetes plugin configured on every node, it will be a lot of pressure on
the API server. The node local cache is designed to improve local DNS
performance without putting undue strain on the API server.

Our production is a large cluster with > 1k nodes, yes this will be one of the weaknesses of this solution and it is hard to know the resource load of a master node in GKE.

[2019-08-07 17:17] prameshj commented on #318
Is the timeout happening when you use ClusterFirstWithHostNet mode? What is the duration of the timeout? It is possible that the rules are added and sending the requests locally when node-cache is not ready to serve requests, but I thought you reported the problem that requests are sent to kube-dns directly in ClusterFirstWithHostNet mode?

[2019-08-09 02:48] axot commented on #318
I used [dnsperf](https://github.com/guessi/docker-dnsperf/blob/master/bench/k8s-dnsperf-bench.yaml) to perform the load test before which is using ClusterFirst policy.

The duration of the timeout seems between 100ms to 1000ms.

dnsperf log
[code]

node-cache log
[code]

[2019-08-09 16:37] prameshj commented on #318
If i understand the problem correctly:
* A pod in ClusterFirst mode using nodelocaldns is sending DNS queries.
* nodelocaldns pod is terminated
* DNS timeout for 1000ms(1 second) is observed

If the timeout is for a coupld of seconds or less, that is expected while nodelocaldns instance is starting up. From your logs, I see that node-cache has successfully come up at T06:25:07, and your timeouts s

[2019-08-12 13:36] axot commented on #318
Yes, this happens when new vm node booting up. In the dnsperf test above, it was scaled by cluster auto scaler.

It is no problem these DNS requests will be forwarded to kube-dns successful.

Yes, if node-cache has come up do these timeouts are expected and we also want to avoid kernel race condition because it is possible happens when node-cache is starting-up.

[2019-08-13 09:45] pacoxu commented on #318
@ax
 I meet similar issues https://github.com/coredns/coredns/issues/3097

My solution is https://github.com/coredns/coredns/issues/3097#issuecomment-520290887
[code]

[2019-08-13 09:46] pacoxu commented on #318
I meet similar issue and my solution would be adding the output iptables rule below.
@axot

[code]

[2019-08-13 17:03] prameshj commented on #318
Thanks @pacoxu What's happening in the hostNetwork pods is that the packet is locally generated and sent to kube-dns service ip.

1) Kube-dns service ip is local on the "nodelocaldns" interface. However, in the NAT OUTPUT chain, this gets DNAT'ed to a kube-dns pod IP. The NOTRACK rules will not help here since those are in raw PREROUTING table.
2) Once the packet gets DNATed, if it picked a kube-d

[2019-08-13 17:49] prameshj commented on #318
The issue with the nat OUTPUT rule is that we have to constantly ensure that the rule is the first one in the chain, kube-proxy will be installing the jump to KUBE_SERVICES chain as the first rule as well. So, we could have temporary timeouts still, during the interval when kube-proxy rules are above the nodelocaldns rules. Did you observe this @pacoxu ?

The best option here in my opinion is to u

[2019-08-13 20:07] prameshj commented on #318
I have an image with this extra rule here - gcr.io/pavithrar-k8s-dev/k8s-dns-node-cache:1.15.4-2-g903339e-dirty

[2019-08-14 02:41] pacoxu commented on #318
In my simple test, I didn't observe temporary timeouts.

I will test the new image.  @prameshj

[2019-08-14 08:20] axot commented on #318
@prameshj Hi, I tested `1.15.4-2-g903339e-dirty` image with no-alias IP in GKE, which got all packets timeout before but now I saw packets are correctly sent to local node-cache not be DNATed to kube-dns PODs.

[2019-08-16 10:36] domgoer opened #320 "Should we remove a namespace from cache when there is no service underneath it"
In this case, our company USES the `drone` as a CI/CD tool. Each time the `drone` executes the pipeline, it creates some Services in a new random namespace and deletes it when pipeline finished. After some time, we find that kubedns' cache contains a lot of dirty data.  Since the amount of data will continue to increase, we can only restart kubedns once in a while.

It may be possible to determine

[2019-08-20 10:33] BiG86 commented on #314
When do you plan to rebuild and push the images k8s.gcr.io/k8s-dns-node-cache-arm64:1.15.* ?

[2019-08-21 19:31] prameshj commented on #314
We will be pushing a new tag and the images in a day or two.

[2019-08-21 19:32] rtheis opened #321 "k8s-dns-sidecar image specifies incorrect group"
The k8s-dns-sidecar image specifies an incorrect group causing docker run to fail as is detailed below.  It appears that `USER nobody:nobody`, should be `USER nobody:nogroup` instead.

[code]

[2019-08-23 00:47] prameshj commented on #314
Images available now - k8s.gcr.io/k8s-dns-node-cache:1.15.5

[2019-08-27 09:00] woopstar commented on #306
@prameshj can you test if our new image has the same problems with the cleanup that caused the revert:

`pasientskyhosting/k8s-dns-node-cache-amd64:1.15.4-2-g903339e-coredns1.6.2-dirty`

[2019-09-02 19:47] prameshj commented on #306
It still does not do the cleanup.. This is how i test it:

1) Pick one of the node-local-dns pods and run "watch -n 1 'iptables -t raw -nvL'"
This command watches the iptables rules that node-local-dns pod configures.
2) Delete that specific node-local-dns pod with "kubectl delete pods <name>"
3) See the output of 1) if the rules are still there.

I see the rules are still there and get cleaned up

[2019-09-03 22:05] prameshj commented on #308
/close
This has been fixed.

[2019-09-03 22:05] #308 closed

[2019-09-04 09:19] jordips commented on #306
Ok. I test it with the image and PREROUTING rules are not deleted, as you said

[code]
I will try to debug a litt bit more.

[2019-09-04 13:25] jordips commented on #306
@prameshj How did you debug this part? I'm trying to see logs when pod is deleted but I can't access with --previous flag.

Thank you

[2019-09-05 18:33] prameshj commented on #306
I think i added logs to the different plugin shutdown callbacks and checked if they are invoked.
I started with logs here - https://github.com/kubernetes/dns/blob/64023fb045bd936c78800c98fceb3445113f51c1/vendor/github.com/mholt/caddy/sigtrap_posix.go#L45
then checked which callback completed, i recall forward plugin callback did not complete.

I also modified nodelocaldns yaml to include a termina

[2019-09-06 20:01] prameshj commented on #306
@jordips Is it possible for you to build this image with the latest CoreDNS - 1.6.3? https://github.com/coredns/coredns/releases

I talked to @johnbelamaric , he suggested we try with the latest version and if it still has the same behavior, we can open an issue on coredns repo.

[2019-09-09 07:13] jordips commented on #306
@prameshj sure! I will try later and I tell you something.

[2019-09-09 08:18] jordips commented on #306
@woopstar or @prameshj Is there any special procedure to manage packages with DEP? I change coreDNS version in Gopkg.toml and making a dep ensure it fails with missing packages from k8s.io (the ones inside "pkg"  and "cmd")
Thanks

[2019-09-09 08:20] woopstar commented on #306
@chad-jones Is the one who made our image and had it work with 1.6.2. I can ask him to rebuild with 1.6.3 too

[2019-09-09 08:32] jordips commented on #306
@woopstar that will be awesome! :)  Or if @chad-jones explains the rebuild steps I can do it myself. I think the procedure is:
 -  change Gopkg.toml (coredns version)
 - "dep ensure" or something like this to get new source to vendor folder.
 - "make containers" to build new image.

But I have problems with dep dependecies... I'm still solving this

[2019-09-09 08:39] woopstar commented on #306
@chad-jones mentioned for me that it was a dep nightmare when he did 1.6.2 :) I'll let him post here whatever he decides to do :)

[2019-09-09 08:50] jordips commented on #306
@woopstar perfect. Thank you for the info. Good to know that i'm not the only one thinking is a nightmare 👍 :D

[2019-09-09 09:58] chad-jones commented on #306
CoreDNS - 1.6.3
pasientskyhosting/k8s-dns-node-cache-amd64:1.15.4-coredns1.6.3-dirty

[2019-09-10 18:35] johnbelamaric commented on #306
k/k and CoreDNS have both moved to go modules, is it worth making that change here.

[2019-09-12 03:27] prameshj commented on #306
I think the biggest issue is with the prometheus client version that skydns uses and what CoreDNS requires. When i tried updating to a newer CoreDNS, i had to manually edit the skydns vendor directory to use a newer prometheus client. Was this the issue you faced too?

I am not sure if moving to go modules will fix that particular issue.. but it is worth making the change.

[2019-09-12 03:28] prameshj commented on #306
I will try out the cleanup test with the new image and report back in a day or so. Thanks for sharing the image.

[2019-09-18 09:17] axot commented on #306
I also tried to upgrade to 1.5.3 before and did not face the skydns issue. One more change I think was `caddy` is renamed from "github.com/mholt/caddy" to "github.com/caddyserver/caddy".

[2019-09-18 21:01] prameshj commented on #81
You can try using nodelocaldns, which does tcp to upstream servers by design. It now supports stubDomains configured in kube-dns configmap.  Updated image - k8s.gcr.io/k8s-dns-node-cache:1.15.6

You can use a yaml similar to https://github.com/kubernetes/kubernetes/pull/82845/files, you don't need all those changes. Just the part that mounts the kube-dns configmap.

[2019-09-18 21:46] prameshj commented on #306
I just tried this.. The cleanup code is not invoked in the latest version either.

[2019-09-23 09:14] realknorke commented on #266
So everybody with (relatively) long-running services found a workaround here. But what about the short-living  fire-and-forget jobs (e.g. spark jobs)? You don't want (headless) services for that, right?

[2019-09-25 17:16] bowei commented on #312
/remove-lifecycle stale

[2019-09-25 17:16] bowei commented on #312
Need more information. What is the QPS rate, how many instances of kube-dns, what is the resource allocated to dns etc.

[2019-09-26 11:20] carter-zhao opened #323 "node cache"
The proposed HA solution of node local dns has been given  [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190424-NodeLocalDNS-beta-proposal.md). But It will not work in IPVS mode of kube-proxy.   I want to know whether there are some plans to support the HA solution in in IPVS mode of kube-proxy.
Looking forward to your reply！！

[2019-09-26 11:39] carterzhao opened #324 "A plan of the component which supports HA for NodeLocal DNSCache"
[The enablement of HA for NodeLocal DNSCache ](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190424-NodeLocalDNS-beta-proposal.md) has given a solution of HA for node cache.  But some component is needed to dynamically determine when to use node-local-dns and when to flip to kube-dns endpoints. It  can be a  Daemonset  which managers the iptables NOTRACK rule to impleme

[2019-09-26 18:21] jhcook-ag commented on #243
/remove-lifecycle stale

[2019-09-26 20:43] bowei commented on #323
Any ideas would be welcome :-)

[2019-09-30 06:25] prameshj commented on #324
The [alternatives](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190424-NodeLocalDNS-beta-proposal.md#alternatives) in that KEP, list the option to run 2 daemonsets with SO_REUSEPORT and use the same linklocal ip for both cache instances. that should work in IPVS mode too.

[2019-09-30 06:49] carter-zhao commented on #324
@prameshj  Do you  mean that   running 2  daemonsets with SO_REUSEPORT  to realize HA  ？

[2019-09-30 06:58] prameshj commented on #324
Yes

[2019-10-04 23:19] prameshj commented on #306
@woopstar @chad-jones I am trying to debug the cleanup issue by adding logs and building a custom image. I am having a hard time getting the image to build.

I changed Gopkg.toml to point to coredns 1.16.4 and client_golang to 1.1.0 which coredns needs. However, that dependency is not working when i do "dep ensure". Could you submit a PR with the changes to upgrade to 1.16? I can debug it further.

[2019-10-11 21:15] prameshj commented on #306
I found the issue. coreDNS changed the import path for caddy in https://github.com/coredns/coredns/pull/2961
node-cache was still using the old import path and setting the cleanup function as part of OnProcessExit. I changed it to use the right path and it is working fine now.
many thanks to @chad-jones for creating the PR with the dependencies update. I have submitted a PR with the changes, hope

[2019-10-13 21:23] sftim commented on #315
/remove-lifecycle stale

[2019-10-13 22:07] aojea commented on #315
I thought that KubeDNS was deprecated and replaced by CoreDNS, that has support for AAAA records since https://github.com/kubernetes/kubernetes/pull/44403

[2019-10-14 04:44] prameshj commented on #314
/close

[2019-10-14 04:44] #314 closed

[2019-10-14 12:56] chrisohaver commented on #315
This issue refers to updating the k8s cluster dns spec itself, which does not currently mention AAAA records.

The update could be as simple as replacing `A` with `A/AAAA`, in the document.

[2019-10-14 18:41] bowei commented on #315
/lifecycle frozen

[2019-10-14 19:25] sftim commented on #315
/kind feature

[2019-10-16 17:19] #306 closed

[2019-10-20 19:08] Dr-Shadow commented on #282
For anyone walking by here and trying to import the network file above, the Match patterns should be whitespace separated unless you want all interfaces to fail at next boot with following log :

[code]

[code]

[2019-10-23 12:45] realknorke commented on #266
We patched the Kubernetes-Plugin of CoreDNS. Now it is possible to resolve a podname. If someone is interested just give me a shout.

[2019-11-05 09:18] devilmind81 opened #329 "kube-dns is not working as expected on GKE Cluster 1.14.7-gke.14"
Hi All,
I have created a GKE cluster  from scratch on Gcloud selecting the latest available version:
**1.14.7-gke.14**

I need to resolve from all pods in a specific namespace an external DNS record pointing to an external DNS server so I have edited the kube-dns config map adding the following:

[code]

The issue is:

[code]

to test the DNS resolution I'm using a pod created with the following y

[2019-11-05 15:49] devilmind81 commented on #329
I'm sharing the root cause of the issue.
I have noticed that GKE installing the ip-masq-agent by default on each node and that exclude the 10.0.0.0/8 subnet range from the masquerade.
Since my DNS server is in that range I'm not able to reach it.
I have applied a workaround in order to fix this and in order to made each node not ready for ip-masq-agent schedule changing the lables of each node but

[2019-11-05 17:10] #320 closed

[2019-11-11 02:55] ScubaDrew opened #332 "Headless Service DNS during rollingUpdate?"
I've searched the documentation thoroughly for the timing of pod removal from DNS in a headless setup.

I am looking for this because I am concerned about this situation:

I'm trying to use headless services and do DNS discovery as shown in the documentation. However, you have to poll DNS for changes. As far as I can tell, if I poll DNS every 2 seconds, and during a rollingUpdate a pod it terminat

[2019-11-11 13:46] chrisohaver commented on #332
CoreDNS is informed relatively immediately about changes in Service Endpoints (via an Endpoint events watch).  However by default CoreDNS gives all records a TTL of 5 seconds, so a terminated Pod will not expire from cache for up to an addtl 5 seconds. You can configure the default TTL to be 0 to prevent records from caching.

[2019-11-11 23:12] bowei commented on #329
cc: @varunmar

[2019-11-11 23:13] bowei commented on #329
You may want to open an issue (link to this one) on the ip masq agent repo (https://github.com/kubernetes-sigs/ip-masq-agent)

[2019-11-12 19:32] ScubaDrew commented on #332
Thank you @chrisohaver -- I checked it it looks like the default config might be 30 seconds?

https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

[code]

[2019-11-12 19:51] chrisohaver commented on #332
That is the maximum time a record will be cached for. IOW if the TTL of a record is > 30 seconds, it will only remain in cache for 30 seconds.

The default TTL for Kubernetes DNS records is 5 seconds.  That can be changed by adding the `ttl` option to the [kubernetes](https://github.com/coredns/coredns/tree/master/plugin/kubernetes#syntax) section of the CoreDNS config.

[2019-11-12 19:52] ScubaDrew commented on #332
@chrisohaver You are amazing. Thank you for your time. Beyond the DNS cache setting - do you think it is possible to get the same level of reliability with headless services as with routing through IPTABLES ie: via a Kubernetes service ?

[2019-11-15 15:39] chrisohaver commented on #332
From the DNS perspective it should be.  I can't speak authoritatively of the reliability of cluster IP vs headless networking as a whole though.

[2019-11-22 12:49] #266 closed

[2019-11-24 03:14] qinshuang1998 opened #333 "Why my coredns can't work every time when i resume the VMware?"
i run k8s master in virtual machine, VMware Workstation 15.5.0 Pro, and everything is good
[code]
but every time i suspend VM, and then resume VM, the coredns will crashed
[code]
i'am sure that my configuration of DNS and others are correct, because it's OK befor i suspend VM. this is the error logs:
[code]
then i run a busybox to see dns configuration in container:
[code]
it's right, but:
[code]

[2019-11-24 14:14] #318 closed

[2019-11-27 10:38] novakov-alexey commented on #266
@realknorke I am quite interested in your patch for CoreDNS. Could you share it here?

[2019-11-27 14:25] realknorke commented on #266
Can you read the fork: https://github.com/smartclip/coredns ?
When resolving a podname (hostname from within a pod) the K8S coredns plugin asks Kubernetes for the IP for a given podname.

[2019-11-27 15:59] novakov-alexey commented on #266
@realknorke yes, I can read the fork.

Perhaps I misunderstood your patch logic. I am looking for pod name, which does not have dashed IP in it. Currently in my AKS cluster with CoreDNS, my StatefulSet PODs are resolved as
`10-244-1-81.<service>.<namespace>.svc.cluster.local`, but I need to stay as
`<pod_name>.<service>.<namespace>.svc.cluster.local`. I use headless service in the StatefulSet

[2019-11-28 09:15] realknorke commented on #266
The IP-ish hostname is always resolvable. What is not resolvable is the podname (das is NOT the service name, i mean that hostnames with $random in it for ReplicaSet, Deployment or with numbers in StatefulSet).

We need podnames resolvable because for some services the application in the pod determine his hostname, transfer that hostname to some other instance and that instance then wants to conne

[2019-11-28 13:55] novakov-alexey commented on #266
Understood, your case now.

In our situation, we want StatefulSet POD hostnames remain as:
`<pod_name>-<index>.<service>.<namespace>.svc.cluster.local`,
so that we can configure our services in advance by knowing the domain name and number of replicas we can generate full list of address for entire StatefulSet. Having IP-ish hostname, which is resolvable - yes, does not allow to generate required

[2019-12-02 14:19] chrisohaver commented on #333
[code]

"no route to host" means that CoreDNS does not have a route to the k8s API server, which means it cannot retrieve the data it needs to build DNS records for k8s services.

The problem is in the cluster networking, not within CoreDNS.  Perhaps with the CNI (weave), or in the host network.

[2019-12-03 02:37] qinshuang1998 commented on #333
yes, @chrisohaver i think u are right and solved this, THX

[2019-12-03 02:39] #333 closed

[2019-12-03 10:23] woopstar commented on #306
We are glad to help out with this issue! Thank you @prameshj for helping out on an official solution to this.

[2019-12-04 09:51] axot opened #334 "Memory usage for kube-dns"
We found the memory usage of kubedns container keep growing and will hit the resource limit(170Mi). For now we have to restart these PODs to prevent OOM Kill. Is it as expected?

Environment:
GKE 1.13.7-gke.24

![image](https://user-images.githubusercontent.com/611054/70131933-7fb31580-16c6-11ea-89e0-8ee74c3468c2.png)

[2019-12-06 00:24] MrHohn commented on #334
@prameshj Is this the same as https://github.com/miekg/dns/issues/807? If so this is fixed in a newer GKE version.

[2019-12-06 00:26] MrHohn commented on #334
Or will be fixed :)

[2019-12-06 01:59] prameshj commented on #334
Are client pods connecting to kube-dns over tcp? If yes, then it is same as miekg/dns#807

[2019-12-06 02:45] axot commented on #334
Yes, most connections are from node-cache with force tcp option.

--
Zheng Shao

[2019-12-06 05:49] prameshj commented on #334
Yes, if you use nodelocaldns, that will be the default. That is a good point, the chance of hitting this OOMKill scenario is higher with nodelocaldns enabled.  The fixed kube-dns image is here - k8s.gcr.io/k8s-dns-kube-dns-amd64:1.15.8

[2019-12-06 06:00] axot commented on #334
@prameshj Thanks for the latest image for fixing this. Is there a way to use this new image for GKE?

[2019-12-06 06:02] prameshj commented on #334
I will submit a patch to update the image on GKE. You could run a custom kube-dns deployment and use the specified image until then.

[2019-12-12 15:25] rtheis commented on #321
/remove-lifecycle stale

[2019-12-13 23:57] bowei commented on #315
cc: @lachie83
Is this tracked on the IPv6 work?

[2019-12-14 03:45] lachie83 commented on #315
Investigating

[2019-12-14 08:39] aojea commented on #315
@bowei @lachie83 I can take this and submit a PR to modify the DNS specification for IPv6
/assign

[2019-12-14 08:40] aojea commented on #315
/lifecycle active

[2019-12-18 00:14] marcoamorales commented on #334
@prameshj what's the difference between `k8s.gcr.io/k8s-dns-kube-dns-amd64:1.15.8` and `k8s.gcr.io/k8s-dns-node-cache:1.15.8`?

we're still seeing a constant increase of memory usage using `k8s.gcr.io/k8s-dns-node-cache:1.15.8` FWIW

[2019-12-18 00:25] prameshj commented on #334
The 2 images are very different. node-cache uses CoreDNS(https://github.com/coredns/coredns), kube-dns is a different DNS server with implementation in this repo.

Are you seeing a regression from a previous node-cache image?

[2019-12-18 17:03] #315 closed

[2019-12-19 17:53] lachie83 commented on #315
Thanks @aojea

[2019-12-26 18:40] bowei commented on #323
/lifecycle-remove stale
/lifecycle frozen

[2019-12-30 23:20] prameshj commented on #324
/remove-lifecycle stale

I just realised that the initial ask is not about supporting IPVS. Regarding providing a component to switch between kube/CoreDNS and NodeLocalDNS, this was left as user's choice. Are you looking for some sample scripts/pod image for a component that will perform this check?

[2019-12-30 23:20] prameshj commented on #324
/assign @carter-zhao

[2019-12-31 16:16] bplotnick commented on #324
@prameshj This is necessary for us too. A sample script/pod image would be really helpful. But this would still cause drops during the time that it takes to detect the failure.

Running multiple instances with SO_REUSEPORT would _also_ be necessary to handle single pod failures without drops (technically DNS requests in flight for the failed pod would be dropped).

We also need to have a strategy

[2020-01-03 06:01] champtar opened #338 "k8s-dns-node-cache doesn't support iptables-nft"
Right now k8s-dns-node-cache only support iptables-legacy
It would be nice to select iptables-legacy / iptables-nft automatically
see https://github.com/kubernetes/kubernetes/pull/82966 for how kubeproxy does it

[2020-01-08 09:49] #334 closed

[2020-01-10 18:42] kallisti5 opened #339 "Enhance discovery of parallel containers via DNS"
(this was moved over from https://github.com/kubernetes/kubernetes/issues/87085)

**What would you like to be added**:

DNS records added to kubedns for various things such as deployments and pods to ease discovery of parallel containers

Example:

[code]

* ```dig coolapp.coolnamespace.deployment.cluster.local```
  * A 10.53.0.12
  * A 10.53.0.45
  * A 10.53.0.64

* ```dig coolapp-324sdf.coolname

[2020-01-10 18:46] chrisohaver commented on #339
You can leverage a headless service to handle the Deployment case.
Doing so more or less would result in ...

[code]

CoreDNS has an option to use pod names as the names instead of hostnames.

[2020-01-10 18:51] kallisti5 commented on #339
this is literally the best thing ever and gets me a lot closer.
Only down side is I can't leverage the local hostnames.

In my example:
  Jira knows of three members in the cluster "coolapp-345t6, coolapp-3425e, coolapp-523g4"

Jira in each pod injects puts it's existence into a ReadWriteMany share. The pods then attempt to communicate with each other for cluster health via "coolapp-345t6"

Lookin

[2020-01-10 18:56] chrisohaver commented on #339
The option is `endpoint_pod_names`

https://github.com/coredns/coredns/tree/master/plugin/kubernetes#syntax

[2020-01-10 18:58] kallisti5 commented on #339
ack.  I'm in gke which uses kube-dns.  Is CoreDNS going to replace kube-dns as the default?

[2020-01-10 19:06] chrisohaver commented on #339
AFAIK, that's the plan, although I don't know what the time table is.

[2020-01-10 20:39] mark-church commented on #339
@kallisti5 I am from the GKE Networking team. We are certainly evaluating CoreDNS as a default option but it does not come by default right now in GKE. Alternatively, CoreDNS could be deployed manually on GKE to achieve this.

[2020-01-10 20:40] johnbelamaric commented on #339
For GKE, if you want to use CoreDNS, you can do that, you need to scale
down kube-dns and scale up CoreDNS. You have to scale down the kube-dns
autoscaler too (you may want to add one for CoreDNS). Don't do this in a
running production cluster, it will take down DNS...if that's your
situation we can discuss the planning a bit more...

kubectl -n kube-system scale --replicas 0 deployment/kube-dns-a

[2020-01-11 18:45] bowei commented on #339
@kallisti5 want to dig more into why the headless service is not working in this case. Is it because Deployment generated pods doesn't support hostnames?

[2020-01-11 18:46] bowei commented on #339
Also -- depending entirely on CoreDNS features will not guaranteed be portable (the behavior is not part of the Kubernetes spec)

[2020-01-13 14:49] kallisti5 commented on #339
@bowei  The usage example is how Jira clusters...

* Create a Deployment.  ReadWriteMany.* .  replicas = 3
* Each pod places it's hostname (coolapp-5tt4r, coolatpp-325ter, etc) into sharedpv/cluster_members
* All 3 cluster members begin to attempt to communicate with each other via the hostnames they entered.
* While the local system can resolve it's own hostname, none of the other members resolve

[2020-01-14 23:44] prameshj commented on #339
Is there a reason the pods cannot put their IP addresses instead? I am guessing since you use deployments and the pods in the deployment might get a different name if deleted and re-added, there is a mechanism to keep the cluster_members info updated. So the Pod IP addresses can be stored and updated as well?

[2020-01-15 07:07] carter-zhao commented on #324
@prameshj   Currently we choose to use the proposal which uses dnsmasq as local dns.   The nameservers in the reslov.conf include local node ip and coredns cluster ip.

[2020-01-15 07:43] prameshj commented on #324
You are right about there being drops while the pod performing checks detects nodelocaldns failure and flips to use CoreDNS/ClusterDNS. For example, performing a dns probe every second and setting a threshold of 5 continuous DNS failures and flipping to ClusterDNS can have a downtime of upto 5s, if nodelocaldns pod is actually not answering queries. Also frequently switching between nodelocaldns a

[2020-01-21 02:23] bplotnick commented on #324
@prameshj I think 5s is fine for now (though many clients will wait up to 5s for DNS timeouts, so this is something like 10s worst case). We'll just need to treat it as a critical service with a tight SLO. We can crank up the check frequency if needed. I don't foresee issues being frequent, and if it is we'll need to work really hard to ensure stability.

I think the upgrade story is actually tric

[2020-01-21 03:22] prameshj commented on #324
Thanks @bplotnick . The failover to kube-dns service on upgrade happens automatically.. as node-local-dns pods exit cleanly, they will delete the custom iptables rules that were setup to intercept traffic to kube-dns service. As long as the node-local-dns pod is up, requests from client pods to kube-dns ip will go to node-local-dns pod.  Once node-local-dns exits cleanly, the rules are removed, an

[2020-01-21 06:44] bplotnick commented on #324
Ah right. So in effect in a rolling upgrade, the rules will be deleted and then re-added by the new pods. This makes sense, thanks! And if you are able to share the checker code, that would be great too.

[2020-01-21 07:16] prameshj commented on #324
sure, Will share it here as well as in the README/docs once I have something tested.

[2020-01-22 15:56] ehsanrocket opened #341 "ndots:5 cause the long time name resolution"
Hi all
I deploy a kubernetes with CoreDNS
on every pod , the resolve.conf file have `ndots:5 `entry that cause the name resolution takes too long or ends with bad address
how can I change this value to 0 in CoreDNS.

cat /etc/resolve.conf:

[code]

[2020-01-22 16:11] chrisohaver commented on #341
The contents of resolv.conf is not controlled by CoreDNS.  It's copied to the pods by kubelet, based on the Pod's dns policy.

I think you can set a dnsConfig on Pods to override the ndots settings.  There may also be a way to alter the clusterFirst dnsPolicy (the default that pod's use) with a custom ndots.

Note however, that many applications rely on short name address resolution, and setting n

[2020-01-27 09:56] yannh commented on #324
Hi @prameshj ! Congrats on shipping to GKE :tada:  :)

I think it might be a bit tricky to run two separate daemonsets of nodecache at the moment. Nodecache tries to remove the interface it binds to when it exits, and when it restarts, tries to remove it again & then recreate it. This would likely leave your other nodecache daemonset in an unknown state.

Because this was a concern to us, we devel

[2020-02-03 22:48] prameshj commented on #324
Thanks Yann for trying out and reporting the issue. I think we will need something similar to your skipteardown flag in the node-cache binary as well, to snot tear down the interface in the ha mode. I have not begun working on this yet, will update here when I do.

[2020-02-08 18:43] #341 closed

[2020-02-08 18:47] ehsanrocket commented on #341
thank you @chrisohaver
I have appended these lines to my pod's yaml file:
[code]
and now it works correctly

[2020-02-10 19:12] bowei commented on #321
/assign @prameshj

[2020-02-10 19:41] #321 closed

[2020-02-19 21:15] Nastradamus opened #346 "-profiling flag for node-cache"
In `k8s.gcr.io/k8s-dns-node-cache:1.15.8` I've got an error while trying to enable profiling with command args:

[code]

[2020-02-20 17:59] Nastradamus commented on #346
I figured it out and made Helm chart with support of profiling in 1.15.8:
https://github.com/Nastradamus/myhelmcharts/tree/master/nodelocaldns

[2020-02-21 05:44] ianhe8x opened #347 "dns no servers could be reached"
Hi all,
I have a gke cluster just setup, master version v1.15.7-gke.23

Werid thing happens for dns, and i uncover a few interesting thing about the dns.

during my debug:
`kubectl run -i --tty --image alpine dns-test --restart=Never --rm /bin/sh`

[code]

[code]

but if i query via kube-dns's pod ip, it works

[code]

[code]

Anyone can help, i'm stucked here for whole day already.

[2020-02-21 07:19] bowei commented on #347
Did you trace the packet to the DNS service? (It may not be a DNS problem, more like a generic networking problem)

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2020-02-21 22:36] ianhe8x commented on #347
It doesn't involve my own services, so i didn't try methods in debug-service.

[2020-02-21 23:02] bowei commented on #347
We need more information to understand what is the problem.
If you can get the user to run the debug-service workflow, then we can make more progress on this issue.

[2020-02-22 01:07] ianhe8x commented on #347
Thanks for your help. I think this issue isn't worthy our time for further investigation. It is newly created cluster, and i created a new one which works fine.

[2020-02-22 01:07] #347 closed

[2020-02-22 18:50] #312 closed

[2020-02-25 16:52] overdrive3000 commented on #324
How can I achieve this? I am trying to setup two NodeLocalDNS daemonsets but just one of them is being deployed the other one keep in `Pending` status due this error:

[code]

Even if I try to use different linklocal ip in each daemonset. Some help would be appreciated it.

[2020-02-25 18:44] yannh commented on #324
Hi @overdrive3000 , currently coredns-nodecache ( https://github.com/contentful-labs/coredns-nodecache ) is the only solution that allows you to run 2 daemonsets. It is a different project from Nodecache hosted here, and the configuration differs. As @prameshj  mentioned, additional work is needed for nodecache to supports this - someone needs to take the time to implement it!

[2020-02-25 18:54] prameshj commented on #324
This specific error is because the ports are conflicting. Metrics port of 9253, health port of 8080 in addition to port 53. If you use different ports for health and metrics in the second daemonset, and specify a node-cache image of k8s.gcr.io/k8s-dns-node-cache:1.15.8, this should work. I have not completely verified it does. I can check and report back today or tomorrow.

As Yann mentioned, addi

[2020-02-26 09:47] overdrive3000 commented on #324
Thank you @yannh @prameshj for your responses. If the current version of nodelocal-dns cannot guarantee true HA yet, then I will try another strategy like draining my nodes during nodelocal-dns updates and wait for final version when it gets GA.

[2020-02-27 00:13] prameshj commented on #346
Is the issue still valid? Does profiling work if a port is specified?

[2020-02-27 00:13] prameshj opened #349 "Explore adding all default coreDNS plugins to node-cache"
/assign

[2020-02-27 00:33] axot commented on #349
Thanks, one more benefit is with more plugins we have, almost cases of Corefile changes could be done with reloading instead updating the binary and restart the Pod.

[2020-02-27 06:16] Nastradamus commented on #346
Yes, issue is solved. Profiling is working if port is specified inside Coredns config (see my Helm chart example in the link above).

[2020-02-27 06:16] #346 closed

[2020-02-27 21:47] pnovotnak opened #351 "Cut a new tag/ release"
We (Reddit) need to take advantage of the recent changes since 1.15.9 and are hoping a new release or at least new images pushed.

[2020-02-27 21:56] bowei commented on #351
@prameshj

[2020-02-27 21:56] bowei commented on #351
/assign @prameshj

[2020-02-27 21:59] prameshj commented on #351
I will try to get one more change PR in and get the release.

[2020-02-28 01:05] prameshj commented on #81
/assign @chrislovecnm

anything more needed here?

[2020-03-03 23:31] prameshj commented on #282
Checking back here - @dannyk81  given that you added the nodelocaldns interface to the network file, to be ignored, do we still need that additional setupNetworking call?
I am planning to remove it in https://github.com/kubernetes/dns/pull/353

[2020-03-04 00:26] dannyk81 commented on #282
Hi @prameshj, this step indeed seems redundant at this point as long as systemd-networkd is setup to ignore the nodelocaldns interface 👍

[2020-03-04 00:57] caruccio commented on #338
This is a show stopper for centos 8.

[2020-03-04 19:57] dobesv commented on #339
Currently the headless service approach doesn't work for this because it seems like you cannot set a unique `hostname` on each pod, and for some reason the `hostname` must be explicitly set to enable the IP address being setup in DNS.  The docs say that `hostname` defaults to the name of the pod, but it seems like this isn't strictly true, since a DNS name is not assigned to the pod unless it has

[2020-03-05 01:20] prameshj commented on #351
1.15.9 images have been released.

[2020-03-05 01:20] prameshj commented on #351
/close

[2020-03-05 01:21] prameshj commented on #282
Thanks for confirming @dannyk81

[2020-03-05 07:30] pnovotnak commented on #351
@prameshj Did you mean to push these images as `1.15.10`?

[2020-03-05 16:16] prameshj commented on #324
@overdrive3000 @yannh  I was able to get this to work with a second yaml like this:

[code]

I had to skip specifying container port 53, otherwise, the pods were in pending state, even though CoreDNS uses SO_REUSEPORT. Both Daemonsets do listen on port 53 though.

I added a -skipteardown flag in https://github.com/kubernetes/dns/pull/354 , that's the image i used.
The caveat here is : Both the pri

[2020-03-05 16:18] prameshj commented on #351
oops... yes, you're right. I will update the tag 1.15.10 to also include https://github.com/kubernetes/dns/pull/354 and push the images today.

/reopen

[2020-03-05 21:50] prameshj commented on #351
1.15.10 images are now available.
k8s.gcr.io/k8s-dns-node-cache:1.15.10

/close

[2020-03-05 21:50] #351 closed

[2020-03-06 00:53] champtar commented on #338
I rebuilt with
[code]
And tested on CentOS8 / nft it works fine
Just need to fight with the Makefile a bit and I'll try to send a PR

[2020-03-14 18:14] semoac opened #356 "Reload plugin not working on k8s-dns-node-cache"
Hi.

I notice that, on k8s-dns-node-cache, `/etc/Corefile` isn't updated when  `/etc/coredns/Corefile.base` changes, making the `reload` plugins useless.

I'm using `k8s.gcr.io/k8s-dns-node-cache:1.15.10`.

Cheers!

[2020-03-14 18:17] semoac opened #357 "Missing template plugin on k8s-dns-node-cache"
Please add `template` to the plugin list on:

https://github.com/kubernetes/dns/blob/master/cmd/node-cache/main.go

`template` is a really useful plugin to capture AAAA requests or any another unwanted query.

[2020-03-15 17:36] semoac opened #358 "skipteardown not working"
Hi.

I'm using k8s.gcr.io/k8s-dns-node-cache:1.15.10 and the `-skipteardown` is not working.

[code]

This  problem makes  inviable the HA setup because  the rollout of one DS will cause a restart on  the other when removing the interface.

For now, the team and I solve this issue putting two sets of DS on different pairs of IP/interfaces and using two nameservers on `/etc/resolv.conf` with the `r

[2020-03-18 14:56] caruccio commented on #338
Thanks! It's working now.

[2020-03-18 15:02] champtar commented on #338
@caruccio you rebuilt the image yourself ? because I don't see a new release with #355 in it

[2020-03-18 15:36] caruccio commented on #338
@chadswen I was able to run it with gcr.io/google-containers/kube-proxy:v1.16.9-beta.0

[2020-03-18 15:46] caruccio commented on #338
@champtar where are you looking at for the builds? Is this a public read-only CI?

[2020-03-18 17:00] champtar commented on #338
I was just looking at the tags:
https://github.com/kubernetes/dns/releases

[2020-03-18 17:51] caruccio commented on #338
OH ... maybe google is building images from `master`?

[2020-03-18 18:28] champtar commented on #338
You are talking about kube-proxy, this is k8s-dns-node-cache*
https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/k8s-dns-node-cache-amd64?gcrImageListsize=30

[2020-03-18 19:31] caruccio commented on #338
<img src="https://user-images.githubusercontent.com/540936/76998671-441a1f80-6934-11ea-855c-5fcd30f0230d.gif" align="left" height="100">
Even so, this is the same issue in kube-proxy. I will wait for this fix to be release, until then, kube-node-dns is disabled for me. Thanks and sorry for the mess :)

[2020-03-18 19:37] champtar commented on #338
For kube-proxy this is fixed in 1.17+

[2020-03-18 20:11] caruccio commented on #338
For whoever makes the same mistake as I did, the PR for kube-proxy is this https://github.com/kubernetes/kubernetes/pull/82966

[2020-03-19 21:46] prameshj opened #359 "Upgrade to coreDNS 1.7.0"
Use the max_concurrent option to limit the number of concurrent connections in nodelocal DNSCache, to limit memory usage.

https://github.com/coredns/coredns/releases >v1.6.7 has https://github.com/coredns/coredns/pull/3640
#3640 plugins/forward: Add max_concurrent option

/assign

[2020-03-26 04:25] guangbaowan opened #360 "any better way to monitor lookup time?"
hi, we build a micro service system using k8s and use jaeger for tracing .now found sometimes it takes hundreds of milliseconds when do dns lookup. is there any suggestions for monitoring the duration ? thx .

[2020-03-26 13:57] chrisohaver commented on #360
CoreDNS exports a Prometheus metric for latency, but this is just the latency "within" CoreDNS.  It cannot capture the full round trip time to the client.

There are a handful of tools out there that monitor dns latency from the client perspective, but I could not find any that output metrics to Prometheus.  So, I wrote a simple monitoring program for my own purposes, [dnsdrone](https://github.com

[2020-03-27 03:12] guangbaowan commented on #360
thx. i will try it .

[2020-03-27 06:50] #358 closed

[2020-03-27 07:20] taozhi8833998 commented on #170
got the same issue, remove the `localdomain` in search list can fix my problem, but it's strange.

[2020-03-28 10:13] witalisoft opened #362 "node-cache misleading default value for syncinterval"
https://github.com/kubernetes/dns/blob/9bec2dd2987430f68bc9c7e470c2260d6b1170d4/cmd/node-cache/main.go#L62

default value means 60ns, pretty often

[2020-04-09 18:12] EppO opened #365 "dns node cache container v1.15.11 is missing iptables binary"
current DNS node cache deployment using 1.15.11 are filled with this kind of logs:
[code]
Rolling back to 1.15.10 for now.

[code]

[code]

[2020-04-09 22:30] prameshj commented on #365
I was just about to open the same issue. Thanks for filing this. The base image was changed in https://github.com/kubernetes/dns/pull/355

@champtar can you take a look?

[2020-04-10 00:10] champtar commented on #365
@prameshj I'll have a look right now

[2020-04-10 00:15] champtar commented on #365
[code]

[2020-04-10 01:15] prameshj commented on #365
what about if you try the node-cache 1.15.11 image?

[2020-04-10 01:19] #329 closed

[2020-04-10 01:21] champtar commented on #365
node-cache 1.15.11 is broken for sure
This if
https://github.com/kubernetes/dns/blob/40b665f324c13c7c52cffdfd3453a52af2375db5/rules.mk#L32
doesn't work, so we use debian-base instead of debian-iptables

[2020-04-10 03:12] champtar commented on #365
Sorry for the poor testing, here a fixed version https://github.com/kubernetes/dns/pull/367

[2020-04-13 17:46] #332 closed

[2020-04-15 21:27] champtar commented on #338
#355 was reverted, this will be fixed by #367

[2020-04-16 15:54] ddziuda commented on #333
@qinshuang1998, how did you solve it ?

[2020-04-17 05:17] qinshuang1998 commented on #333
@ddziuda If you are the same as me, you can see this first: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/, if not, you can also try this and waiting:

if it fault too, maybe the below is for you:
[code]

[2020-04-17 16:05] ddziuda commented on #333
Thanks. <docker rm -f $(sudo docker ps -a -q)> works for me. I thought you had a permanent solution.

[2020-04-18 06:27] prameshj commented on #365
This is fixed in image - k8s.gcr.io/k8s-dns-node-cache:1.15.12

/close

[2020-04-18 06:27] #365 closed

[2020-04-18 06:31] prameshj commented on #356
Does update happen if the node-local-dns configmap changes? I have verified this to be working.

Another way to trigger a reload is by configuring stubDomains via kube-dns configmap[1] , node-cache automatically picks those up. It can take a minute or so for the config to be updated.

[1] https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#configure-stub-domain-and-upstream

[2020-04-18 06:44] prameshj commented on #362
We create a ticker by treating this value as Second.
https://github.com/kubernetes/dns/blob/9bec2dd2987430f68bc9c7e470c2260d6b1170d4/cmd/node-cache/app/cache_app.go#L182

I wrote a simple example to make sure this works as expected (Used 6s in the example)
https://play.golang.org/p/_wzR-BXfuEb

[2020-04-21 08:16] shanmukha511 opened #376 "Dns resolve did not respond within 5.000 s"
Hi Team,

Getting below error . Did anyone has faced this error?
Dns resolve did not respond within 5.000 s

How to fix this issue?

[2020-04-23 13:44] aojea commented on #376
/close

This is a duplicate of https://github.com/kubernetes/kubernetes/issues/90369

[2020-04-23 13:55] #376 closed

[2020-04-24 18:27] #357 closed

[2020-04-26 13:39] witalisoft commented on #362
Thanks

[2020-05-18 15:44] justaugustus commented on #338
/reopen
(until https://github.com/kubernetes/dns/pull/367 merges)

[2020-05-28 19:26] igorvpcleao opened #381 "TIME-WAIT connections :8080"
Hi,

I've noticed relatively high number of connections in a TIME-WAIT state targeting `node-dns` (I believe they're for its health route). It's awkward that the number of `node-dns` connections in this state is greater than all other TIME-WAIT connections we have. Am I analysing it badly? Wondering if this may be a bug.

[code]

[code]
`node-dns` running on top of EKS with Kubernetes 1.15.11.

[2020-06-02 21:41] kallisti5 commented on #339
/remove-lifecycle stale

[2020-06-06 00:49] BigaDev opened #382 "Shared DNS between two kubernetes clusters"
Let us assume that there are two kubernetes clusters and there is a pod A in the first cluster and pod B in the second cluster and add to this that those two clusters in the same subnet. I need to call inside pod A and service inside pod B using the pod service record ( A/AAAA records) (for info about Kube dns: DNS for Services and Pods - Kubernetes 1)

Currently I depend on the pod internal priva

[2020-06-10 01:50] bowei commented on #382
We don't specify a Kubernetes API per se, however, have you look at something like https://coredns.io/plugins/transfer/ with a unique cluster suffix?

Another avenue is https://github.com/kubernetes-sigs/external-dns

[2020-06-10 05:49] johnbelamaric commented on #382
Zone transfer works. Alternatively see the kubernetai plugin at
https://coredns.io/explugins/kubernetai/
 and
https://github.com/coredns/multicluster-dns.

None of this works as well as you’d like if cluster IPs are not routable -
which is normally the case.

John

On Tue, Jun 9, 2020 at 6:50 PM Bowei Du <notifications@github.com> wrote:

[2020-06-11 18:02] pnovotnak opened #383 "Migrate to go modules"
Go modules is faster and better supported

[2020-06-12 02:49] akshaysin commented on #55
/reopen
Was this feature ever added ?

[2020-06-12 18:56] johnbelamaric commented on #55
@akshaysin not to kube-dns. you can do it with CoreDNS, probably most easily via the `hosts` plugin (which IIRC auto-reloads when the hosts file changes, so you can stick it in a configmap and distribute new entries that way)

[2020-06-16 08:32] GovardhanDo commented on #347
where you able to fix this issue?

[2020-06-16 08:33] GovardhanDo commented on #347
I ran into the same problem,

[2020-06-16 15:53] bowei commented on #347
Please open a new issue w/ your specific problem. Commenting on closed issues will likely be ignored.

[2020-06-17 22:28] prameshj commented on #359
OSS k8s is still using 1.6.7, Will wait for that to upgrade before upgrading in node-cache.

[2020-06-18 16:50] rajansandeep commented on #359
#3640 plugins/forward: Add max_concurrent option

This is included in CoreDNS 1.6.9.
Although, CoreDNS 1.7.0 was released yesterday and we plan to include it for k8s 1.19

Note: 1.6.8 is a broken release

[2020-06-18 17:23] prameshj commented on #359
Thanks for the information, Sandeep. I will aim to update to 1.7.0 after the k8s update.

[2020-06-28 01:59] KateGo520 opened #385 "Errors you may encounter when upgrading the library"
(The purpose of this report is to alert `kubernetes/dns` to the possible problems when `kubernetes/dns` try to upgrade the following dependencies)

## An error will happen when upgrading library _prometheus/client_golang_:

### github.com/prometheus/client_golang
-Latest Version: v1.7.1   (Latest commit b0cdec2 3 days ago)
-Where did you use it:
https://github.com/kubernetes/dns/search?q=prometheu

[2020-06-28 02:17] KateGo520 commented on #385
@prameshj  @pnovotnak  Could you help me review this issue? Thx :p

[2020-06-30 16:34] jonesbr17 opened #386 "Images impacted by CVE-2020-3810"
Latest images are impacted by [CVE-2020-3810](https://nvd.nist.gov/vuln/detail/CVE-2020-3810). The apt package in the images will need to be updated to a version >= 1.4.10 to resolve the vulnerability.

[2020-06-30 20:33] 123BLiN opened #387 "DNS intermittent delays of 1/2s with nodelocaldns"
We have an issue that we are troubleshooting almost a week for now related to the well known issue with DNS conntrack race conditions ( https://github.com/kubernetes/kubernetes/issues/56903 ) and I hope someone hits it too and can at least confirm we are not alone here.

- We have applied node-local-dns setup that was intended to mitigate all races in conntrack due to the fact that it listens on t

[2020-07-01 06:06] zackzhangkai opened #388 "nodelocaldns podIp same as hostIp"
Hi, why is the pod IP of nodelocadns same as the IP of node?

[code]

[2020-07-01 07:09] zackzhangkai commented on #388
This is because of dameonse, whose hostnetwork is true.

[2020-07-01 07:09] #388 closed

[2020-07-01 19:48] prameshj commented on #362
/close

[2020-07-01 19:48] #362 closed

[2020-07-01 19:50] prameshj commented on #387
Any logs in node-local-dns pods? There will be error messages if node-local-dns does not get a response back from coreDNS upstream within 2s.

[2020-07-01 19:51] prameshj commented on #385
Could you clarify what the issue you are seeing is? Are you trying to upgrade the prometheus client version in this repo?

[2020-07-01 19:52] prameshj commented on #386
Thanks Bryan. Would you happen to know if bumping up the base image would help?

[2020-07-01 19:53] prameshj commented on #359
https://github.com/kubernetes/kubernetes/pull/92718 is updating CoreDNS in k8s.

[2020-07-01 19:53] prameshj commented on #356
Closing since there hasn't been a response.. please reopen if needed.

[2020-07-01 19:53] #356 closed

[2020-07-01 20:36] 123BLiN commented on #387
No errors in node-local-dns logs - I've set them to log everything.
Also today I've tried next steps without success:
- Change DNS config in pods to `use-vs` - it works as expected - all requests in node-local-dns are now TCP but delays are still present from time to time and are still 2s
- Change DNS opts timeout to 5s - delays are present and are 2s %)

This forwards me to the though, that maybe

[2020-07-01 22:19] prameshj commented on #381
I suspect these are connections from kubelet to the node-local-dns endpoint as part of livenessProbes. These should happen once in 10s... are there any other TIME_WAIT connections, excluding the node-local-dns ones?

[2020-07-01 22:24] prameshj commented on #381
We skip connection tracking for healthcheck connections so they don't take up entries in conntrack table - https://github.com/kubernetes/dns/blob/cefee85aafbf57eb6eae590007bddb3f1b9c3e8d/cmd/node-cache/app/cache_app.go#L112, it could be a side effect of that.

[2020-07-02 01:14] KateGo520 commented on #385
@prameshj  Thanks for your reply. This report is a warm prompt for you to prevent or combat this issue. Just let you know the problem if you upgrade this dependency in near future.

Hope this can help you.
Thanks again.
Kate

[2020-07-02 17:15] igorvpcleao commented on #381
Gotcha. Yeah, I also think this is what's going on. Regarding TIME_WAIT connections, overall there's just a few others from applications related traffic.

[2020-07-02 17:23] igorvpcleao commented on #381
I see. Ok. I don't think that by having this number of TIME_WAIT connections per node will cause us any harm, I was just concerned about the root cause ending up being something more problematic than this. If you're ok, I'll close this issue.

I really appreciate your time on this.

[2020-07-02 22:37] luigibk opened #389 "Add NodeLocalDNS support for Azure Kubernetes (AKS)"
Installation of NodeLocalDNS using the example manifest (minus the addon labels):

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml

is successful on Azure Kubernetes (AKS) using the Azure CNI with kube-proxy in iptables mode. However dns resolution does not work anymore after the installation.

At the end of the installation, on Azure (AKS run

[2020-07-06 08:20] inter169 commented on #387
maybe the app (jaeger) was using some invalid FQDN in the DNS query, or due to some incorrect DNS settings,
doing **tcpdump** or **strace against the app** is helpful.

[2020-07-06 16:53] jonesbr17 commented on #386
If there is a new base image with an updated version of apt, then yes bumping the base image should resolve the vulnerability.

[2020-07-07 01:04] chrislovecnm commented on #81
I have not tested this @prameshj or touched this in a while. I would say close it unless someone wants to recreate it

[2020-07-07 06:28] 123BLiN commented on #387
I'm going to dig into tcpdump, but this will take time, however I was able to make a simple test - change DNS domain name of the redis service to the concrete IP address in service configs - this removed any delays completely.
The name is external (redis.example.com) and is hosted in AWS Route53 zone.

[2020-07-09 09:15] 123BLiN commented on #387
We have found the cause of delays for our setup and it is DNS (as always) :smile:
I've made a couple of tcpdumps - one from the service pod and one from node-local-dns on the same node, in the first one it is clear that some responses from node-local-dns are slow and are 1,2 and 4 seconds. In the second dump I've probably found a reason for this behaviour - at the same microtime of slow 10-20 resp

[2020-07-09 09:15] #387 closed

[2020-07-09 13:29] prameshj commented on #387
I am not sure this will fix the issue. How do requests from pods reach AWS resolver(10.2.02) today? Has it been configured as a stubDomain? Replacing the upstream server will not disable searchpath expansion,  not sure if that's the intent.
You can remove force_tcp from the config for everything except "cluster.local" block. We did make this change in the recent node-cache image.

You can use the

[2020-07-09 13:43] chrisohaver commented on #387
That's correct.

[2020-07-09 18:53] 123BLiN commented on #387
Thank you very much for your answers and especially for `prefetch` option this is awesome feature!
I think we have found a way to go for us - it is another CoreDNS plugin https://coredns.io/plugins/route53/
as we have all popular records in the same internal zone, but we will check `prefetch` if route53 plugin won't work for us.

[2020-07-22 14:35] owengo commented on #356
I'm using k8s.gcr.io/k8s-dns-node-cache:1.15.10 also,
the issue is that when we edit the config-map node-local-dns  - which is mounted as /etc/coredns/Corefile.base - the /etc/Corefile is not re-generated and the configuration is not reloaded.
Even sending SIGHUP / SIGUSR1 does not work because /etc/Corefile is reloaded but not re-generated from the Corefile.base template.

Your workaround of edit

[2020-07-22 14:42] prameshj commented on #356
This should be fixed with https://github.com/kubernetes/dns/pull/377

can you try with 1.15.13 image?

[2020-07-22 17:03] #389 closed

[2020-07-25 06:37] lzp0412 commented on #324
Hi,  cleaning the rules when node-local-dns exits may work well on  iptables mode,but what about ipvs mode.  On ipvs mode,When we just have one node-local-dns pod, is there any way to intercept traffic  to kube-dns  service when node-loca-dns need to upgrade? One of the ways I came up with was to intercept the request of 168.255.10.20 to Kube-DNS service. But  how to let it work, i have not idea n

[2020-07-26 02:02] #349 closed

[2020-07-31 20:31] prameshj commented on #359
/remove-lifecycle rotten

[2020-07-31 23:10] prameshj commented on #359
@pnovotnak are you planning to work on this? I can try to get to this next week, in case you aren't actively looking into it.

[2020-08-07 02:27] mattfenwick opened #393 "Add support for IPv6 to node-local-dns"
Sorry if this issue has already been reported, is being tracked somewhere else, or shouldn't be reported here!

I'm reporting this to help make sure it gets tracked, based on [this issue](https://github.com/kubernetes/kubernetes/issues/93568) and [this comment](https://github.com/kubernetes/kubernetes/issues/93568#issuecomment-670218474).

[IPv4 is currently hard-coded](https://github.com/kubernet

[2020-08-07 14:09] jayunit100 commented on #393
@prameshj is this the right place to track this?

[2020-08-07 22:11] prameshj commented on #393
Yes, this is the right repo to track this task.

[2020-08-09 12:41] jayunit100 commented on #393
https://github.com/mattfenwick/dns/pull/1 <-- this is matts WIP to at least log the failure as "ipv6 not yet supported" current state of affairs.... @prameshj  ... should he flesh that out more ? or do you have other plans

@mattfenwick  maybe theres a cleaner way to grab the kube client to do that check?

[2020-08-10 14:45] prameshj commented on #393
Each of the node-local-dns pods listing nodes could be overkill, since this a daemonset. Maybe it is ok since this will be checked only once. If the node-local-dns pods start crashlooping for any reason, this could result in a lot more calls to apiserver.

Can we figure this out by listing interface IPs of the node? If it is dual stack , there will be both v4 and v6 address and in case of v6 only,

[2020-08-10 18:15] rtheis opened #394 "NodeLocal DNS container hung on SIGTERM"
We've seen the NodeLocal DNS container hang when receiving a SIGTERM.  This causes the container to eventually be terminated via SIGKILL thus leaving iptables rules behind.  Here is an example of the container logs captured during this hang.

[code]

I believe the hang is occurring when SIGTERM is received during a reload of the config.

[2020-08-11 19:38] mattfenwick commented on #393
@prameshj I can put together a PoC to try that out, will be the first time for me running a dual-stack cluster so excited to try :)  👍

What I'm not sure about [in this first pass](https://github.com/mattfenwick/dns/pull/1) is whether it's even okay for node-local-dns to get privileges to talk to the kube API server, is there a better way to detect the IPFamily of a cluster without needing extra p

[2020-08-12 21:06] prameshj commented on #393
Can we figure this out by listing interface IPs of the node?

[2020-08-16 17:45] bowei commented on #338
/remove-lifecycle stale

[2020-08-18 23:05] prameshj commented on #394
What image is this on?

[2020-08-19 10:15] rtheis commented on #394
Image version 1.15.13

[2020-08-19 14:33] prameshj commented on #394
How are you updating nodelocaldns config file? Is it by editing the configmap/coreFile directly?

I tried updating kube-dns configmap (which will trigger an update to the coreFile to pick up the new upstreamservers), and that reloads fine. I also passed in SIGTERM via docker to the node-local-dns pod and that was handled fine too. I tried with 1.15.13 image as well.

[code]

Logs:

[code]

Do the

[2020-08-19 14:49] rtheis commented on #394
@prameshj I updated the configmap via `kubectl apply`.  Both the config update and SIGTERM are handled fine by themselves.  This is a timing bug where a SIGTERM during the config update hangs.

[2020-08-19 15:00] prameshj commented on #394
is there a way to reproduce it?

[2020-08-19 15:14] rtheis commented on #394
Yes, but you'll likely have to run the test many times.  Basically update the configmap then terminate the pod at about the same time.

[2020-08-19 23:50] prameshj commented on #394
ok, few more questions:

How is it manifesting in your environment? Is the config being changed frequently/in an automated mechanism?
Any other pods running in hostNetwork mode that could be modifying iptables rules ? It could be contention for the iptables lock.
Why does the pod get killed with SIGKILL? is that manual?
Does it happen on all node-local-dns pods in the cluster or just on one node a

[2020-08-20 18:59] rtheis commented on #394
@prameshj We see the failure in our automated testing.  We run Calico which uses the hostNetwork and modifies iptables rules.  The SIGKILL happens because the Kubernetes termination grace period expires (default 30 seconds and we raised it to 15 minutes and still see the hang).  The hang normally only happens on one node during the test.

[2020-08-24 05:23] #360 closed

[2020-08-24 07:26] #324 closed

[2020-08-25 18:16] #386 closed

[2020-08-27 11:46] rtheis commented on #394
Update: This may not be related to the config reload.  I've seen a couple instances of this problem occur when there was no reload in progress.  It seems to me that this hang may be related to iptables lock contention rather than config reload.

[2020-08-28 05:30] prameshj commented on #394
seems https://github.com/coreos/flannel/issues/988 might be related. Is there any "resource unavailable" error in any of the hostNetwork pod or in journalctl/syslog on the node?

[2020-08-28 10:54] rtheis commented on #394
@prameshj I'll check the next time I see the problem.

[2020-09-02 11:37] YanzhaoLi opened #399 "How dns queries are redirected to nodeLocalcache pod"
The contents of `/etc/resolv.conf` in normal pods is generally the `clusterip` of coredns. When pod do dns query to the clusterip of coredns, I wonder how are these requests redirected to nodeLocalCache Pod?

I think the iptables rules are just used for NOTRACK. These rules wouldn't do this redirection.

BTW, how do I check whether the NodeLocalCache pod has intercepted the dns query

[2020-09-03 08:53] YanzhaoLi commented on #399
I found that the dummy interface makes the clusterip as a link local ip.
So in case of CNIs based on OpenvSwitch, the pod traffic would bypass guest cluster but instead enter into hypervisor directly, thus, nodeLocalCache wouldn't intercept any pod traffic

[2020-09-08 03:05] chengzhycn commented on #399
check the output of $(iptables-save |grep OUTPUT), you will find that all pod's dns trafiic are redirected to the localhost:53. And there is a node-cache pod listening port 53 which running in hostnetwork will handle these traffic

[2020-09-09 11:23] YanzhaoLi commented on #399
Thanks, @chengzhycn . But who created these rules on OUTPUT chain?  I didn't see these rules from the source code of NodeLocalCache: https://github.com/kubernetes/dns/blob/40926cd008c8f84c82b30bb0222450ddd30628d1/cmd/node-cache/app/cache_app.go#L94

[2020-09-09 13:21] Win32Sector opened #402 "How can I create dns records manually?"
Hi all!
I have microservice, it deployed with daemonSet on windows nodes in kubernetes cluster 1.18.6 on AKS.
I have another microservice it deployed with daemonSet on windows nodes too.
And I need communicate from first microservice on one node to second microservice on the same node.

Host networking and topologyKeys don't work in this case.

I need, when pods of second microservice start, creat

[2020-09-10 11:40] rtheis commented on #394
@prameshj I didn't see any "resource unavailable" errors during the latest recreate of this problem.

[2020-09-28 16:58] prameshj commented on #359
WIP PR - https://github.com/kubernetes/dns/pull/400

Currently hitting a log_dir flag redefined error:

[code]
[code]

[2020-09-28 18:47] rtheis opened #406 "Support rewrite plugin for NodeLocal DNS"
NodeLocal DNS does not support the CoreDNS `rewrite` plugin.  We have several customers that would like to enable NodeLocal DNS but are unable to do so because it does not support the `rewrite` plugin.

Related this, it would be ideal if there was documentation for which CoreDNS configurations are not supported for use with NodeLocal DNS.

[2020-10-06 15:38] Pryz opened #410 "Use upstream CoreDNS for NodeLocal Cache"
Hi there,

The current NodeLocal cache implementation is a custom binaries based on CoreDNS. The current design makes it hard to manage when you have a custom Coredns configuration.

I'm wondering if people are interested in been able to just use the upstream CoreDNS binary (or bring-your-own coredns) while still using the "cache binary" to setup the 169.254 network interface as well as the proper

[2020-10-18 15:39] tomfotherby opened #414 "Is version 1.15.4 the latest release?"
_[Please close this Issue if it's not an appropriate question to ask - in which case, sorry for wasting time]_

We currently use a old version of `k8s-dns-node-cache`, `1.15.3`,  and I want to upgrade. I'm trying to work out what version of `node-cache` **is recommended.**

Looking at the releases page ( https://github.com/kubernetes/dns/releases ) the `latest release` tag is on version `1.15.4` (

[2020-10-19 21:09] cyrus-mc opened #415 "Caching not working"
Trying to figure out where my configuration issue lies. I followed the official documentation, downloaded the manifests and replaced placeholders as instructed.

But what I am finding is that the cache feature isn't working. As a simple example I query a svc (ex: kube-dns.kube-system.svc.cluster.local) and get a successful response. I then immediately shutdown all cluster DNS pods and then issue t

[2020-10-19 21:31] cyrus-mc commented on #415
@chrisohaver Ya, that was it. Cluster coreDNS was not set so defaulted to 5 seconds.

Are there any best practices/recommendations on what to set that too? Should it match the nodeLocal agent at 30 seconds? Or else the setting in nodeLocal agent really never comes into play.

ClusterIP probably rarely change. Where I could see it being an issue is with headless services. Could have some delay if s

[2020-10-19 21:33] johnbelamaric commented on #415
If your cluster IPs rarely change you can up it to 30s in the upstream. But
it really depends on how the cluster is used. We chose 5s because we didn't
want to have too much latency after a service was deleted.

On Mon, Oct 19, 2020 at 2:31 PM cyrus-mc <notifications@github.com> wrote:

[2020-10-19 21:59] #415 closed

[2020-10-20 14:15] tomfotherby opened #416 "Align metrics names with upstream CoreDNS"
We use Amazon Elastic Kubernetes Service (EKS) and recently upgraded from 1.17 to 1.18. Part of the [upgrade process](https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html) recommends to upgrade DNS (CoreDNS) to `1.7.0`.

After the upgrade our DNS Dashboard in Grafana lost some observability. Metrics seemed to go missing :mag: . The "problem" is that CoreDNS 1.7 changed the metrics

[2020-10-23 00:42] raul-te commented on #394
I'm experiencing a similar issue. I can confirm that this does not happen on config reloads. From a Kubernetes point of view, the pod is marked as `Completed` and it does not get recreated:

[code]

You can see that it finished on Oct 18th, and my last config change was on the 13th.

[code]

[code]

Extract from `docker inspect`:
[code]
It's interesting that Docker says the container's been up for

[2020-10-23 23:43] raul-te commented on #394
I’ve found out that the node became **NotReady** shortly before the node-local-dns-cache container received the SIGTERM. This happened on the two nodes were we experienced this issue.

It’s interesting to note that the pod that received the SIGTERM has the **node.kubernetes.io/not-ready** toleration given that it belongs to a DaemonSet.

[2020-10-24 14:25] prameshj commented on #394
That's interesting. Did the Node become ready again? Is node-local-dns pod still stuck while terminating?
If node-local-dns got SIGKILL'ed, it should have started up again on the same node and taken care of cleaning up extra iptables rules?

[2020-10-26 17:30] raul-te commented on #394
Yes, the node became Ready again and all the pods that needed DNS were in CrashLoopBackOff. As shown in the logs I shared, the container was not running — there was no process for it — but according to `docker ps` the container has been  `Up 2 weeks`.

There's no trace of any SIGKILL in my case; only the SIGTERM I shared.

[2020-10-28 14:45] owengo commented on #406
rewrite plugin would allow to rewrite AAAA requests

[2020-10-29 22:52] #338 closed

[2020-10-30 04:11] prameshj commented on #324
Does the yaml in https://github.com/kubernetes/dns/issues/324#issuecomment-595314169 work? For IPVS, running 2 node-local-dns is the approach that could work.

[2020-10-30 23:49] #339 closed

[2020-11-02 07:30] avkudryashov opened #419 "dnsmasq-nanny doesn't wait until the previous dnsmasq process is terminated"
We have many restarts of pod kube-dns.[1]
When analyzing the problem we noticed that it happens with the dnsmasq container when trying to restart dnsmasq.[2]
In this linux namespace only dnsmasq listen on this port[3].
It looks like dnsmasq-nanny doesn't wait until the previous dnsmasq process is terminated and tries to start a new one.

[1]
[code]
[2]
[code]
[3]
[code]

[2020-11-07 07:41] #382 closed

[2020-11-08 20:17] #383 closed

[2020-11-18 02:03] yuzhiquan commented on #298
/remove-lifecycle rotten
/reopen
So what is the reason?Cann't find any code about these metrics...

[2020-11-18 13:59] AndrienkoAleksandr opened #421 "Question: How to retrieve kube dns domain in the application code - downward API for cluster suffix"
How to correctly retrieve kube dns domain in the application code? For example application back-end needs to communicate with another application back-end in the different namespaces. And application needs to make request using internal network url `application.some-namespace.svc.cluster.local` . How to retrieve cluster.local dns domain?
For now I see only one solution: we can cname look up "kuber

[2020-11-18 19:15] AndrienkoAleksandr commented on #421
Hmm... Also I see some info in the /etc/resolv.conf:

nameserver 10.96.0.10
search che.svc.cluster.local svc.cluster.local cluster.local tendawifi.com

But any way it's interesting what's convenient and valid way.

[2020-11-21 06:33] kirooshu commented on #416
Not answering what the latest release is but

[code]

[2020-11-29 19:29] #381 closed

[2020-12-01 16:28] kundan2707 commented on #421
/help wanted

[2020-12-01 16:32] kundan2707 commented on #421
/help wanted

[2020-12-01 16:41] kundan2707 commented on #414
/kind support

[2020-12-01 16:44] kundan2707 commented on #399
/kind support

[2020-12-01 16:45] kundan2707 commented on #402
/kind support

[2020-12-17 22:08] gaffneyd4 opened #423 "Support trace plugin for NodeLocalDNS"
We utilize the [trace](https://coredns.io/plugins/trace/) coredns plugin in our upstream coredns corefile as a handy way to identify when DNS requests in our kubernetes cluster are being rate limited by the native AWS VPC DNS resolvers.

I attempted to turn on the `trace` plugin in the NodeLocalDNS corefile to achieve similar visibility and was disappointed to receive the following error message:

[2020-12-28 15:00] #423 closed

[2020-12-28 21:48] #406 closed

[2020-12-30 08:19] kundan2707 commented on #419
/kind bug

[2021-01-04 19:07] dwradcliffe commented on #402
Have you read this? https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2021-01-09 23:35] #393 closed

[2021-01-19 13:19] #385 closed

[2021-01-25 11:38] rtheis commented on #394
/remove-lifecycle stale

[2021-01-26 18:14] prameshj commented on #359
This was done in https://github.com/kubernetes/dns/pull/400

[2021-01-26 18:14] #359 closed

[2021-01-26 18:15] prameshj commented on #81
/close

[2021-01-26 18:15] #81 closed

[2021-01-26 18:17] prameshj commented on #298
Will need to look into this.. I know that skydns library treats NXDOMAINs also as error, that would explain skydns_skydns_dns_error_count_total being equal to skydns_skydns_dns_request_count_total, but not greater. Are we seeing this in a live cluster?

[2021-01-26 18:20] prameshj commented on #421
We have thought about exposing cluster hash via a downward API. I think that is what is being asked here. Will keep this issue open and reference when working on it. Right now, the best workaround I can think of is to parse /etc/resolv.conf and pick the 3rd searchpath.

[2021-01-26 18:20] prameshj commented on #421
Probably belongs in kubernetes/kubernetes since this isnt really specific to kube-dns.

[2021-01-26 18:25] prameshj commented on #410
one way to achieve this is by implementing node-cache as a coreDNS plugin. @yannh was working on this, IIRC.

[2021-01-26 18:27] prameshj commented on #414
We have been using tags to mark new releases, rather than explicitly create releases. 1.17.0 is the latest tag, the images havent been promoted.
https://github.com/kubernetes/dns/tags

1.16.0 is the latest release with the image available as well.  This is also being used in k/k - https://github.com/kubernetes/kubernetes/blob/bae644e85e085ce668c3edf23e8789fb623331b4/cluster/addons/dns/nodelocaldns

[2021-01-26 18:27] #414 closed

[2021-01-26 18:31] prameshj commented on #402
There isn't a way to manually create DNS records into CoreDNS or kube-dns. You would need to configure the service and endpoints appropriately and the DNS records will be generated as per the spec in https://github.com/kubernetes/dns/blob/master/docs/specification.md

The syntax you are looking for - "microservicename-nodename.cluster.local" does not include the namespace, so that does not get cre

[2021-01-26 18:31] #402 closed

[2021-01-26 18:36] prameshj commented on #419
Couple of followups:
1) What version is this on? Which dnsmasq-nanny image is being used?
2) Why is dnsmasq restarting in the first place? Is it to pick up stubDomains config or some other reason?

/assign @avkudryashov

[2021-01-26 18:39] yannh commented on #410
Thanks @prameshj for the mention, @Pryz :wave: https://github.com/contentful-labs/coredns-nodecache  is what I/we've been working on and are using. Since it is a plugin, it allows you to use the Corefile to configure CoreDNS and nodecache. Happy to know whether it would work for your use-case, or what your solution would look like if not.

I can't help but think that this routing should be handled

[2021-01-26 23:49] Pryz commented on #410
Hi @yannh, we ended up using a similar system but based on the upstream CoreDNS.

We basically took the upstream CoreDNS and adding our own entrypoint in the Docker image to set the proper iptables rules when the POD starts. The configuration is managed via a ConfigMap (with the proper binding configuration on `169.254.20.10`.

The rest is pretty standards to CoreDNS. Nothing custom to compile.

W

[2021-02-01 17:32] mvisonneau commented on #416
The latest seems to be `1.16.0` however it looks like `1.17.0` has been tagged: https://github.com/kubernetes/dns/releases/tag/1.17.0

[code]

It would be great to have more visibility around this! 🙏 🙇

[2021-02-02 03:26] zhangguanzhang opened #435 "[makefile] make don't work correct"
[code]
it will build all
[code]

[2021-02-02 04:31] zhangguanzhang opened #436 "include coredns plugin at node-cache don't work expect"
edit file `cmd/node-cache/main.go`
[code]
and build , and run with option `-plugins` list them
[code]
but run failed with
[code]

[2021-02-05 07:51] pacoxu opened #437 "feature request: add host plugin into node-local-dns"
Currently, only coredns supports plugin `hosts`.

In my case, users don't want to use hostAlias.
They add some alias to coredns Corefile as host. After they install nodelocaldns, and the upstream of nodelocaldns for no `cluster.local` domain is not  coredns, but /etc/resolv.conf.
![image](https://user-images.githubusercontent.com/2010320/107005033-1b0fb100-67ca-11eb-960c-8e6690e3fa83.png)

If node

[2021-02-05 07:55] pacoxu commented on #437
https://github.com/kubernetes/dns/blob/master/cmd/node-cache/main.go#L25
It seems that it is supported yet.

/close

[2021-02-05 07:55] #437 closed

[2021-02-05 08:00] pacoxu commented on #437
I checked my cluster, and it uses 1.15 node-local-dns.

#422 add the support in 1.17.

So I will upgrade it.

[2021-02-05 16:17] etherandrius opened #438 "[node-cache] Clean up on OOM kill"
Hi,

Are there any plans to implement Clean up logic that is immune to OOM kills on the main process ?

Today if resource limits are miss-configured or a spike in traffic causes node-local-dns to be OOM killed host nodes are dead in the water as DNS resolution suddenly breaks.

What is the suggested way to deal with such issues ?
Are there any plans to improve this behaviour ?

[2021-02-09 11:45] avkudryashov commented on #419
1. This behavior was observed on GKE, using gke.gcr.io/k8s-dns-dnsmasq-nanny-amd64. I cannot give information about the version of the image which was used since the cluster has been updated several times since then.
2. I don`t have an answer at the moment, because the problem does not reproduce

[2021-02-09 22:02] devteng opened #439 "When will 1.17.0 container be published?"
Hi all, I see that 1.17.0 has been released. When does the 1.17.0 container get published? Thanks!

[2021-02-12 19:00] prameshj commented on #439
Being promoted in https://github.com/kubernetes/k8s.io/pull/1640. Will aim to do this in the same week we tag a new release in future.

[2021-02-12 19:03] prameshj commented on #410
glad to hear that is working well, Julien.

The custom iptables solution only works for iptables kube-proxy mode. CNI might be a good place to put this if it becomes more standard and there are multiple services using a similar routing solution.

/close

[2021-02-12 19:03] #410 closed

[2021-02-12 19:13] prameshj commented on #438
This is a known issue with NodeLocalDNS. The outage interval should be short since the node-local-dns pod starts back up right away. How long were you seeing DNS downtime for?

In order to minimize change of OOMKills:

1) set the cache size to lower values - default is 10k entries
2) set max concurrent connections in the forward plugin - https://coredns.io/plugins/forward/. CoreDNS uses 100 concur

[2021-02-12 19:18] prameshj commented on #436
As detailed in https://coredns.io/2017/03/01/how-to-add-plugins-to-coredns/#4-hooking-it-up, looks like the new plugin needs to be added to plugin.cfg and some code to be generated with "go generate && go build". Since node-cache vendors in coredns repo, you might be able to do it there for local testing.

[2021-02-12 19:26] prameshj commented on #435
This looks like a bug.  [This line](https://github.com/kubernetes/dns/blob/2b7b66c7824a7dd68d38568d913228e8d3d4c8c2/rules.mk#L44) does include the CONTAINER_BINARIES specified to the list of binaries to build. it is not immediately obvious to me.

It would be great to get some help on this.

[2021-02-12 19:30] prameshj commented on #399
The NOTRACK rules ensure that no connection tracking happens and also that NAT rules are skipped. The filter table INPUT and OUTPUT chain ACCEPT rules make sure that the packets don't get dropped.

https://github.com/kubernetes/dns/blob/40926cd008c8f84c82b30bb0222450ddd30628d1/cmd/node-cache/app/cache_app.go#L115

You can add the "log" plugin in node-local-dns configmap and check the pod logs. You

[2021-02-12 19:31] prameshj commented on #298
/assign @yuzhiquan

[2021-02-12 19:33] prameshj commented on #419
One other reason dnsmasq restarted could be because with high DNS load, the sidecar container is unable to connect to dnsmasq for metrics and that ends up failing healthcheck.

[2021-02-12 20:16] prameshj commented on #394
I realize this is from several weeks back, but any idea why they were in crashloop backoff? Was it because port 53 was in use? Is there a reliable way to repro this?

[2021-02-12 21:41] raul-te commented on #394
Hey @prameshj ! I have not seen this problem again. Port 53 was not in use.

Unfortunately I'm no able to reproduce this condition.

[2021-02-23 08:43] yuzhiquan commented on #298
The skydns_skydns_dns_error_count_total larger than skydns_skydns_dns_request_count_total ,because one domain with less '.' may be searched for  many times, if ndots config set to 5.

[2021-02-25 17:25] kundan2707 commented on #435
/kind bug

[2021-03-05 01:15] antonio-te commented on #439
As it happens, I have the same question about `1.17.1`.

[2021-03-05 01:24] prameshj commented on #439
I hadn't promoted the image since it was mostly reverting a dnsmasq version. I see there is also a iptables image being changed - https://github.com/kubernetes/dns/compare/1.17.0...1.17.1

Will do it by end of the week.

[2021-03-05 01:30] antonio-te commented on #439
Thank you very much!

[2021-03-05 14:16] serhiiromaniuk opened #442 "Unreachable network"
Hello there! EKS  `v1.10.3`, kube-dns `version: 1.14.10`

[code]

When **kubedns** pod starts,  logs:
[code]

Also I tried to setup upstreamNameservers (logs line: `I0305 13:01:09.881109  ` ) and nothing changes.
From **kube-dns** pod everything is reachable, when using other pod -- timeout error.

[2021-03-05 21:09] prameshj commented on #439
No worries.. they are being promoted here - https://github.com/kubernetes/k8s.io/pull/1763

[2021-03-08 21:07] antonio-te commented on #439
Looks like this issue is closable. Thanks again!

[2021-03-09 09:30] serhiiromaniuk commented on #442
Hi there.

 **UPDATE**:
Old one instance update schema does not support new one. Updating with fully new nodes cause the problem, closing the issue.

[2021-03-09 09:30] #442 closed

[2021-03-17 20:12] prameshj commented on #439
Thanks.
/close

[2021-03-17 20:12] #439 closed

[2021-03-17 20:13] prameshj commented on #436
Any update here? Closing for now, please reopen if needed.

[2021-03-17 20:13] #436 closed

[2021-03-17 20:16] prameshj commented on #416
That is correct, we only use tags and not a release every single time. Once we create a tag in https://github.com/kubernetes/dns/tags, the new images are built and need to be manually promoted. This is detailed in the README - https://github.com/kubernetes/dns#release-process

Please suggest changes to this doc or feel free to send a PR. Thanks!

[2021-03-17 20:17] prameshj commented on #399
Hope this answers your question @YanzhaoLi , please reopen if needed.

[2021-03-17 20:17] #399 closed

[2021-03-18 01:20] zhangguanzhang commented on #436
I copied part of the code and wrote a tool, there is no need to introduce additional plug-ins to do what I want

[2021-03-29 01:25] nontster opened #443 "NodeLocalDNS has i/o timeout when connecting to kube-dns-upstream"
Hi,

I got errors in NodeLocalDNS log from 1 of 8 worker node when enable NodeLocalDNS.

the error pattern is,
[code]

Is that normal and how to check ?

Thanks,

Nont

[2021-03-31 22:34] prameshj commented on #298
/area kubedns

[2021-03-31 22:38] prameshj commented on #443
What environment is this on? Most likely this is due to the kube-dns upstream not responding within 2s - nodelocaldns (which uses coreDNS) has a 2s read timeout... so if kube-dns takes longer, you can see this log.

If you are on GKE, you can see more details here - https://cloud.google.com/kubernetes-engine/docs/how-to/nodelocal-dns-cache#nodelocaldns_timeout_errors

[2021-03-31 22:40] prameshj commented on #443
please reopen if this is not the issue.

[2021-03-31 22:40] #443 closed

[2021-03-31 22:41] prameshj commented on #416
Since 1.16.0 and later are using coreDNS 1.7, i hope this is now resolved. Please reopen if needed.

[2021-03-31 22:41] #416 closed

[2021-04-01 00:25] prameshj commented on #323
For IPVS mode, the HA solution is to run 2 replicas as described in the KEP:

[code]

I see this got removed from the KEP when merging 2 KEPs together in https://github.com/kubernetes/enhancements/pull/2487

[2021-04-01 00:25] prameshj commented on #394
Thanks, closing for now.

[2021-04-01 00:25] #394 closed

[2021-04-01 00:26] prameshj commented on #419
Closing, since the most likely explanation is that dnsmasq was not responding to sidecar (which answers to healthcheck request from kubelet) and kubelet restarted the container.

[2021-04-01 00:26] #419 closed

[2021-04-01 00:27] prameshj commented on #438
/assign @etherandrius

[2021-04-01 00:31] prameshj commented on #438
/triage needs-information

[2021-04-01 19:15] prameshj commented on #421
The downward API already supports exposing certain pod fields to containers in the pod -  https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/

Thinking aloud about exposing cluster suffix similarly - one option could be for kubelet to set an annotation on the pod with the cluster suffix value, if the pod is in ClusterFirst mode.

Did the "parse /etc

[2021-04-02 15:59] bowei commented on #323
Pavithra -- can you send a PR to add back to the KEP?

[2021-04-02 16:00] bowei commented on #323
Also -- it probably needs to have documentation if this is a recommended setup...

[2021-04-02 16:55] prameshj commented on #323
Yes, already created - https://github.com/kubernetes/enhancements/pull/2592

I agree we need better documentation of this. It isn't necessarily the recommended setup, since it is twice the resources and requires managing conflicts - only one replica should handle interface/iptables management.
I will use this issue to track documentation.

[2021-04-13 09:37] etherandrius commented on #438
This can be closed.

Just for more context in our case we did not properly test nodeLocalDNS and releases and image that had extremely low memory limits. The dns cache worked fine on development stacks but started OOMing instantly as it hit production stacks.

Following the OOMs we had problems rolling back the daemonSet. Since the agents were OOMing relentlessly we could not simply delete the dae

[2021-04-13 14:06] igorvpcleao commented on #381
Hi @giannisbetas,

For the original post I believe this is indeed what prameshj replied.
On the other hand, by looking at your message, it seems the requests you captured target `169.254.20.10:8080/` instead of `169.254.20.10:8080/health` (which is the route used by the liveness probe. I'd expect `/` to indeed return 404).
Are you sure you have
[code]
with `path: /health` in your nodelocaldns yaml

[2021-04-13 14:11] chrisohaver commented on #381
This is due to a bug in the "self check" that the health plugin uses to measure its response latency. Fixed upstream in CoreDNS https://github.com/coredns/coredns/pull/4231, _after_ the version used by nodelocaldns.

[2021-04-15 16:19] prameshj commented on #438
Thanks @etherandrius

That is a tricky situation.. I agree the steps to reduce and estimate memory usage should be documented clearly. I will take this action item.

/assign

[2021-04-20 18:11] rtheis commented on #394
@prameshj Can you please reopen this issue?  I have recreated the problem on version 1.17.3.  Thank you.

[2021-04-26 20:09] mlowery opened #447 "Question: HA solution for node-cache"
In an [older KEP for NodeLocal DNSCache](https://github.com/kubernetes/enhancements/tree/4f43d2c8005488180c1af7d3ad60f119755ed383/keps/sig-network/1024-nodelocal-cache-dns), it seems to suggest that, when in IPTABLES mode, the official HA solution is some kind of "nanny" component that watches the local node-cache then flips a switch when it becomes unhealthy:

Is there a reference implementation

[2021-04-29 05:29] eytan-avisror opened #448 "Initial delay before iptables setup"
Could you elaborate on this?

https://github.com/kubernetes/dns/blob/05a4cd0f5d3b0e7a2925ff10995eb821a683103d/cmd/node-cache/app/cache_app.go#L87-L93

Currently the default value for syncInterval is 60 seconds, which means the pod will wait for a minute before it sets up iptables for the first time. This delays the node's functional readiness, Is there a reason this may cause conflicts with other

[2021-04-29 18:47] prameshj commented on #394
Should we reopen this or do you want to create a new issue? I see there are 2 different scenarios described in this issue. Might be cleaner to open a new one with the symptoms you are seeing.

[2021-04-29 18:51] prameshj commented on #447
Hi Mat, there isn't a reference implementation for the component that flips the switch between node-local-dns pods and clusterDNS pods.

The high level idea is that the nanny component will be checking the responsiveness of node-local-dns on the 169.254.20.10 address and if n(maybe 5) DNS lookups fail in a row, it will flip the switch to the kube-dns service, while continuing to check node-local-d

[2021-04-30 10:07] rtheis commented on #394
@prameshj Thanks, I'll create a new issue on the next recreate on version 1.17.3.

[2021-05-03 17:12] mlowery commented on #447
Thanks @prameshj.

IPVS mode and what HA options are available for that mode.

[2021-05-05 17:52] mlowery commented on #323
@prameshj: Regarding your comment:

Are there known issues where the two replicas will step on each other? If so, can you point me to them? When I look at the code, it seems idempotent and thread-safe. Is it not sufficient to simply pass `--skipteardown` to allow the replicas to safely coexist?

[2021-05-05 19:27] #447 closed

[2021-05-07 17:21] #448 closed

[2021-05-10 16:03] samirspatel commented on #199
We are running into the same issue. Can we reopen this?

`Error: getaddrinfo EAI_AGAIN` happens randomly and sporadically. Running GKE 1.17

[2021-05-13 05:28] zaverden commented on #199
@samirspatel for my case it was definitely an issue with alpine base image.

[2021-05-27 13:24] ScheererJ opened #451 "Container images for v1.18.0 missing"
From the [release page](https://github.com/kubernetes/dns/releases), it looks like v1.18.0 has been released. However, I cannot find/pull the corresponding container image for the dns node cache (k8s.gcr.io/dns/k8s-dns-node-cache:1.18.0).

Will the container image created or is it now located somewhere else?

[2021-06-02 21:29] fajtgyo opened #452 "Nodelocal DNS Cache missing auto-populated configuration"
Nodelocal DNS Cache has been deployed in v1.21.0 cluster, the pods are running.
However the stub domains and `__PILLAR__UPSTREAM__SERVERS__` from kube-dns (in fact, coredns) configmap have not been populated in Corefile of nodelocal-dns pods, resulting external and stub domain lookups to fail.

Only the default cluster.local stanza is represented and for default domain no upstream servers at all.

[2021-06-04 11:58] rtheis opened #453 "NodeLocal DNS container hung on SIGTERM"
We are still hitting the same problem reported by https://github.com/kubernetes/dns/issues/394.  The test failure occurred on Kubernetes version 1.21 with NodeLocal DNS cache version 1.17.3.

To recap, NodeLocal DNS container occasionally hangs on termination causing Kubernetes to kill the container using SIGTERM after the grace period has expired.  This leaves left over iptables rules on the node

[2021-06-04 11:58] rtheis commented on #394
https://github.com/kubernetes/dns/issues/453

[2021-06-04 14:50] fajtgyo commented on #452
In logs I do not see any parsing errors, I assume the file is simply not found, despite it is present at the default location.

2021-06-04T14:43:24.068114112Z stderr F 2021/06/04 14:43:24 [INFO] Starting node-cache image: 1.17.0
2021-06-04T14:43:24.068153873Z stderr F 2021/06/04 14:43:24 [INFO] Using Corefile /etc/Corefile
2021-06-04T14:43:24.105800101Z stderr F 2021/06/04 14:43:24 [INFO] Updated

[2021-06-14 07:18] Shahard2 opened #454 "Support for k8s 1.20"
Hello,
Once i updated my cluster of EKS to 1.20 (CoreDNS and kubeproxy as well)

nodelocaldns started to do problems and my hashicorp consul couldn't start.

Can you make sure it's supporting the changes of k8s 1.20 ?

[2021-06-16 11:04] DockToFuture commented on #451
Any update on this issue?

[2021-06-17 12:18] superseb commented on #451
@prameshj can you look at this? Or someone else from the OWNERS?

[2021-06-17 15:41] SuperQ commented on #454
https://github.com/kubernetes/dns/pull/455 should help.

[2021-06-17 15:45] Shahard2 commented on #454
Thanks alot, will try this ASAP!

[2021-06-21 14:31] prameshj commented on #451
Most images were promoted in https://github.com/kubernetes/k8s.io/pull/2118, I see one was missed. I am promoting it in https://github.com/kubernetes/k8s.io/pull/2251

It should work once that PR merges.

[2021-06-21 17:03] prameshj commented on #454
What is the specific issue with nodelocaldns on k8s 1.20?

[2021-06-21 17:03] prameshj commented on #454
/assign @Shahard2

[2021-06-21 17:04] prameshj commented on #453
Doesn't nodelocaldns startup right away though? The DNS downtime should be O(seconds). Is that what you observe?

It is possible for nodelocaldns to run into lock contention, but that usually has a log message. Anything in the logs?

[2021-06-21 17:14] prameshj commented on #452
Which format of configmap are you using? kube-dns or coredns? The format of the 2 configmaps are very different. node-local-dns only parses configmap in the format described in this example - https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

It will NOT pick up configmap in this format - https://kubernetes.io/docs/tasks/administer-cluster/dns-cu

[2021-06-21 17:14] prameshj commented on #452
/assign @fajtgyo

[2021-06-22 07:39] ScheererJ commented on #451
Thanks a lot.

It seems like the k8se-dns-node-cache container image is now available.

[2021-06-22 07:39] #451 closed

[2021-06-22 10:05] rtheis commented on #453
@prameshj I was unable to collect any valuable logs at the time of the latest failure.  I assume there is some type of lock contention that causes the pod to hang on termination.

NodeLocal DNS does startup right away, but our test failure comes when we verify that DNS works after disabling NodeLocal DNS.  If we restart NodeLocal DNS then stop it again, that usually fixes the node.

[2021-06-22 13:45] Shahard2 commented on #454
Our consul had problem with finding the node addresses...

i didn't deep dive to why but I'm waiting for #455 to be merged and I will try again

[2021-06-22 22:11] prameshj commented on #454
PR #455 updates k8s dependency to 1.19. I am not sure if that could help with the issue you described, because node-local-dns does not depend on kubernetes version. It does not watch any k8s resources, it is only a DNS cache. Can you describe more about the issue or share node-local-dns logs ?

[2021-06-23 03:16] prameshj opened #458 "Add a dns presubmit in prow"
Travis CI is no longer running - https://travis-ci.org/github/kubernetes/dns due to migration to travis-ci.com.

The prow job in https://github.com/kubernetes/test-infra/blob/1c8419d11198aecd8b66df8549a7ca17c8183fbf/config/jobs/kubernetes/sig-network/sig-network-misc.yaml#L182 needs to be updated to run all the commands executed by the travis job.

The recommendation is also to use podutils, since

[2021-06-23 03:16] prameshj commented on #458
/assign @prameshj

[2021-06-23 16:39] prameshj commented on #458
cc @MrHohn @aojea

[2021-06-23 23:31] prameshj commented on #458
Migration to podutils is in progress - https://github.com/kubernetes/test-infra/pull/22681

[2021-06-24 16:01] prameshj commented on #458
The presubmit now gets triggered optionally, but fails at docker run command with error 125.

This is the makefile location - https://github.com/kubernetes/dns/blob/bfe1dddaadc0cf6fcad6f0633db4456fa1726b0a/images/dnsmasq/Makefile#L122

Failed logs - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/dns/461/pull-kubernetes-dns-test/1408068353863454720/build-log.txt

[code]

From (docke

[2021-06-24 16:10] prameshj commented on #458
cc @fejta @BenTheElder - Is anything extra needed in order for the prow job to run docker?
https://github.com/kubernetes/test-infra/blob/a2944e60bca47041837304e6e98907c6cd49adb1/config/jobs/kubernetes/sig-network/sig-network-misc.yaml#L182 is the job config.

[2021-06-24 16:16] aojea commented on #458
at least  IIRC
[code]

[2021-06-24 16:27] BenTheElder commented on #458
Yes. And you must wrap your command with the image's shellscript if you're using podutils. For kubekins-e2e this is `runner.sh your-command`

[2021-06-24 17:36] prameshj commented on #458
Thanks Antonio and Ben! I have included the new label in https://github.com/kubernetes/test-infra/pull/22694 and we are already using runner.sh ./presubmits.sh.

The build is working now, the failure now is an actual test failure/flake. I am looking into it.

[2021-06-28 21:28] prameshj commented on #458
/close

[2021-06-28 21:29] #458 closed

[2021-06-28 21:34] prameshj opened #466 "node-cache 1.18.1 failed to build for ARM"
build logs are [here](https://storage.googleapis.com/kubernetes-jenkins/logs/dns-push-images/1408485603208597504/build-log.txt)

[code]

@luigibk do you know what might be wrong here? Looks like building from an amd64 based image is causing the warning. Similar issue - https://github.com/dani-garcia/vaultwarden/discussions/1264

But the actual error might be that `/usr/sbin/ebtables-legacy` is not

[2021-06-28 21:34] prameshj commented on #466
/assign @luigibk

[2021-06-28 23:24] prameshj commented on #466
If I revert rules.mk change in https://github.com/kubernetes/dns/pull/456/files, build works fine without the warning or the error.

But it fails, even with buster-v1.6.5. @justaugustus

[2021-06-28 23:27] justaugustus commented on #466
@kubernetes/release-engineering -- can you assist in debugging here?

[2021-06-29 03:50] wespanther commented on #466
The "exec user process caused: no such file or directory" log line is a bit of a red herring, it's actually because we can't run the arm debian-iptables image on amd64. This is because node-cache is relying on the existence of qemu-$arch-static that gets pulled in from the base image (debian-base). The reason it just started failing for arm is because it's the first non-x86 arch (and x86 succeeds

[2021-06-29 15:27] luigibk commented on #466
Hi @wespanther do I understand correctly that even removing this line:

`RUN update-alternatives --set ebtables /usr/sbin/ebtables-legacy`

in [Dockerfile.node-cache](https://github.com/kubernetes/dns/blob/master/Dockerfile.node-cache#L16)

would not fix the issue?

[2021-06-29 15:56] prameshj commented on #466
Thanks for debugging this, Weston!

That is exactly what I tried, and removing that line did finish building successfully.  However, the ARM image is not able to run iptables.

1.18.0 works

[code]

1.18.1 does not

[code]

Looks like this would break node-cache on other environments since the binary will invoke iptables to install the necessary rules. Looks like qemu should be added back, or is t

[2021-06-29 20:59] wespanther commented on #466
I would expect that for the same reasons if you run the arm image on your x86 host. Here it is on my machine without the `update-alternatives` line you mentioned

[code]
After running `docker run --rm --privileged multiarch/qemu-user-static --reset -p yes` it works
[code]
So if you need that line, you'll have to include the qemu binary so we can run the command. Otherwise, the image is built and i

[2021-06-29 21:15] prameshj commented on #466
Thanks Weston! @luigibk can you check if we can drop the ebtables line from the Dockerfile and still get the ebtables functionality? Maybe we need to modify $PATH or create a symlink. I guess any RUN command will have the same issue, so maybe the code needs to change the $PATH if ebtables setup is needed? Or we could restrict ebtables support to just amd64 and add a conditional in the Dockerfile.

[2021-06-29 21:23] luigibk commented on #466
Thanks @wespanther

@prameshj I am not really sure that code is needed anymore as Azure (AKS) now use a different CNI, see: [transparent CNI](https://github.com/Azure/AKS/issues/1954). That was my use case for it.
I like your idea of restricting ebtables support to amd64 and I would probably also deprecate it at this point as there is no support for it in ebtables-nft
What do you think?

[2021-06-29 21:54] prameshj commented on #466
@luigibk deprecating support for ebtables sounds good to me. Would you be able to create an issue about it and tag all the relevant folks that you know might be using it?

Since it is an optional flag, I am wondering if we can remove support in a new minor version of node-cache right away? We could change the Dockerfile to support ebtables by copying qemu, but if it is not used anymore, I would ra

[2021-06-29 22:21] luigibk opened #467 "Deprecate/Remove setupebtables option in node-cache"
Currently all images builds for architectures different from amd64 are failing at the following line:

`RUN update-alternatives --set ebtables /usr/sbin/ebtables-legacy`

in [Dockerfile.node-cache](https://github.com/kubernetes/dns/blob/master/Dockerfile.node-cache#L16)

this is due to the removal of qemu from the debian-base image see: [kubernetes/release PR-213](https://github.com/kubernetes/rel

[2021-06-29 22:30] luigibk commented on #466
Hi @prameshj

I've created an issue as you suggested: https://github.com/kubernetes/dns/issues/467

I've also created this: https://github.com/kubernetes/dns/pull/468 in case the decision is to remove the setupebtables option.

[2021-06-30 19:06] prameshj commented on #467
@luigibk is there a slack channel where we can ask about this?

[2021-06-30 21:19] luigibk commented on #467
@prameshj good question,  I'd say #provider-azure or #sig-network

[2021-06-30 22:15] prameshj commented on #467
Thanks @luigibk , I posted on the 2 channels as well.

[2021-07-01 08:29] luigibk commented on #467
Option 1 implemented

[2021-07-01 08:29] #467 closed

[2021-07-01 13:38] prameshj commented on #467
@luigibk , you meant option2 right?

[2021-07-01 14:10] luigibk commented on #467
Yes, I did. Sorry!

[2021-07-01 14:13] prameshj commented on #467
No worries.. thank you! We haven't really heard back from anyone in the past 2 days. I acknowledge it was short notice, but we do have support for ebtables upto image version 1.18.0, so hopefully that works. Thanks again @luigibk

[2021-07-01 14:14] prameshj commented on #467
I will cut 1.19.0 tag later today.

[2021-07-01 16:21] luigibk commented on #467
No worries. The new transparent CNI is really much better so I agree with you this was the right choice moving forward.

[2021-07-01 16:32] prameshj commented on #467
👍  I have just now cut 1.19.0 tag. Will push the images by end of the week.[](url)

[2021-07-01 16:33] prameshj commented on #466
1.19.0 tag has been cut with ebtables support removed. I will push the images by end of the week.

[2021-07-01 21:33] #466 closed

[2021-07-02 18:56] prameshj commented on #452
Any update here?

[2021-07-02 18:57] prameshj commented on #435
You can do ` make containers CONTAINER_BINARIES=node-cache`, that only builds node-cache. I just verified it. Please reopen if anything more is needed.

/close

[2021-07-02 18:57] #435 closed

[2021-07-02 19:53] fajtgyo commented on #452
Thanks @prameshj for your response, and at the same time sorry for my late response.
Can you please clarify the links which is supported and which not? Seemingly the links are matching.

Please find the kube-dns file attached below.

[corefile.txt](https://github.com/kubernetes/dns/files/6756709/corefile.txt)

[2021-07-02 19:53] fajtgyo commented on #452
/assign @prameshj

[2021-07-05 04:33] yazbekhe opened #472 "headless service is returing the IPs of the pods that are not ready yet"
i have upgraded to kubernetes 1.20 when i create a headless service and i resolve the its DNS Name i get also the IPs of the pods that are not ready yet.

NOTE: i have also set publishNotReadyAddresses: false
[svc.txt](https://github.com/kubernetes/dns/files/6761688/svc.txt)
[nginx.txt](https://github.com/kubernetes/dns/files/6761690/nginx.txt)

[2021-07-06 12:07] chrisohaver commented on #472
Sounds like you may not have this fix: https://github.com/coredns/coredns/pull/4580
Released in coredns 1.8.4

[2021-07-06 14:50] yazbekhe commented on #472
thanks a lot it solves my problem

[2021-07-23 18:10] prameshj commented on #454
@Shahard2 any updates on the issue?

[2021-07-23 18:18] prameshj commented on #452
Is corefile.txt the contents you put inside "kube-dns" configmap in "kube-system" namespace? That has a corefile format and will not be picked up by nodelocaldns.

The configmap needs to match the format of:

https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#example-1

I fixed the link in my previous comment too.

From the corefile.txt you attached, the level of customiza

[2021-07-23 18:18] prameshj commented on #452
/assign @fajtgyo

[2021-07-23 18:41] prameshj commented on #453
Ah I see. Just to confirm - 1) test disables nodelocaldns 2) nodelocaldns pod is stuck handling sigterm and is killed by kubelet with iptables rules getting left over. 3) test times out with DNS failure?

Do you see a log line of the sigterm being handled - https://github.com/kubernetes/dns/blob/3b17e06879a46b2ec5d97105c611a315897fdb48/vendor/github.com/coredns/caddy/sigtrap_posix.go#L42 ?

It sho

[2021-07-23 19:02] chrisohaver commented on #454
@prameshj, @Shahard2 recently opened https://github.com/coredns/coredns/issues/4765, which I am assuming is the same issue?

CoreDNS logs have not yet been provided.

[2021-07-23 19:26] prameshj commented on #454
I see..Thanks!
 I am unable to understand how nodelocaldns fits in/errors out here? Any specific logs from nodelocaldns, @Shahard2 ?

From the CoreDNS issue that Chris linked, looks like the DNS name for a consul LoadBalancer service is not created and that is the issue? If it was not created by coreDNS, then nodelocaldns won't be able to look it up either. But if it is a pure lookup issue for an

[2021-07-23 19:28] #454 closed

[2021-07-23 19:29] Shahard2 commented on #454
Right, closing it since it related to coredns only.

[2021-07-24 11:10] rtheis commented on #453
@prameshj That is correct.  We've updated the termination grace period to 900 seconds and still see this problem.  Although, the failure rate has been much lower than it has been in the past.  Given the long termination, it seems like there is a hang somewhere.  We'll continue trying to collect more data when this problem occurs.

[2021-07-29 13:40] manuelbuil opened #474 "Versioning schema"
I'd like to understand what version I should use: https://github.com/kubernetes/dns/releases.

When looking at the releases, it seems this project follows the Kubernetes versioning but if that is the case, I am missing several releases, e.g. 1.21.x

Thanks!

[2021-07-30 00:46] prameshj commented on #474
The versions here do not map to kubernetes releases. There is no dependency on a particular k8s version, you could use any DNS version with any k8s version.

Are you asking specifically about node-local-dns/node-cache?
You could use the latest one here - 1.20.0 which uses coreDNS 1.8.3 and upgraded to pick up latest debian-base vulnerability patches. 1.19.0 uses an older version of CoreDNS(1.7).

[2021-07-30 07:28] manuelbuil commented on #474
Ok, thanks!

[2021-07-30 07:28] #474 closed

[2021-08-02 12:14] fajtgyo commented on #452
Hello @prameshj

Yes, the attached corefile.txt is the one that is attached to CoreDNS daemonset pods behind kube-dns service in kube-system namespace.

Can you please confirm if the supported format by node-local-dns is the kube-dns one:
[code]
or the Corefile one:
[code]

[2021-08-02 14:13] prameshj commented on #452
This is the one supported by nodelocaldns.

[2021-08-02 14:45] fajtgyo commented on #452
Thank you for the clarification!

Are there any plans to include support for Corefile format?
In the mean time, or as an alternative, would it be useful to clarify the supported/unsupported formats in documentation?

Current readme contents:
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/nodelocaldns
`The values will be determined by reading the kube-dns configMap for cust

[2021-08-02 15:11] prameshj commented on #452
If you running self-managed NodeLocalDNS, you can edit the coreFile contents directly in the node-local-dns configmap.

That's a good idea. I think https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/ would be a good place to make the change. Do you want to send the pull request for it? If not, I can do it. Thanks!

[2021-08-12 23:26] omarine commented on #415
Hello,
i have the same issue,did you resolve it somehow ?

[Aug 13, 2021 1:25:04 AM GMT+2]
[ERROR] plugin/errors: 2 edgehub.iotedge-wif-lbroa.svc.cluster.local.iotedge-wif-lbroa.svc.cluster.local. AAAA: dial tcp 10.246.230.79:53: connect: connection refused
[Aug 13, 2021 1:25:04 AM GMT+2]
[ERROR] plugin/errors: 2 edgehub.iotedge-wif-lbroa.svc.cluster.local.iotedge-wif-lbroa.svc.cluster.local. A: d

[2021-08-29 00:46] #298 closed

[2021-09-02 19:17] prameshj opened #476 "NodeLocalDNS performance regression with coredns 1.8.3"
I am seeing a higher number of cache misses for the same test in the newer nodelocaldns version - 1.20.

The test consists of ~3k alpine pods doing DNS lookups with searchpath expansion for roughly 30 mins. The number of cache misses is 4x more with the newer version.

**5k hits/sec, 1268 misses/sec = total 6.2k/sec with coredns 1.8.3**

![image](https://user-images.githubusercontent.com/35932340/

[2021-09-02 19:20] prameshj commented on #476
Creating this issue to identify what is causing the extra cache misses and if any changes in cache plugin in 1.8.3 could explain it.

/cc @chrisohaver

[2021-09-09 17:01] rtheis opened #478 "NodeLocal DNS version 1.21.0 image vulnerabilities reported for CVE-2021-3711 and CVE-2021-3712"
[NodeLocal DNS version 1.21.0 image](https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/dns%2Fk8s-dns-node-cache@sha256:05ae6b38be8e5fcfc3bd66f3abed8097a3258b061d919a94d038eb72ba8fb7de/details?tag=1.21.0) vulnerabilities reported for [CVE-2021-3711](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-3711) and [CVE-2021-3712](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-20

[2021-09-09 22:15] prameshj commented on #421
/remove-lifecycle rotten
/reopen

[2021-09-09 22:50] prameshj commented on #478
Thanks!

cc @wespanther @justaugustus Looks like we need a new debian base/iptables?
Do we need a new issue like https://github.com/kubernetes/release/pull/2189?

[2021-09-10 17:26] rtheis opened #479 "NodeLocal DNS version 1.21.0 fails to tear down interfaces on SIGTERM"
NodeLocal DNS version 1.21.0 fails to tear down interfaces on SIGTERM

NodeLocal DNS version 1.21.0 logs on container termination
[code]

NodeLocal DNS version 1.20.0 logs on container termination
[code]

NodeLocal DNS version 1.17.3 logs on container termination
[code]

[2021-09-12 18:16] prameshj commented on #438
/remove-lifecycle rotten

[2021-09-12 18:16] prameshj commented on #438
Docs still need to be updated.

[2021-09-14 12:01] rtheis commented on #453
We hit the problem again on Kubernetes version 1.20 with NodeLocal DNS version 1.17.3.  Unfortunately, I don't have any additional debug data to provide.

[2021-09-14 15:09] rtmie opened #480 "High level of i/o timeout erros in nodelocaldns pod when coredns pod on same node"
## Environment

coredns version 1.8.0
nodelocaldns version v1.17.0
kubernetes version : 1.20.8
kube-proxy in ipvs mode

## Config
configmap:
[code]
## Issue Description
We are seeing an issue with a high level of i/o timeout errors in the node-local-dns daemonset pods on those nodes where the coredns pod is also running .

Running
[code]
When sorting above output based on error count we see massiv

[2021-09-16 05:45] Rustem05 commented on #478
Dns

[2021-09-16 05:45] Rustem05 commented on #478
Intra

[2021-09-16 06:21] Rustem05 commented on #479
Dns

[2021-09-16 06:22] Rustem05 commented on #479
Intra

[2021-09-16 06:22] Rustem05 commented on #479
Dns intra

[2021-09-17 13:19] rayandas opened #481 "kube-dns v1.17.4 image impacted by CVE-2020-29652"
kube-dns v1.17.4 image impacted by [CVE-2020-29652](https://avd.aquasec.com/nvd/cve-2020-29652/)

[2021-09-17 18:17] prameshj commented on #481
Can you try newer images v1.20.0 or v1.21.0? Those were built with golang 1.16.

/assign @rayandas

[2021-09-17 18:24] prameshj commented on #480
Are you able to run a packet capture on one of the nodes that runs coreDNS and nodelocaldns and see the response? Any logs in the corresponding coreDNS pod?

[2021-09-17 18:24] prameshj commented on #480
/assign @rtmie

[2021-09-17 18:27] prameshj commented on #478
cc @rahulkjoshi

[2021-09-17 19:32] prameshj commented on #479
Thanks for filing this! I was able to repro it by deleting a node-local-dns pod. Fix is in https://github.com/kubernetes/dns/pull/482

Please tag/assign issues to me, I get notified only for those. I noticed this almost a week late. Thanks again for catching this.

[2021-09-20 05:23] rayandas commented on #481
@prameshj I was using the image from `k8s.gcr.io/dns/k8s-dns-kube-dns` which has v1.17.4 as latest version. Check [here](https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/us/dns/k8s-dns-kube-dns).

[2021-09-20 14:17] rtheis commented on #479
@prameshj Thanks for the quick fix.  Do you have an eta on pushing the updated image to https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/us/dns/k8s-dns-node-cache?

[2021-09-20 14:38] rtmie commented on #480
@prameshj  I enabled logging via coredns core file.

No Fails seen in the coredns pod log (I do see some nxdomain denials but that is for a known missing service in my cluster, non related to the FQDNs in my dnsperf test).

However int he log of the node localdns ppod I do see this error for each SERVFAIL in the dnsperf test:
[code]

[2021-09-20 23:05] prameshj commented on #481
Oh, got it. The later kube-dns images were not promoted, since kube-dns is not used in OSS anymore. Do you use self-managed kube-dns?

I am promoting the latest kube-dns images in https://github.com/kubernetes/k8s.io/pull/2759. Once that merges, can you try against that tag? Thanks!

[2021-09-20 23:05] prameshj commented on #479
I am promoting it in https://github.com/kubernetes/k8s.io/pull/2759, the images will show up few minutes after the PR merges.

[2021-09-20 23:06] prameshj commented on #478
This should be fixed with the 1.21.1 image being promoted in https://github.com/kubernetes/k8s.io/pull/2759

[2021-09-20 23:06] prameshj commented on #478
/assign @rtheis

Please verify and close if needed.

[2021-09-20 23:09] prameshj commented on #480
The i/o timeout most likely means coreDNS pod did not respond in 2 seconds. NodeLocalDNS(which uses coreDNS) has a 2s read timeout for forwarded requests. It sends the request via TCP to coreDNS.

Could this particular coreDNS pod be getting overloaded? How many requests per second is that pod getting? Perhaps the test is hitting the limits of the qps that can be handled.

In case of external FQDN

[2021-09-21 08:08] rtmie commented on #480
The consistent behaviour that I see is that where I run the dnsperf load on a node that does not have coredns pod running I get zero i/o timeout errors in the node-local-dns. When I run it on a node where there is a coredns I see the tiomouts.

I wonder if the node-local-dns 'hotspots' the coredns that is local to it on the node causing it to overload?

Right now I have dnsperf running with qps of

[2021-09-21 10:34] rtmie commented on #480
@prameshj  when I run DNS perf job qith QPS of 5k on a node where there is no coredns pod I get no SERVFAIL.

When I run on a node where coredns is running I reduce qps to 500 and still SEVFAIL @0.01%

[2021-09-21 21:13] rtheis commented on #478
I've verified this is now fixed:

<img width="1307" alt="image" src="https://user-images.githubusercontent.com/17885615/134248560-36d97898-8576-46df-b2d2-a7b58daeb7bf.png">

[2021-09-21 21:13] rtheis commented on #478
Thank you.

[2021-09-21 21:13] #478 closed

[2021-09-22 05:34] rayandas commented on #481
@prachirp yeah right. and thanks for the 1.21.1 that you promoted.

[2021-09-22 05:35] rayandas commented on #481
/close

[2021-09-22 05:35] #481 closed

[2021-09-23 18:44] prameshj commented on #479
/assign @rtheis

Can you verify if this is fixed with the latest image? Thanks!

[2021-09-23 18:51] prameshj commented on #480
Can you check the dns_request_count metric on the various coreDNS pods and see if a specific one is getting more queries?

I don't see it as configurable. The forward plugin sets an overall timeout of 5s to handle the query - https://github.com/coredns/coredns/blob/5b9b079dabc7f71463cea3f0c6a92f338935039d/plugin/forward/forward.go#L97

The [connect call](https://github.com/coredns/coredns/blob/5b9

[2021-09-27 10:04] rtmie commented on #480
@prameshj thanks for the info -I was away for a few days. Will go through your feedback today/tomorrow.

[2021-09-28 03:32] SataQiu opened #485 "Missing ready plugin on k8s-dns-node-cache"
The `ready` plugin is useful to check whether the server is ready.
Can we add `ready` to the plugin list on:
https://github.com/kubernetes/dns/blob/master/cmd/node-cache/main.go?

[2021-09-28 03:34] chrisohaver commented on #480
Yes. A self adjusting dial timeout comes into play too, but that’s the general idea.  None of it is configurable.

[2021-09-28 13:55] chrisohaver commented on #485
The _ready_ plugin interface (`Readiness`) is not implemented by any plugins used by k8s-dns-node-cache, so it would not serve any purpose (it would always report ready).

[2021-09-28 15:03] gjkim42 commented on #480
![Screen Shot 2021-09-29 at 12 02 25 AM](https://user-images.githubusercontent.com/19814047/135113527-ef0ccfef-210f-4959-8e7b-30eaf24fda85.png)

In my case, I think `coreDNS` is working fine (it does not make any timeout). However `nodelocaldns` rarely makes any connection with `coreDNS` service(192.168.0.3).

[code]

[2021-09-29 06:23] kundan2707 commented on #421
/kind support

[2021-09-30 12:04] gjkim42 commented on #480
Maybe I found a workaround for this - change ipvs scheduler to sh(source hash) from rr(round robin).
However, I am not sure why it addresses this issue.

@rtmie @prameshj
Any updates on this?

[2021-09-30 20:05] vivekpd15 commented on #480
+1

[2021-09-30 20:28] prameshj commented on #480
I am not too familiar with the IPVS loadbalancing modes, but [Source hash](http://kb.linuxvirtualserver.org/wiki/Source_Hashing_Scheduling) looks up the destination based on the source IP address of the packet. In case of NodeLocalDNS reaching out to upstream, the source IP will always be the same (the node IP address, since NodeLocalDNS is in hostNetwork mode). It is possible that it picks the sa

[2021-09-30 22:23] gjkim42 commented on #480
@prameshj

Yes, one coredns pod is getting a lot of requests than others - which is not desirable for me.

Also, I am having another problem that DNS lookup from nodes to the coredns's service IP only fails.

https://calicousers.slack.com/archives/CPEPF833L/p1633007149311200
https://kubernetes.slack.com/archives/C09QYUH5W/p1632813013251600

DNS lookup
- from pods to every coredns's pod IP succeeds

[2021-09-30 22:34] prameshj commented on #480
Do you also have NetworkPolicy rules configured? This could be an interaction between iptables rules setup for NodeLocalDNS and network policy maybe.

Is the issue reproducible in:
1) iptables mode?
2) With NodeLocalDNS disabled in IPVS mode?
3) WIth NetworkPolicy disabled(in case you have it enabled)?

[2021-10-01 00:53] gjkim42 commented on #480
[code]

I think I don't have any NetworkPolicies as I know.

[2021-10-01 14:54] rtheis commented on #479
Thanks folks.  I've verified this issue is now fixed.

[2021-10-01 14:54] rtheis commented on #479
/close

[2021-10-01 14:54] #479 closed

[2021-10-01 19:13] sahilbadla opened #486 "gcr missing k8s-dns-node-cache release 1.19.1"
Looks like k8s gcr is missing k8s-dns-node-cache release 1.19.1. All other releases are fine

[code]
/kind bug

[2021-10-04 09:12] rtmie commented on #480
@gjkim42  - changing the ipvs scheduler in kube-proxy from `rr` to `sh` did not make a difference on my dnsperf test.

[2021-10-04 09:16] rtmie commented on #480
@prameshj wrt your comment on networkpolicies and impact on iptables -  I am not clear on what  I should be looking for there that would cause the effect I am seeing? We make extensive use of network policies.

[2021-10-05 14:45] gjkim42 commented on #480
@prameshj

1. The issue is reproducible in the iptables mode

Will disable nodelocaldns tomorrow.

---

There are many invalid records in the failing nodes. (Non-failing nodes have few invalid records)

[code]

[2021-10-05 15:53] gjkim42 commented on #480
In my case, disabling the offloading for the VXLAN interface completely solves the issue.
I've used calico cni with VXLAN mode.

https://kubernetes.slack.com/archives/C09QYUH5W/p1633448073291500?thread_ts=1632813013.251600&cid=C09QYUH5W

https://github.com/projectcalico/calico/issues/3145

[2021-10-05 17:21] prameshj commented on #485
Thanks Chris!

/assign @SataQiu
Can this be closed?

[2021-10-05 17:23] prameshj commented on #480
Glad you found the issue @gjkim42

I was wondering if there is some iptables rule that drops requests from nodelocaldns to coreDNS pod if it is in the same node. Are requests dropped 100% if they are talking within the same node?

Also is this the same issue as what @gjkim42 mentioned?

@rtmie

[2021-10-05 17:34] prameshj commented on #486
Good catch, based on the file history - https://github.com/kubernetes/k8s.io/commits/main/k8s.gcr.io/images/k8s-staging-dns, 1.19.1 was not pushed.  Promoting in https://github.com/kubernetes/k8s.io/pull/2878

[2021-10-05 18:29] rtmie commented on #480
@prameshj  "Are requests dropped 100% if they are talking within the same node?"

No just a relatively high servfail rate by comparison with running dnsperf workload on a node where there is no coredns

[2021-10-08 02:02] SataQiu commented on #485
Thanks @chrisohaver
/close

[2021-10-08 02:02] #485 closed, assigned to SataQiu

[2021-10-08 22:15] #452 closed

[2021-10-08 22:16] #486 closed

[2021-10-27 21:25] jcstanaway opened #487 "Compatibility alignment with k8s releases"
It is unclear if there is any type of version compatibility requirements between node-local-dns releases and k8s releases.

In the latest version of https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml it specifies 1.17.0. Is this just stale information?  Or is 1.17.0 the latest version that is compatible with k8s?

Or is expected that the latest v

[2021-10-28 21:21] #487 closed, assigned to nobody

[2021-11-02 16:35] jcstanaway commented on #487
@prameshj, is there a reason that https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml does not refer to the latest version of node-local-dns? This discrepancy is continuing to cause some confusion.

[2021-11-04 11:58] rtheis commented on #453
We hit this problem again on Kubernetes version 1.22 with NodeLocal DNS version 1.21.1.  We are collecting debug data now to determine if we can find the root cause.

[2021-11-05 18:13] prameshj commented on #480
@rtmie could anything in the CNI be handling intra-node traffic differently than inter-node?

I would suggest trying out in a 1-node cluster with a single coreDNS pod as well, so that all requests from nodelocaldns are forced to go to the local coreDNS pod. If requests are dropped more frequently in this case, a packet capture can be the next step.

[2021-11-05 18:22] prameshj commented on #323
I missed this comment.. apologies for the super late reply. You could pass --skipteardown to both replicas, but then the iptables rules and nodelocaldns interface would need to be torn down. This is applicable mostly for cases where nodelocaldns is being disabled. It is probably not a huge issue in IPVS mode(where only a link local IP is used) if cleanup is skipped, since no other service uses tha

[2021-11-05 18:52] prameshj commented on #453
Thanks. I have also opened https://github.com/kubernetes/dns/pull/488 to count errors from rule deletions at teardown, in case that provides some hints.

[2021-11-05 19:53] prameshj commented on #487
Opened https://github.com/kubernetes/kubernetes/pull/106189 to resolve this.

We just missed updating https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml , since that is only used by some CI tests. Good idea to update those.

[2021-11-14 10:10] SuperQ commented on #476
Can you provide more details on how to reproduce this?

[2021-11-15 06:57] prameshj commented on #476
The issue can be repro'ed by running a large number od dnsclient pods that are using the image and parameters [here](https://github.com/kubernetes/perf-tests/blob/d151c4b0b65162e82d9faf21d527bbdd204d0287/clusterloader2/testing/load/deployment.yaml#L29)

In the automated test, roughly 3k pods were running and each time the cache misses in nodelocaldns were higher with coreDNS 1.8.3

[2021-11-15 15:17] chrisohaver commented on #476
Is the ratio of pod:node higher in the 3k pod test than smaller scale tests?  I would think it would be similarly proportioned across all scale tests. Ditto for QPS per nodeloacldns instance. And I presume that the cluster service discovery deployment is CoreDNS, and is scaled proportionally to the number of nodes.

* Are the nodelocaldns instances using more CPU in the 3k tests?
* Is the response

[2021-11-16 01:28] prameshj commented on #476
Yes, the ratio is much higher. In the smaller test, I only ran a couple of pods. All pods lookup the same names, so I assumed one pod's lookups can't flush cached entries for a different pod, causing potentially more cache misses.

3k client pods + CoreDNS 1.7.0 as NodeLocalDNS and 3k client pods + CoreDNS 1.8.3 as NodeLocalDNS were compared.
single client pod + CoreDNS 1.7.0 as NodeLocalDNS and s

[2021-11-16 01:28] prameshj commented on #476
Thanks for some great leads! Let me try a smaller scale test with similar pod density and also try 1.8.4 coreDNS and report back.

[2021-11-16 01:32] chrisohaver commented on #476
I think 1.8.5 would be better to test if you do test again. There was one cache related fix in 1.8.5, but in 1.8.4 there wasn’t anything I saw cache related.

On Nov 15, 2021, at 8:28 PM, prameshj ***@***.***> wrote:

﻿ Is the ratio of pod:node higher in the 3k pod test than smaller scale tests? Yes, the ratio is much higher. In the smaller test, I only ran a couple of pods. All pods lookup the sa

[2021-11-17 13:06] rtheis commented on #453
We hit the problem again Kubernetes version 1.22 with NodeLocal DNS version 1.21.1. Here is the end of the log captured during pod termination:

[code]

[2021-12-03 18:10] prameshj commented on #476
I haven't had a chance to try it in 1.8.5 yet. I tried to update dependency but kept running into errors like:

[code]

I can push my WIP PR if that helps.

I do have a coredns 1.7.1 image that I can try. Will update here by next week.

[2021-12-06 05:11] prameshj commented on #453
Any metrics from node-cache?

[2021-12-06 12:01] rtheis commented on #453
@prameshj unfortunately, I don't have any metrics captured when the failure occurred.  What would you like us to collect?

[2021-12-06 15:14] prameshj commented on #453
The "setup_errors_total" metric which was modified in https://github.com/kubernetes/dns/pull/488 to also increment during deletions.  That PR is included in 1.21.2 and later tags.

[2021-12-06 19:50] rtheis commented on #453
Thanks, we'll update our test to collect metrics once we pull in the NodeLocal DNS cache latest version.

[2021-12-20 18:16] prameshj commented on #476
@chrisohaver , any thoughts on the prev comment? Thanks!

[2021-12-20 19:05] chrisohaver commented on #476
That's really odd, because  the tags 1.8.2 and 1.8.3 contain the same code.  The only difference is that 1.8.3 has a fix to the _release_ script, but that does not affect the code, and is not compiled into coredns in any way.

[2021-12-20 20:41] chrisohaver commented on #476
I compared the 1.8.2 and 1.8.3 tags to confirm there were no code changes between those two tags ...

https://github.com/coredns/coredns/compare/v1.8.2...v1.8.3

[2021-12-21 19:18] prameshj commented on #476
Yup, i noticed the same too. Now, I can't repro it reliably in 1.8.3 as well. I will try to configure a CI to see how often we see it.

[2021-12-24 01:32] prameshj commented on #476
I was able to repro in 1.7.1 through 1.8.3 - the tests pass if the number of kube-dns replicas are increased(so there are more DNS pods to serve the cache misses) , but fails with default autoscaler parameters.

The test passes with 1.7.0. I manually patched in the change https://github.com/coredns/coredns/pull/4736, but that did not help either. I will try after reverting the DNSSEC changes in ht

[2022-01-17 15:24] sarahhodne opened #499 "gcr missing k8s-dns-node-cache release 1.21.4"
This looks similar to #486, it looks like 1.21.4 wasn't pushed correctly to GCR (but it looks like it was released, since there's a tag for it on the repo from over a week ago):

[code]

[2022-01-21 13:19] rtheis commented on #453
We were able to recreate the problem on NodeLocal DNS version 1.21.3.  Here are the logs and metrics.

[code]

[code]

[2022-01-22 02:05] prameshj commented on #453
Thanks for sharing this. However this does not include the "setup_errors_total" metric. This metric is exposed on 9353 port. The other coredns metrics from prometheus plugin are exposed on 9253.

By any chance, would you be able to export these metrics to a dashboard, so we can see the values as a function of time?

However, the logs don't have an entry like "Failed deleting iptables rule" - so it

[2022-01-24 14:22] rtheis commented on #453
@prameshj I'll fix our error collection to get metrics on port 9353.

[2022-01-25 04:38] AaronFriel opened #504 "kube-dns does not watch endpointslices for hostnames to resolve"
# Problem

Creating an endpoint slice and service in a cluster relying upon kube-dns results in no DNS resolution for either the service name or the hostnames under it.

## Steps to reproduce

Apply this simple endpoint slice and service with `kubectl apply -f`:

[code]

Launch a container such as `alpine:latest` which contains an `nslookup` or similar, via:

[code]

## Expected behavior:

In a cl

[2022-01-25 04:55] AaronFriel opened #505 "unable(?) to upgrade dependencies and potential software supply chain hazard"
# Problem

kube-dns depends upon skydns, per `go.mod`, and also strangely requires overriding almost all of the Kubernetes dependencies in go.mod to 1.19.

This is very strange to me, what is the point of declaring:

[code]

Why not just declare that this package depends upon k8s.io/api v0.19.12? The `replace` section is forcing dependencies onto unsupported versions of the Kubernetes API, the `re

[2022-01-25 23:02] prameshj commented on #476
I tried to revert https://github.com/coredns/coredns/pull/4085 on top of coredns 1.7.1 - https://github.com/kubernetes/dns/commit/373ebff7354b7c264c934313f933f6a4cb2aa879

But, nodelocaldns cache misses still show the dnssec bit set -
<img width="1413" alt="Screen Shot 2022-01-25 at 2 49 43 PM" src="https://user-images.githubusercontent.com/35932340/151074086-1a0215d3-8c66-471e-9d6a-c3ab71c0f367.p

[2022-01-25 23:51] chrisohaver commented on #476
No, that should be it. The commit is titled "_Manually_ revert DNSSEC by default in coreDNS".  The "manually" part suggesting that maybe it was done line by line? In which case perhaps some part of  coredns/coredns#4085 was missed.

[2022-01-26 00:09] prameshj commented on #476
I did this with just `git revert acf9a0fa19928e605ac8ac3314890c9fef73e16b` on my local coredns fork and copied over all the modified files into k8s/dns/vendor directory.

All files except README and *_test.go were applied. Is there a better way to do this?

[2022-01-26 00:10] chrisohaver commented on #476
Perhaps try reverting the entire cache plugin directory to 1.7.0, and see if the 4X cache miss rate is still seen in tests.  This would narrow down the cause to a cache plugin change, or something else entirely.

Are you judging "able to repro" based on tests passing/failing, or by measuring cache misses?  If the former, then results could be flaky/erratic - i.e. could barely pass one time and bar

[2022-01-26 03:14] prameshj commented on #499
This was done in https://github.com/kubernetes/k8s.io/pull/3267 last week.

worked now.

[2022-01-26 03:14] #499 closed

[2022-01-26 22:59] prameshj commented on #505
thanks for opening this issue, Aaron.

Regarding the first concern about k8s 1.19.12 - I am upgrading that to 1.21.6 in https://github.com/kubernetes/dns/pull/503
Why do we need replace blocks for each k8s sub-repo - I am not sure about this. For example, in PR, if I remove the line:
`k8s.io/api => k8s.io/api v0.21.6`

I get the error:

`go: k8s.io/kubernetes@v1.21.6 requires
	k8s.io/api@v0.0.0: r

[2022-01-26 23:29] prameshj commented on #476
Good idea, i tried this and metrics were the only additional change - https://github.com/kubernetes/dns/commit/8ac5a648b7b3f1296997679c752c910afeecae7c. I suspect some change in forward plugin might be setting DNSSEC OK.

Based on tests passing/failing, they fail if there are DNS drops, which happens if the large number of cache misses overwhelm kubedns. But since my test image is still setting DO

[2022-01-27 00:01] prameshj commented on #476
I don't see any obvious changes in forward plugin either.

Taking a step back, even if the default dnssec change is the trigger, I don't see any workaround other than to stay at the older 1.7.0 version. @chrisohaver do we expect the DNSSEC behavior to be configurable on the cache plugin?

Until we can figure out how to handle the increased load, we can stay at this older version. If there is a pre

[2022-01-27 01:20] chrisohaver commented on #476
I’ll carve out some time this week to dedicate to looking into this in more detail.

Highly unlikely. If it really ends up being an actual issue, then DNSSEC cache support would probably be re-implemented differently.

[2022-01-27 18:11] rivlinpereira opened #506 "Question: node-local-dns metrics stopped working after upgrading to EKS 1.20"
Hi,

Has anyone seen issues with metrics stop reporting when upgrading to eks 1.20 from eks 1.19 for nodelocaldns? We monitor for metrics like `nodelocaldns request latency (99/95/avg)` `nodelocaldns rcode count - noerror` `nodelocal healthcheck failures` `nodelocaldns request count` and they all stopped reporting metrics after we upgraded.

I turned on logs in node-local-dns config map to look at

[2022-01-27 19:44] chrisohaver commented on #476
@prameshj, Can you run an isolated test that compares the kubedns+dnsmasq latency of a single query with DO bit set, and DO bit not set?  There should be a significant difference in latency if this is true.  It should be on the order of 4X longer, since it's the latency that most significantly drives the number of cache misses, right?

[2022-01-27 20:13] chrisohaver commented on #476
@prameshj, are all queries in the test going to kube-dns, or is a portion going to an upstream dns server?

[2022-01-27 20:31] chrisohaver commented on #476
@prameshj, how many unique names are queried in the test?  I've been assuming it's a very small number.

[2022-01-27 21:08] prameshj commented on #506
You can try "curl http://<nodelocaldnsip>:9253/metrics" to see if metrics are exported by the pod. If yes, then the issue is somewhere in the layer that exports it up.

[2022-01-27 21:18] prameshj commented on #476
Good idea, I can try this.

only kube-dns. The forwarded latency is high when upstream is kube-dns.

It is a small number - https://github.com/kubernetes/perf-tests/blob/release-1.23/clusterloader2/testing/load/configmap.yaml#L16-L40

[2022-01-27 21:29] chrisohaver commented on #476
There are some names that would normally be sent to the upstream name servers. e.g. `google.com`
How do the test instances of node-cache handles those queries? Does it drop them?

[2022-01-27 21:59] rivlinpereira commented on #506
I do see that they are exported, the strange part if on the cluster where i see metrics coming in the /metrics endpoint does not work on the pod. I will look in more.

[2022-01-27 22:14] chrisohaver commented on #476
OK, assuming that `metrics-server` is a valid service in the same namespace of the client-pods looks like the list would expand to 52 unique names, based on search path expansion.  That's still quite small.  Only 2 queries would be send to upstream DNS `google.com` for A/AAAA.

I'm also assuming there are no local domains in `/etc/resolv.conf` in the clusterfirst search path. If there are, there w

[2022-01-27 22:19] chrisohaver commented on #476
Actually - per other queries, I see `metrics-server` is probably in `kube-system`, so those 2 would be sent upstream also like the `google.com` ones.

And if the client pods are not in `default`, the `kubernetes`  queries would also be sent upstream.

[2022-01-28 02:13] prameshj commented on #476
How do the test instances of node-cache handles those queries? Does it drop them?

Sorry, I misspoke. There is a valid upstream server that responds to google.com and other queries not ending with "cluster.locsl". The test uses dnsperf tool which DOES NOT perform searchpath expansion. That's why the query list simulates an expanded lookup.

The increased latency comes from the upstream kube-dns se

[2022-01-28 15:43] chrisohaver commented on #476
Thanks.  What is serving the upstream queries?  Do you see increased latency for responses from upstream in 1.7.1+ vs 1.7.0?

[2022-01-28 16:51] chrisohaver commented on #476
@prameshj, do you know what configuration of dnsmasq is in a kube-dns deployment? The dnsmasq tool does have dnssec support, so we should verify how that is configured to see if there could be any interaction there.

Is it possible to run these test with CoreDNS as the cluster Service discovery instead of Kube-dns for comparison?

[2022-01-28 19:48] prameshj commented on #476
Kubedns does not enable dnssec support. The flags are very similar to https://github.com/kubernetes/kubernetes/blob/a5d28a638f198d6c3d6bf3db6f20d02c44ce8070/cluster/addons/dns/kube-dns/kube-dns.yaml.in#L189-L196

This would require a little bit of customization.

[2022-01-28 20:00] prameshj commented on #476
This is the GCP DNS Server. Latency from this server looks pretty similar in the failing and passing tests. Also, scaling up kube-dns deployment made the tests pass. So i suspect it is some interaction there.

[2022-01-28 20:10] chrisohaver commented on #476
IMO worth looking into, especially since Kube-dns is virtually deprecated at this point.

[2022-01-28 21:08] chrisohaver commented on #476
I tested this in a kind cluster, and I saw no difference in latency for DO bit set vs not set.

[2022-01-31 05:15] prameshj commented on #476
Thanks! I don't see any elevated latencies when reproducing on a 2-node cluster with ~10qps.

I think this can be worked around by scaling up the number of upstream kube-dns pods or other optimizations like fast-dropping AAAA on a non-v6 cluster.

[2022-02-01 19:11] prameshj commented on #438
/close

Doc change has been made.

[2022-02-01 19:12] prameshj commented on #506
Thanks! Closing since this is resolved.

[2022-02-01 19:12] #506 closed

[2022-02-03 20:08] rtheis commented on #453
Here's recreate data for NodeLocal DNS version 1.21.3 on Kubernetes version 1.22:

**Logs:**
[code]

**Metrics:**
[code]

[2022-03-15 13:47] NissesSenap opened #511 "NodeLocal DNS AKS calico no traffic"
Hi

Having issues using local node dns on AKS with Calico CNI.
What I can see I don't get any queries to my local-node-dns instead they forwards to my original dns server. In this case 10.0.0.10.

[code]

I think the main reason is that the nodelocaldns interface is in state down.
But I think there is something more than that. I have been chrooting into one of my nodes and trying to see what I can

[2022-03-18 13:14] kvendingoldo commented on #511
Have the same issue on AKS.

[2022-03-21 14:51] kvendingoldo commented on #511
It works for me; Try to enable logs on your coredns `kubectl edit cm coredns-custom`:

[code]

and in your node-local-dns configuration (for all servers), example:
[code]

After it you should see logs.

[2022-03-22 10:48] NissesSenap commented on #511
So after reading lots of documentation + lots of github issues I realised that my networkpolicy needs two cidr blocks.

One for 10.0.0.10 and one for 169.254.25.10 in my case.

But as @kvendingoldo points out adding the log definition on your dns config helps allot :)

Now my only issue is how to configure the caching in a good way but that is another story.

[2022-03-22 10:48] #511 closed

[2022-04-01 15:10] ndombroski opened #513 "Lack of documentation surrounding image release history of node-local-dns"
Hi everyone,

I've noticed that there is no official version release history of the node-local images at k8s.gcr.io/dns/k8s-dns-node-cache

I've been attempting to find the changes in v1.21.1 (which appears to be the latest image version version according to https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml), but I cannot find any changelog docu

[2022-04-04 18:21] rtheis opened #514 "Missing k8s.gcr.io/dns/k8s-dns-node-cache:1.22.1 image"
Similar issue to https://github.com/kubernetes/dns/issues/499, missing `k8s.gcr.io/dns/k8s-dns-node-cache:1.22.1` image for https://github.com/kubernetes/dns/releases/tag/1.22.1.

[code]

[2022-04-04 20:31] #480 closed

[2022-04-15 18:21] #514 closed

[2022-04-28 20:30] rtheis opened #517 "Vulnerability scan of image version 1.22.2 reports CVE-2022-1271 and CVE-2018-25032"
Vulnerability scan of image `k8s.gcr.io/dns/k8s-dns-node-cache:1.22.2` reports [CVE-2022-1271](https://lists.debian.org/debian-security-announce/2022/msg00090.html) and [CVE-2018-25032](https://lists.debian.org/debian-security-announce/2022/msg00079.html).

[2022-04-29 13:38] dpasiukevich commented on #517
Hi,

Base image for node-cache currently is `k8s.gcr.io/build-image/debian-iptables:bullseye-v1.3.0`. It's the latest tag and it's affected by both of these vulns.

I've created a PR to switch base images to distroless https://github.com/kubernetes/dns/pull/515
I'm also waiting for the https://github.com/kubernetes/release/pull/2502 to switch debian-iptables to distroless/iptables.

[2022-05-04 21:30] rtheis commented on #453
/remove-lifecycle stale

[2022-05-05 22:36] AaronFriel commented on #504
@dpasiukevich is this issue going to be resolved?

[2022-05-06 06:42] dpasiukevich commented on #504
Hi, I don't have plans to do that. But PRs are definitely welcome as the feature is a must-have IMO.

[2022-05-06 18:55] AaronFriel commented on #504
It looks like maintainership of this repo changed, as I observed here:
- https://github.com/kubernetes/dns/issues/505

It looks like the dependencies that would need to be updated are extremely out of date, and kube-dns has been deprecated as the recommended DNS system for Kubernetes.

What's the current situation and expected support pathway for kube-dns? It seems inevitable that it will drift fr

[2022-05-31 05:08] prasanna406 opened #518 "External-IP assigned to cluster IP resolves to K8S service fqdn instead of hostmachine's fqdn"
I have a created an nginx pod and nginx clusterIP service and assign an externalIP to that service like below. This is because, we want to access the nginx web server from outside the world. If I am using nodePort type of service, it gives me only highports where I can access the nginx (like 30000 etc..) but I want to access the nginx on the same port (i.e 443, 80 ). By assigning an external IP to

[2022-05-31 13:25] chrisohaver commented on #518
This might be a bug in CoreDNS, I'll look into it.

A work around for now can be to define the reverse zones in CoreDNS's `kubernetes` config to more closely encompass just the Service/Pod IP subnets.  If your Service/Pod IP subnets are known then this should work.

e.g. if all service IPs fall in 10.0.0.0/8, and all Pod IPs fall in 172.0.0.0/8 ...

[code]

[2022-05-31 18:30] johnbelamaric commented on #476
/remove-lifecycle rotten

(spelling, sigh)

[2022-05-31 21:55] MrHohn commented on #476
cc @mag-kol @dpasiukevich

[2022-06-07 07:33] ScheererJ opened #520 "Container images for v1.22.3 missing"
From the [release page](https://github.com/kubernetes/dns/tags), it looks like v1.22.3 has been released with a new debian base image. However, I cannot find/pull the corresponding container image for the dns node cache (k8s.gcr.io/dns/k8s-dns-node-cache:1.22.3). It looks like it has not been promoted to https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/images/k8s-staging-dns/images.yaml.

[2022-06-08 10:45] chandanD4 opened #522 "Vulnerability scan of image version 1.22.3 reports CVE-2020-13949 and CVE-2022-27191"
Latest vulnerability scan reports the above mentioned vulnerability .

 CVE-2020-13949 : Require uplift of github.com/apache/thrift  from v.13.0 to v.14.0

CVE-2022-27191 : Require  golang.org/x/crypto  from v0.0.0-20200622213623-75b288015ac9 to 0.0.0-20220315160706-3147a52a75dd

What is the plan for addressing these ?

[2022-06-09 17:46] chrisohaver commented on #518
Regarding the workaround example above: If Node Local DNS is deployed, it would be better to put the tailored-down reverse zones in the Node Local DNS Corefile.  That way reverse lookups that don't fall in those ranges sent sent straight upstream instead of being routed through the CoreDNS Cluster Discovery Service.

[2022-06-17 20:18] #520 closed

[2022-06-21 21:22] jsalatiel opened #525 "nodelocaldns rewrite throws NXDOMAIN"
I am trying to use rewrite module to change the DNS response for pods inside the cluster.
My setup contains coredns + nodelocaldns:

The default  nodelocaldns configmap installed by kubespray is as follows:
[code]

Now what I am trying is to change the DNS for git.my.domain to git.gogs.svc.k8s.cluster.
Before doing any changes to the nodelocaldns config map, this is the response I get from any pod

[2022-06-21 22:00] chrisohaver commented on #525
The rewrite plugin doesn't re-feed the query back into coredns, the query more or less continues down the plugin chain, in the same server block, but with the query name altered. So, it's 172.16.0.162 172.16.0.163 that try to resolve the `git.gogs.svc.k8s.cluster` name, and they return NXDOMAIN.

The following will forward the rewritten query to 10.239.0.3.

[code]

[2022-06-22 11:31] jsalatiel commented on #525
Thank you very much. It worked!
Would you know how much entries I can have on the same block? Is there any string limitation?
k8s.cluster:53 a:53 b:53 c:53 d:53 e:53  .... {

}

[2022-06-22 12:40] chrisohaver commented on #525
No

[2022-06-22 14:24] yogeek commented on #513
Hi !

I just upgrade my K8S cluster to 1.22 and took a look at all the addons to check updates and have exactly the same concern.

One additional information that could help in addition to the release notes is mentioning if there is a compatibility matrix between Kubernetes version and node-local-cache-dns version please ?
For example : Is upgrading my current `dns/k8s-dns-node-cache:1.19.0` to a

[2022-06-24 06:55] zakabluk opened #526 "no action found for directive 'hosts' with server type 'dns' (missing a plugin?)"
I tryied set custom DNS name use by

[code]
and got error

no action found for directive 'hosts' with server type 'dns' (missing a plugin?)
I use
image: k8s.gcr.io/k8s-dns-node-cache:1.15.13

[code]
what need for set up hosts ?

[2022-06-24 12:08] chrisohaver commented on #526
Hosts plugin was added to nodelocal after 1.15.13.  I think anything 1.16+ should have hosts plugin.

[2022-06-27 11:49] #526 closed

[2022-07-05 19:05] #504 closed

[2022-07-12 16:12] zswanson opened #527 "Add the bufsize plugin to nodelocaldns"
When working with the external dns services through the `forward` directive we need to increase the max udp datagram size with `bufsize` plugin to prevent truncation and restoring to tcp by clients.

The bufsize plugin was added in [coredns 1.6.6 ](https://coredns.io/2019/12/11/coredns-1.6.6-release/) to deal with ip fragmentation and dns vulnerabilities.

[2022-07-15 13:32] #527 closed

[2022-07-20 02:37] yosshi825 opened #536 "Container images for 1.22.6 missing"
From the [release page](https://github.com/kubernetes/dns/tags), 1.22.6 has already been released, but I can't  pull image(registry.k8s.io/dns/k8s-dns-node-cache:1.22.6). Seems to be due to not being added to [images.yaml](https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/images/k8s-staging-dns/images.yaml)

[code]

ref
- https://github.com/kubernetes/dns/issues/520

[2022-07-20 20:56] dpasiukevich commented on #536
Thanks! I just didn't have time to promote the image. Was planning to do that this week.

[2022-07-20 21:36] dpasiukevich commented on #536
https://github.com/kubernetes/k8s.io/pull/3993 is merged

[2022-07-20 21:36] #536 closed

[2022-07-21 06:14] yosshi825 commented on #536
@dpasiukevich
Thank you for releasing 1.22.6  and labeling the PR with `/ok-to-test`
Since it was merged, I can pull the image.

Thanks!
[code]

[2022-07-27 19:29] dpasiukevich commented on #513
Yep, I will start making a release for each new tag.

There's no compatibility matrix. And as I can see from the PR history at least from `1.19.0` tag there are no changes that would _force_ you to upgrade the nodelocaldns with newer K8S versions
But it's worth keeping nodelocaldns closer to the newest versions as there are mainly vulnerability fixed in underlying base image.

[2022-07-27 19:29] #513 closed

[2022-07-28 14:18] dpasiukevich commented on #517
/remove-lifecycle stale

[2022-07-28 14:23] dpasiukevich commented on #517
After switch to the distroless-iptables in https://github.com/kubernetes/dns/pull/537

e.g. `k8s.gcr.io/dns/k8s-dns-node-cache:1.22.8` doesn't have these vulnerabilities

[2022-07-28 14:23] #517 closed

[2022-07-28 14:24] dpasiukevich commented on #505
/reopen

[2022-07-28 14:24] dpasiukevich commented on #522
We should fix https://github.com/kubernetes/dns/issues/505 to unblock pinned dependencies to be able to update

[2022-07-28 14:25] dpasiukevich commented on #505
/remove-lifecycle rotten

[2022-07-28 15:25] zvlb opened #538 "NodeLocalDNS send finish flag before get answer"
Sometimes i see strange error in NodeLocalDNS logs:
[code]

In TCPDump i see:
[code]

First 2 line - CoreDNS send UDP request for resolve domain, and DNS server answered: "Use TCP"
3 line -  CoreDNS send TCP request for resolve domain
4 line - CoreDNS send F flag (finish connection)
5 line - DNS server answer with R flag, bc CoreDNS send F flag (RESET connection)

I can't understand why NodeLocalD

[2022-08-02 23:18] rtheis commented on #453
/remove-lifecycle stale

[2022-08-23 15:33] tangenti opened #539 "`node-local-dns` requires extra validations for `kube-dns` configmap"
`node-local-dns` loads the values of `stubDomains` and `upstreamNameservers` from `kube-dns` configmap and compiles the config into a Corefile. However, a valid `kube-dns` config may be compiled into an invalid Corefile.

For example, the following config would be considered as valid `kube-dns` config.
[code]

The name servers specified in the `stubDomains` fields will then be used as name servers

[2022-08-23 15:44] chrisohaver commented on #539
How does kube-dns behave with such a config?  Does it try to configure dnsmasq with a domain as an upstream ip?  Is that allowed in dnsmasq?

[2022-08-23 16:42] tangenti commented on #539
Hi Chris, I'm not an expert of `kube-dns`. Checking the source code https://github.com/tangenti/dns/blob/bfa8ca85b4bb1ffcadba651500b504818f04d3ce/pkg/dnsmasq/nanny.go#L83, it seems the name servers will be resolved to an IP address first.

[2022-08-29 12:00] rtheis opened #541 "Container images for 1.22.9 are missing"
While https://github.com/kubernetes/dns/releases/tag/1.22.9 was released about a month ago, the associated release images have not been published to `registry.k8s.io/dns`.

[2022-08-30 09:21] dpasiukevich commented on #541
Contents are the same as in the 1.22.8. I just released a new tag (lightweight 1.22.8 vs annotated 1.22.9) as previously there were always annotated tags and some CIs aren't set to work with lightweight.

I will still publish 1.22.9 along with the new 1.22.10 or 1.23.0 when it appears if you don't mind.
And 1.22.9 is the same as the 1.22.8

[2022-08-30 09:35] dpasiukevich commented on #476
/remove-lifecycle stale

[2022-08-30 09:49] rtheis commented on #541
Thank you

[2022-09-01 11:09] #539 closed

[2022-09-02 08:17] smoke commented on #480
@rahul-paigavan In most modern K8S systems the DNS and TLS layer is abused by not properly using Keep Alive (HTTP / TCP) of the connections, this causing DNS to be queiried as well TLS to be handshaked on each request - here is a great blog post about that https://www.lob.com/blog/use-http-keep-alive

Other than that you should check and optimize the DNS zones inside the Nodelocal, look for:
 - in

[2022-09-02 09:04] #541 closed

[2022-09-05 07:14] amshankaran opened #542 "TCP listen on port 9253 on all interface addresses creates security vulnerability"
K8s cluster is installed on VMs/worker nodes having multiple interfaces. Couple of interfaces have external connectivity towards DC-GW. dns-node-cache (node-local-dns) listens on 9253 for prometheus. But this TCP listens on all the interfaces including external interfaces.
This makes cluster vulnerable to DoS attack.

worker-pool1-z92h78yx-stack:~ # lsof -i -n -P | grep :9253
node-cach   4720

[2022-09-05 07:18] amshankaran commented on #542
[corefile.txt](https://github.com/kubernetes/dns/files/9487549/corefile.txt)
Attaching the node-local-dns corefile

[2022-09-09 07:32] marco210 opened #544 "Nodelocal DNS Cache can not resolve /etc/hosts each node"
### What happened?

Nodelocal DNS Cache does not resolve priority /etc/hosts in node.

### What did you expect to happen?

Nodelocal DNS Cache resolve  domain in /etc/hosts

### How can we reproduce it (as minimally and precisely as possible)?

Each `/etc/hosts` node have local domain xx.xx.xx.xx harbor.io. Before install Nodelocal DNS Cache, in another pod I can `dig  harbor.io` and return ip in

[2022-09-20 13:39] dpasiukevich commented on #544
Serving hostnames from `/etc/hosts` should not be part of the nodelocaldns because `/etc/hosts` is not a part of DNS.
Plus `Nodelocal DNS Cache` is a DNS cache. It's not an authoritative server to return records by its own.

1. To read hostnames from `/etc/hosts` and control DNS resolution on specific machines you can configure  [/etc/nsswitch.conf](https://man7.org/linux/man-pages/man5/nsswitch.c

[2022-09-20 13:39] #544 closed

[2022-09-20 14:02] dpasiukevich commented on #544
Just in case. I created a cluster with nodelocaldns and modified /etc/hosts:
[code]

and run ping:
[code]

So there's no problem resolving hostnames from the `/etc/hosts`.

[2022-09-20 14:06] dpasiukevich commented on #525
/close

[2022-09-20 14:06] #525 closed

[2022-09-22 20:53] jdub55 opened #546 "Flag to override TTL to never exceed X seconds?"
Given the modern DNS implementations of multiple records, round robin and geo IP based lookups, is it possible to set a Max TTL value which will be enforced even if the upstream response returns something unusually high. We had a recent situation where an extremely large TTL value was cached and it was extremely difficult to track down. Having a maxTTL setting would help to ensure DNS lookups work

[2022-09-22 21:01] chrisohaver commented on #546
In kube-dns, this would be configurable in the dnsmasq sidecar.
In CoreDNS, this is configurable via the cache plugin.  The default CoreDNS max is configured to 30 seconds in most k8s deployments.

[2022-09-23 09:29] dpasiukevich commented on #546
Yep, nodelocaldns also uses 30 sec for cache TTL.

As for kubedns it also returns 30 sec as TTL [source](https://github.com/kubernetes/dns/blob/a9693938be8c93b6f5e56fa7fc15784b082a9b96/pkg/dns/util/util.go#L41)

So it makes sense to set --max-cache-ttl=30 in the dnsmasq. The only thing that this option should not be hardcoded here in this repo but should be set when dnsmasq is started via configur

[2022-09-26 20:22] raul-te opened #547 "Update caddy dependency"
Dear maintainer,

Please, update `caddy` to the latest available version. It's currently pinned to version 1.0.5, and the latest available version is 2.6.1.

Versions up to 2.5.0 are known to be vulnerable to [open redirects](https://nvd.nist.gov/vuln/detail/CVE-2022-29718).

[2022-10-03 06:55] #546 closed

[2022-10-07 19:53] chrisohaver commented on #518
This issue was fixed in CoreDNS with https://github.com/coredns/coredns/pull/5435, released in CoreDNS 1.9.4.

[2022-10-30 15:45] Mihai-CMM opened #550 "coredns svc connection timed out; no servers could be reached"
Hello saw this a few times in the past . I wonder if anyone can help with it on my particular case please
I have a kubespray deployed cluster and i tried with cilium, calico  and flannel always with the same result.
I can get DNS A records if I  query a coredns pod but not if i query the service itself.

`kubectl exec -i -t dnsutils -- nslookup gsp.ro

;; connection timed out; no servers could be

[2022-10-30 18:36] Mihai-CMM commented on #550
In fact looking at a tcpdump any queries towards svc IP are going to 2 strange IPs but not the IPs of the coredns pods

[2022-10-31 14:09] chrisohaver commented on #550
If this _only_ affects the DNS service IP, then it may be that you have nodelocal DNS cache installed, and either it's not managing its iptables rules properly, or nodelocal dns is otherwise unhealthy (nodelocal DNS cache inserts iptables rules that redirect dns queries bound for the coredns service IP).

If this affects _all_ ClusterIP services, it's probably an issue with kube-proxy.

[2022-10-31 14:36] Mihai-CMM commented on #550
This happens only with cluster DNS IP only. If i change the svc for coredns and it gets a different IP then all seems fine. If it uses the one that is set as the cluster dns than end game being translated to one of those 2 IPs from the pod rage but who are not in fact the core dns pod IPs . I've looked in iptables-save and i could not find the culprit. I've tried to use IPVS and i hit the same iss

[2022-10-31 14:36] #550 closed

[2022-11-01 09:57] rtheis commented on #453
/remove-lifecycle stale

[2022-11-06 21:37] dpasiukevich commented on #518
/reopen
/remove-lifecycle rotten

I want to test and upgrade the dependencies to use CoreDNS 1.10.0

[2022-11-09 07:43] dpasiukevich commented on #476
After the upgarde to latest tag for coredns 1.10.0 I didn't observe any cache miss regression - https://github.com/kubernetes/dns/pull/551

[2022-11-09 07:43] #476 closed

[2022-11-09 07:48] dpasiukevich commented on #505
I imported skydns, upgarded its dependences, which allowed to unpin the dependencies and to upgrade to the latest versions.
https://github.com/kubernetes/dns/pull/551

As for the import for k8s deps:
[code]

I've upgraded and synced the dependencies as well.

I see I only missed one case for the api `k8s.io/api => k8s.io/api v0.24.7` but all other k8s imports are consistent between `require` and `

[2022-11-09 07:48] #505 closed

[2022-11-09 07:52] dpasiukevich commented on #518
I've upgraded the dependency to coredns 1.10.0 which should solve the issue

[2022-11-09 07:52] #518 closed

[2022-11-09 08:00] dpasiukevich commented on #547
`caddy` dependency comes from the `coredns` dependency. If it's upgraded in the `https://github.com/coredns/coredns`
it will be upgraded in this repo as well.

Could you reopen the issue here when the dependency is upgraded in the coredns repo?
Thanks!

[2022-11-09 08:00] #547 closed

[2022-11-09 08:51] dpasiukevich commented on #522
/remove-lifecycle stale

[2022-11-09 10:06] #522 closed

[2022-11-10 12:43] stephan2012 opened #553 "Container images not available for v1.22.14/v1.22.15"
It looks like the container images for v1.22.14/v1.22.15 are not available at `registry.k8s.io/dns/k8s-dns-node-cache`. I also observed this issue for some previous versions. Is the registry the correct one or is the upload error-prone?

[2022-11-10 14:21] dpasiukevich commented on #553
I didn't have time to promote these new tags.
I'd appreciate if you could do that. I will approve the PR worst case on Monday.

example: https://github.com/kubernetes/k8s.io/pull/4301
guide: https://github.com/kubernetes/dns/blob/master/README.md#release-process
starting from the step 8.

[2022-11-16 00:14] adammw opened #555 "Kubernetes Plugin returns NoError for TXT queries for non-existent domains"
Kubernetes Plugin returns NoError for TXT queries for all domains including non-existent domains, resulting in DNS queries using multiple ndots candidates being accepted in the Kubernetes with no records returned instead of passed on to the next candidate.

[2022-11-16 00:15] adammw commented on #555
Wrong repo. 😅

[2022-11-16 00:15] #555 closed

[2022-11-16 00:18] chrisohaver commented on #555
See https://github.com/coredns/coredns/issues/5736 and PR in progress: https://github.com/coredns/coredns/pull/5737

[2022-11-16 00:23] adammw commented on #555
Way ahead of me. Thanks!

[2022-11-17 08:04] #553 closed

[2022-11-25 01:35] Ballhausen opened #557 "coredns pod and associated pods running but not ready"
Encountered this situation on a fresh machine while following the "getting started" guide.

Was able to fix with `docker rm -f $(sudo docker ps -a -q)` which is only a temp solution.

[2022-11-25 06:47] #557 closed

[2022-11-30 10:05] wondywang opened #558 "[makefile] make build don't work correct"
**What steps did you take and what happened:**

whenI use the latest code to build node-cache, throwing an exception.
[code]

The output looks like:
[code]

**Environment:**
go version: go1.19.2 darwin/amd64
OS (e.g: cat /etc/os-release): Mac