[2016-12-23 00:57] bowei opened #9 "Use glide instead of GoDep"
Glide seems to be a better dependency management mechanism.

[2016-12-23 00:58] bowei opened #10 "Move kube-dns code over from kubernetes main repo"
Need to move the kube-dns files here. See the community proposal:

https://github.com/kubernetes/community/issues/172

[2017-01-04 19:45] #10 closed

[2017-01-04 19:45] bowei commented on #9
glide does not work with the existing kubernetes repo due to replicated client-go in the vendor

[2017-01-04 19:45] #9 closed

[2017-01-13 20:12] johnbelamaric opened #29 "Spec: Update the spec for federation"
The current spec covers only a single cluster. It needs to be updated to reflect federation records and behavior.

[2017-01-13 21:48] thockin commented on #29
The federation records need to be totally revamped - last I looked at them they were ambiguous.  @csbell  @madhusudancs

[2017-01-17 14:53] csbell commented on #29
@thockin The best reference outside of code that I could find is located [here](https://github.com/kubernetes/kubernetes/pull/25107#issuecomment-218026648). By revamp, do you mean merging the current federation behavior into the spec here or is there more involved?

[2017-01-18 05:16] Blfrg opened #33 "Failed to create a kubernetes client"
Hello, this looks like the new home for kube-dns, so I hope I'm posting in the right place.
I'm getting the following error [in the kubedns container] when trying to create the kube-dns addon:

[code]

Some details about my setup:
- Vagrant: 1.9.1
- Container Linux (CoreOS): 1235.6.0 (Stable)
- Docker: 1.12.3
- Flannel: v0.6.0
- Kubernetes: v1.5.2
- kube-dns: 1.11.0
_Note: no config-map, no federa

[2017-01-18 06:28] thockin commented on #29
Welcome to the real guts of the project :)

From that doc:  `mysvc.myns.myfed.svc.u7s.io` is proposed as an example.
This is ambiguous.  It could just as likely mean a pod "mysvc" ins a
stateful set "myns" in namespace "myfed".  The hope waas that the extra
token was enough to disambiguate but it's not.  This snuck in without me
catching it, and now we need to find a way to fix it.

We proposed so

[2017-01-18 07:03] bowei commented on #29
Given federation is still in its early stages, it would be great to get ahead of this issue

[2017-01-18 07:25] bowei opened #35 "kube-dns should use versioned client-go"
kube-dns should use a versioned copy of the client-go repository, rather than HEAD

[2017-01-18 17:50] MrHohn commented on #33
I remember @bowei met similar problem before?

Though this doesn't seem like a "kube-dns" issue...

[2017-01-19 07:40] bowei commented on #33
Can you try exec'ing into the pod and putting the output of `find /var/run/secrets` here?

[2017-01-19 20:52] cmluciano commented on #35
I tried this locally, but DNS does not have the proscriptive procedure that [kube devel](https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md) has.

Upon checking out release 1.5 for client-go, I ran ``godep save`` which seemed to change a bunch of stuff in ``vendor`` that was unrelated to this package.

I also noticed that we are building with Go 1.6 and Kube master is

[2017-01-19 21:15] bowei commented on #35
@cmluciano -- thanks for taking a look at this.

The procedure from kube devel should work with modifications -- I will add a doc. Unfortunately, due to some issues with the way the kubernetes repo is setup, glide does not work at the moment.

[2017-01-19 21:45] cmluciano commented on #35
Thanks a ton! I will try again with your doc.

[2017-01-21 04:17] Blfrg commented on #33
@bowei To answer your question, I couldn't exec into the pod because it promptly failed.
However I was able to `docker inspect <container>` and find the secrets mount path, which had no contents.
I found that if I killed the apiserver or docker itself the mount point would be populated correctly.

@MrHohn was correct this was not a _kube-dns_ issue, it seems it was a docker mount issue.
I recently

[2017-01-23 05:11] madhusudancs commented on #29
Oh wow! Did not know about the existence of this repo and was hence missing the notifications.

This and in addition we had the literal `svc` somewhere in there. IIRC. Something like `mysvc.myns.svc.myfed.fed`. We still need to come up with a concrete migration plan.

There is also this doc that Quinton wrote - https://docs.google.com/document/d/1tSTgqSy7iR8cQx2z-bbqaYVITrraDQmV_aE43PuRPoI/edit#he

[2017-01-23 06:02] MrHohn commented on #33
@Blfrg Could you also post how you start the Apiserver (using what flags)?

Have you tried delete the default secret in `kube-system` and let Apiserver re-create it, and then re-create the `kube-dns` pods to populate the new generated secret? Wonder whether the existing token somehow became invalid due to Apiserver restarting (just a guess).

[2017-01-23 18:51] nikhiljindal commented on #29
Also ref https://github.com/kubernetes/kubernetes/issues/27969

We had also discussed supporting DNS names for ingress. So `fsvc` and `fing` should be better than `fed`.
Also, with that proposal, we will need more than 6 dots for stateful sets (extra dot for federation name). Is that acceptable?

+1.

[2017-01-23 19:33] bowei commented on #29
@nikhiljindal One thing to keep in mind, increases in ndots can have a dramatic impact on performance.

When a name has fewer dots than ndots, external names result in 10 DNS lookups/name. Modulo negative caching, this can easily result in DNS server meltdown.

[2017-01-23 19:38] bowei commented on #35
@cmluciano -- I added some scripts to make it easier to use godep, please take a look:

https://github.com/kubernetes/dns/blob/master/docs/go-dependencies.md

[2017-01-23 22:08] cmluciano commented on #35
Awesome PR forthcoming

[2017-01-24 02:23] therc opened #38 "Add support for TXT entries"
gRPC has a new proposal out for storing service configurations in TXT records:

https://github.com/grpc/proposal/pull/5

If you use gRPC under Kubernetes, you will now have two choices:

1. use parallel DNS hierarchies, one managed by kube-dns, one by a more traditional DNS server just for the TXT records
1. extend kube-dns to support custom TXT records

I would prefer the second, by far. This cou

[2017-01-24 16:26] thockin commented on #38
This isn't horrible, but I am not sure exactly how we would want to support
it.

@bowei

On Mon, Jan 23, 2017 at 6:23 PM, Rudi C <notifications@github.com> wrote:

[2017-01-24 17:47] cmluciano commented on #35
Just conforming, would we like client-go v1.5 or the prerelease?

[2017-01-24 17:55] GheRivero commented on #35
I'm not a fan of not using stable releases as dependencies, could be a nightmare to debug if they change something without noticing it

[2017-01-24 18:17] Blfrg commented on #33
@MrHohn To confirm I have tried deleting the secret, recreating the pod, and confirmed the new secret was found and used, but still with the same effect.

Here is the apiserver yaml:
`
apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: gcr.io/google_containers/hyperkube:v1.5.2
    command:

[2017-01-24 18:28] bowei commented on #35
@cmluciano -- it should be client-go v.1.5

@GheRivero -- the vendored client must be updated explicitly (e.g. via a commit). Tracking an external version should be more stable than grabbing a commit off of HEAD.

[2017-01-24 18:36] cmluciano commented on #35
Yep, the v1.5 has things stored under a 1.5 directory, which threw me off a bit.

[2017-01-24 19:52] bowei commented on #38
@therc -- let's start with a strawman proposal -- you can create a pull request against the docs/specification and proceed from there

[2017-01-27 00:12] jhorwit2 opened #43 "docker registry with a port breaks make script"
The make script allows you to set a registry from the env; however, if it's something like `foo:5000` it will fail with:

`rules.mk:125: *** target pattern contains no `%'.  Stop.`

[2017-01-27 01:27] Blfrg commented on #33
I have found the source of the issue regarding tokens prompting for credentials.
I suspected it was somehow related to certs, as I'm sure others would conclude as well.

I was under the impression apiservers and controllers should use independent certs.
But reading some others issues I decided to try the same key from the apiserver for the controller:
[code]
I then copied the new yaml into `/etc/k

[2017-01-27 01:27] #33 closed

[2017-01-27 22:33] cmluciano commented on #38
@therc I can help out with this once we have a proposal.

[2017-01-31 16:07] cmluciano opened #45 "Add Vagrantfile to ease development on DNS"
I have a Vagrantfile that sets up a Ubuntu 16.04 box to build/test this repository. I've been using it since this repository contains scripts that don't play well on Darwin.

 I can open a PR to add this to the root path if we think that it would be beneficial.

[2017-02-01 00:35] bowei commented on #45
Sounds useful, yes unfortunately there are some tiny differences between the BSD and Linux userland.

[2017-02-01 18:48] #45 closed

[2017-02-02 16:32] cmluciano opened #48 "build/dep.sh and Godeps does not properly import some dependencies"
There are 3 dependencies that are not pulled in properly with Godep. I can only get a successful build by adding the dependent libraries to [build/dep.sh required packages](https://github.com/kubernetes/dns/blob/master/build/dep.sh#L21).

[code]

Packages not pulled in:
github.com/googleapis/gax-go
golang.org/x/text/internal

Steps to reproduce:
1. Enter container ``./build/dep.sh enter -u``
2. Pu

[2017-02-02 16:48] cmluciano commented on #48
ginko also doesn't appear to be pulled in when I remove the vendor dir.

[2017-02-02 18:40] cmluciano commented on #48
May be related https://github.com/kubernetes/client-go/issues/38

[2017-02-02 18:49] bowei commented on #48
@cmluciano -- let me take a look. the godep management is quite a mess

[2017-02-02 23:21] jbeda opened #49 "sidecar should verify that it had fully qualified DNS names"
Spent a while debugging the fact that the input was `cluster.local` and not `cluster.local.`

Or we can just fix it up.

[2017-02-02 23:51] #49 closed

[2017-02-06 18:24] cmluciano commented on #35
Decision is to wait for the latest tagged release when all apimlchinery is figured out. Using the current tagged releases would result in reverted code.

[2017-02-06 22:29] cmluciano commented on #43
This seems to be a problem with make/bash.

From the [make docs](https://www.gnu.org/software/make/manual/html_node/Using-Variables.html)
[code]

We can escape the colon with a backslash, but that would be required input from the user.

2 options I see so far:
- Document that custom registries require a backslash when a port is given
- Try rewriting the REGISTRY variable [like so](http://blog.jgc.

[2017-02-06 22:37] thockin commented on #43
Can you post an exact commandline you are using?

[2017-02-07 16:35] cmluciano commented on #43
Steps to reproduce:
- Run local registry ``docker run -d -p 5000:5000 --restart=always --name registry registry:2``
- Pull alpine and golang from public registries (golang:1.7-alpine, alpine:3.4)
- Retag and push golang and alpine to local registry
- Change [registry](https://github.com/kubernetes/dns/blob/master/Makefile#L30) to
localhost\:5000/cmluciano
- Run ``make images-build && make images-p

[2017-02-07 21:51] githubvick opened #51 "kubedns nslookup: can't resolve"
I have successfully setup a Kube cluster and trying to setup KubeDNS.

Version:

kubectl version

[code]

When I deploy kubedns, I get this error in journalctl -xe

"Error syncing deployment kube-system/kube-dns-v20: Operation cannot be fulfilled on deployments.extensions "kube-dns-v20": the object has been modified; please apply your changes to the latest version and try again"

But didn't find e

[2017-02-07 22:08] #51 closed

[2017-02-07 22:09] MrHohn commented on #51
I think neither `cluster.local` nor `kubernetes.cluster.local` is a valid name for DNS lookup. Your last input `kubernetes.default.svc.cluster.local` seems correct, though you are using `localhost` as the DNS server instead of kube-dns service's cluterIP.

[2017-02-07 22:11] githubvick commented on #51
Hi MrHorn, yep. Just noticed that this worked, so closed the issue. If there is a way , maybe you can delete it. Sorry for the trouble

kubectl exec -it webapp -- nslookup kubernetes.default.svc.cluster.local
Server:		10.254.0.2
Address:	10.254.0.2#53

Non-authoritative answer:
Name:	kubernetes.default.svc.cluster.local
Address: 10.254.0.1

[2017-02-07 22:17] MrHohn commented on #51
No worry, glad you figured it out :)

For a pod in default namespace, you could also use these to query (we have default search paths configured):
- kubernetes
- kubernetes.default
- kubernetes.default.svc

[2017-02-09 05:57] XiLongZheng opened #52 "images for s390x"
When will the dns images for s390x ready? Along with kubentetes 1.6.0 release?

[2017-02-09 18:38] bowei commented on #52
Which images specifically?

[2017-02-09 19:49] bowei commented on #52
Hmm -- I need some help in this area, would be great if someone with experience with s390x can get the dnsmasq s390x build working

[2017-02-10 01:59] XiLongZheng commented on #52
I found the file dns/images/dnsmasq/Makefile already had s390x defined but not in ALL_ARCH definition. Also found build instruction for s390x on https://github.com/linux-on-ibm-z/docs/wiki/Building-kube-dnsmasq.

else ifeq ($(ARCH),s390x)
        BASEIMAGE ?=s390x/busybox:glibc
        TRIPLE    ?=s390x-linux-gnu
        QEMUARCH  :=s390x
else

[2017-02-14 09:02] morallo opened #55 "Custom DNS entries for kube-dns"
I re-create the issue here as suggested by @bowei.

**Kubernetes version** (use `kubectl version`): v1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: baremetal,
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 8 (jessie)
- **Kernel** (e.g. `uname -a`): 3.16.7
- **Install tools**: [docker-multinode](https://github.com/kubernetes/kube-deploy/tree/master/docker-multinode)

[2017-02-14 10:12] morallo commented on #55
Answering @bowei:

It's not the case, they are in their own domain. With name clash you refer to something like the possibility of sinkholing "google.com" for your cluster? Or unintended clashes?

This is my specific use case:
- A pool of Debian Jessie servers used for testing deployment of distributed applications. No internal DNS server, managed manually through /etc/hosts (don't judge!).
- Kube

[2017-02-14 17:36] cmluciano commented on #55
Does externalName work for your use case https://kubernetes.io/docs/user-guide/services/#without-selectors ?

[2017-02-14 21:57] thockin commented on #55
Are you trying to get real IPs for *.cluster.int.domain.corp or are you
trying to provide fake answers?

If we had what Bowei describes, you could deploy a micro-DNS-server that
answered cluster.int.domain.corp for a known set of IPs, or send queries to
the real DNS server for that domain.

If what you want is to fake some DNS replies, it is more complicated...

On Tue, Feb 14, 2017 at 9:36 AM, cm

[2017-02-15 04:03] #43 closed

[2017-02-15 08:20] gajju26 commented on #52
@bowei : I will look into dnsmasq s390x build working.

[2017-02-15 13:10] gajju26 commented on #52
Raised a PR (#56 ) for s390x build

[2017-02-17 09:47] XiLongZheng commented on #52
When will it be ready? Thought kubernetes 1.6 code freeze is around the end of Feb, whether DNS will also have a release with kuberentes 1.6?

[2017-02-17 19:14] bowei commented on #52
These have been pushed. I have a PR to update the version referenced in the cluster addons.

gcr.io/google_containers/k8s-dns-dnsmasq-s390x:1.13.0
gcr.io/google_containers/k8s-dns-sidecar-s390x:1.13.0
gcr.io/google_containers/k8s-dns-kube-dns-s390x:1.13.0

[2017-02-17 19:15] bowei commented on #52
You can track the PR here: https://github.com/kubernetes/kubernetes/pull/41657

[2017-02-17 20:58] bowei commented on #52
This should be resolved, reopen if not.

[2017-02-17 20:58] #52 closed

[2017-02-18 03:31] ravilr opened #60 "stale service A records returned by dnsmasq?"
kubedns: gcr.io/google_containers/kubedns-amd64:1.8
dnsmasq: gcr.io/google_containers/kube-dnsmasq-amd64:1.4

A service resource say qa-svc1 was created and deleted after some time. the same qa-svc1, if recreated and got assigned a different ClusterIP, we are seeing kube-dns/Cluster-First dns-policy pods continue to see older ClusterIP on dns resolution of qa-svc1.  I believe this is from the dnsm

[2017-02-18 05:30] bowei commented on #60
Record TTL is set to 30 seconds currently. Are you seeing inconsistencies beyond that length of time?

[2017-02-18 14:17] XiLongZheng opened #61 "kubedns 1.13.0 failed to start on v1.6.0-alpha.3 (s390x)"
Just created a new v1.6.0-alpha.3 cluster on s390x, tried to deploy kubedns to the cluster, but failed. See below kubectl get pods and describe pods out put. Also attached my kubedns-controller.yaml and my shell script to start kubernetes cluster in zip file.
[kubedns-failed-to-start-s390x.zip](https://github.com/kubernetes/dns/files/785078/kubedns-failed-to-start-s390x.zip)

root@test-k8s-16-alph

[2017-02-18 18:58] cmluciano commented on #61
Can you post the container logs too?

[2017-02-18 20:52] ravilr commented on #60
yes, I was seeing inconsistent results. But, i forgot to capture `dig` output at the time when it was happening. I restarted all kube-dns pods since then.

Before restarting kube-dns (10.10.10.109 is the correct clusterIP) :
[code]

dig output after restarting kube-dns (shows ttl=30):
[code]

I'll see if i can reproduce this and report back here.

[2017-02-20 08:37] XiLongZheng commented on #61
Looks like the problem is from k8s-dns-sidecar-s390x:1.13.0 image, need to add nobody group into /etc/group file, in short, append below line to file /etc/group of image k8s-dns-sidecar-s390x:1.13.0

nobody:x:101:

Error message from the container:
Error response from daemon: {"message":"linux spec user: unable to find group nobody: no matching entries in group file"}

[2017-02-21 06:18] bowei commented on #61
please open a PR

[2017-02-22 14:14] morallo commented on #55
Sorry for my late reply.

@cmluciano: externalName does not work because the containers need to resolve the name, and they can't reach our internal DNS.

@thockin: the stub DNS server is what I ended up implementing. However, I still think there is a valid use case for having quick custom DNS profiles.

Feel free to close the issue if you think the feature is not interesting.

[2017-03-03 09:27] Agrosis opened #65 "KubeDNS consistently dies"
Hi there! I'm running a vanilla Kubernetes v1.5.1 cluster inside VirtualBox with a flannel overlay network. All of that worked perfectly, so I decided to get cluster DNS working today.

I'm having a couple of issues here. First off is sometimes when KubeDNS starts it can't reach the apiserver. I have to restart it a couple of times before it reaches it correctly. The second problem is that the ser

[2017-03-03 18:48] bowei commented on #65
This sounds like an issue with flannel connectivity.

kube-dns runs a set of health checks to both dnsmasq and the kube-dns component. If these health checks fail repeatedly, then the pod will be restarted. What I would do is run tcpdump and netcat to see if your packets are being delivered properly.

Regarding the SIGKILL, the behavior is to enable a graceful termination of the DNS service. When

[2017-03-03 20:02] Agrosis commented on #65
It does seem like there's an issue with flannel. When KubeDNS starts on a non-master node, it can't hit the apiserver, which explains my first problem. I'll try to get that fixed up first, and see if that resolves the second problem.

[2017-03-03 20:34] Agrosis commented on #65
So it seems like pods without host networking can communicate fine across the overlay network, but pods on worker machines can't hit pods that run use hostNetwork on the master. I'll just force the kubedns pod to run on the master for now until I can figure something else out.

[2017-03-03 22:32] Agrosis commented on #65
I managed to find https://github.com/kubernetes-incubator/kargo/issues/258 and setting `advertise-address` on the kube-apiserver fixed the problem where a pod on the node couldn't hit the apiserver on the master.

Its still failing health checks, so I'll get to fixing that.

[2017-03-04 02:59] Agrosis commented on #65
Well, I figured out the second problem. The liveness health check for the kubedns pod is executed on a port that's exposed for sidecar, which I had commented out when I was trying to debug the first problem. So the request was timing out and that's why it was consistently being restarted. Thanks for the help!

[2017-03-04 02:59] #65 closed

[2017-03-08 16:37] sgmiller opened #66 "kubedns dnsmasq pod fails with blank IP for the DNS host"
Can't get a cluster started using kubeadm on v1.6.0-beta1 (kube-dns v1.14.1).  The dnsmasq pod fails with:
[code]

/etc/hosts contains:

[code]
So presumably it can't get the information it needs from the ConfigMap?

[2017-03-08 17:53] MrHohn commented on #66
kube-dns ConfgiMap won't affect `/etc/hosts` file. Instead, kubelet is responsible to setting the hosts file up (https://github.com/kubernetes/kubernetes/blob/c3d7ee11d176d94108831bed2e76e94039338fd2/pkg/kubelet/kubelet_pods.go#L186-L207).

And seems like you've got a empty pod IP for this kube-dns pod. Can you also check the output of `$ kubectl get pods KUBE_DNS_POD_NAME --namespace=kube-system

[2017-03-08 18:05] sgmiller commented on #66
I see.  Other pods don't seem to have this problem.  Looking on kube-proxy for example has a complete hosts file.

The kube-dns pod's yaml is attached.
[kube-dns.txt](https://github.com/kubernetes/dns/files/828520/kube-dns.txt)

[2017-03-08 18:12] sgmiller commented on #66
This line from syslog on the master (the only node so far) is interesting:

 NetworkPlugin cni failed on the status hook for pod "kube-dns-1630391940-bnl7d_kube-system": Unexpected command output Device "eth0" does not exist.

[2017-03-08 18:14] sgmiller commented on #66
And indeed, ifconfig in the kubedns container has only "lo":

[code]

[2017-03-08 18:37] MrHohn commented on #66
Hmm, could you check other pods that are not using hostNetwork (kube-proxy set hostNetwork=true)? From your yaml file it seems like it does not have podIP allocated. I wonder is the underlying network broken?

Here is a similar issue: https://github.com/projectcalico/calicoctl/issues/1407

[2017-03-08 19:29] MrHohn commented on #66
Yeah, it was trying to reach the apiserver through the default kubernetes service but failed.

Not sure how kubeadm set this up, but as I know kube-dns either use the kubecfg file specified by `--kubecfg-file` and `kube-master-url` flags or use the env vars (KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT, which should be set up automatically when pod is created) as the configurations when cre

[2017-03-08 19:32] sgmiller commented on #66
Its the env vars, and they're wrong.  What controls setting those?

[2017-03-08 21:13] MrHohn commented on #66
These values are piped into kubelet through `--kubeconfig` or `--api-servers` flags.

I'm not pretty sure if the real issue is about "incorrect kubernetes service IP/port" or not. Feel like there may be some mechanism in kubeadm I misunderstood. You may want to open an issue against kubeadm to seek for the real root cause.

[2017-03-08 21:25] MrHohn commented on #66
Oops, looks like I am wrong. Those env vars are generated from services themselves but not from flags:
https://github.com/kubernetes/kubernetes/blob/c3d7ee11d176d94108831bed2e76e94039338fd2/pkg/kubelet/kubelet_pods.go#L389
https://github.com/kubernetes/kubernetes/blob/c3d7ee11d176d94108831bed2e76e94039338fd2/pkg/kubelet/envvars/envvars.go#L27-L60

[2017-03-08 21:58] sgmiller commented on #66
I agree, I don't think kube-dns has anything to do with this, closing.

[2017-03-08 21:58] #66 closed

[2017-03-09 18:52] madhusudancs opened #67 "Federations config should work with or without trailing dots in the zone names"
`Federations` config either passed through a flag or a ConfigMap is validated to ensure that the zone names (the domain name suffix) are valid [RFC 1123](https://tools.ietf.org/html/rfc1123) subdomain names. Most DNS zone configurations take a trailing dot in their configuration, but the regex we use in `kube-dns` has a format that does not match trailing dots. This mismatch is a cognitive overhea

[2017-03-09 22:58] perotinus commented on #67
Does this back us into any corners or make things harder in the future? If we're more liberal with what we accept now, will that mean that in the future we'll have to break people by becoming more restrictive and requiring the dot?

(I don't know enough about DNS names to be sure, but it seems like it could be significant.)

[2017-03-09 23:05] madhusudancs commented on #67
I don't see a future where we will require dots. Someone might push back on changing the current state of things, that is requiring to not have a dot. However, I don't see a reason to make that a requirement.

[2017-03-10 14:46] shashidharatd opened #68 "stubDomains should also support nameserver with port"
@bowei, Thanks for the feature to add nameserver to kubedns via [stubDomains](https://github.com/kubernetes/dns/commit/9cd64b63d9cff93f111c0fb25c5a3db13700fc19), its really useful.
I find that nameserver need to be pure ip and does not support appending  with port.

it would be really useful to support nameserver appended with port, if somebody wants to deploy dns-server in kubernetes as a NodePor

[2017-03-11 00:35] #68 closed

[2017-03-13 10:57] JorritSalverda commented on #55
I'm all for extending KubeDNS's api so you can do CRUD on dns records yourself or by adding the service aliases as mentioned in https://github.com/kubernetes/kubernetes/issues/39792, because that's what I'm really after.

[2017-03-16 18:13] bowei opened #70 "Error with pod hostname query"
Query for the `<pod-hostname>.<ns>.pods.cluster.local` is not returning the A record for the pod

[code]

kube-dns logs
[code]

[2017-03-16 18:22] thockin commented on #70
Unless I misunderstand, we don't support that query, on purpose.  We don't want DNS to have to watch all pods.

[2017-03-16 18:31] exarkun commented on #70
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ led me to believe this would work.  However, a more careful re-reading now suggests that I probably combined information from a few different section - like the "Pods / A Records" section and the "A Records and hostname based on Pod’s hostname and subdomain fields" section - and invented the idea that this style hostname woul

[2017-03-16 18:49] bowei commented on #70
yeah -- brain fart on my part -- we should fix the documentation however, I don't think it's very clear

[2017-03-16 18:49] #70 closed

[2017-03-22 13:04] gajju26 commented on #61
Hello XiLongZheng

Recently I tested the new version of kube dns 1.14.1 and there I did not see any problem for all the images viz. dns, dnsmasq and sidecar so can you test with the latest version. I came across this specific problem for "exechealthz" available for s390x.  So can you confirm this issue is with sidecar or exechealthz?

[2017-03-27 23:57] dkoshkin opened #72 "DNS flag kube-master-url is not respected"
Using `gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.1`
K8s: `v1.6.0-beta.4`

Looks like the value in the kubeconfig overrides the value provided in `kube-master-url` flag. The dns pod doesn't start up.

Settings the flags below when starting the DNS pod
[code]

kube config content
[code]

[code]

[2017-03-28 00:28] MrHohn commented on #72
Seems to be a regression unintentionally introduced by commit ffb9039d6047758bbde977eee719b3d0c99206ee.

[2017-03-28 16:52] djsly opened #73 "Current dnsmasq metrics seems off the hook."
I have started creating a dashboard for the new dnsmasq metrics and I would like to understand a bit more the different values I am getting.

The misses and insertions are almost the same, while the hits seem very high. I have a 3 node cluster with only the kube-system namespace provisioned.

<img width="1426" alt="screen shot 2017-03-28 at 12 50 44" src="https://cloud.githubusercontent.com/assets

[2017-03-28 18:22] bowei commented on #73
The hits/misses are a cumulative count since the start of the process. You will have to apply a rate-of-change transform from Graphana/Graphite (see `derivative` here http://graphite.readthedocs.io/en/latest/functions.html)

[2017-03-28 20:04] djsly commented on #73
Thanks. even after applying the derivative from the influxDB logic the results were still weird.

After some more digging, I realized that we have a telegraf process that queries the /metrics through a k8s service since we are running multiple replicas of the kube-dns pods. Therefore each query goes on a  different replica hence returning values that are non linear.

Do you think that a flag or ta

[2017-03-28 20:06] bowei commented on #73
The usual way to use the metric is to aggregate (sum) the counter across the whole cluster. I do remember that Prometheus allows for addition of the pod name to the key-value pairs identifying a metric, not sure about telegraf.

[2017-03-28 20:09] bowei commented on #73
The metrics are meant to be collected from the pod, rather than via the service VIP.

[2017-03-28 20:14] djsly commented on #73
thats what I just realized... so one collector per replica...
Thanks for your input @bowei.
Things are starting to make more sense now :)

[2017-03-28 20:18] djsly commented on #73
Ohhh I now remember why we couldn't do this... the influxDB is running inside the k8s cluster, so we need the kube-dns to resolve the address where to push the metrics :)

Therefore running the collector from within the same POD as the kube-dns was preventing us from knowing the destination address...

[2017-03-28 20:21] bowei commented on #73
Confused -- what is the issue? You can point the collector to localhost:53 if you are modifying the kube-dns pod spec to include your collector. I am fairly certain the pod name is the hostname.

[2017-03-28 20:23] djsly commented on #73
Thats for the source of the /metrics but we need to push the metrics in a time series database. The location of if it also within kubernetes and its IP/Address is unknown

[2017-03-28 20:42] bowei commented on #73
Sorry, I wasn't clear -- you can point the collector's resolv.conf to localhost:53 and use kube-dns. Or run the collector from a different pod.

[2017-03-28 20:46] djsly commented on #73
ok I see, I miss understood, I though that localhost:53 was localhost:53/metrics.

I guess that running the collector from a different pods is what we are doing but with multiple replicas it doesnt work too too nice. I will try to revisite the collector within the same pod to see if we can easily update the resolv.conf from the manifest directly...

[2017-03-28 20:46] #73 closed

[2017-04-06 14:32] XiLongZheng commented on #61
We just got a chance to try kube dis 1.14.1 with Kubernetes 1.6.1 on s390x, worked perfect now. Thanks for the great help everyone provided! Closing this now.

[2017-04-06 14:32] #61 closed

[2017-04-11 04:48] msavlani opened #75 "nslookup kubernetes.default is stuck whereas nslookup kubernetes works fine"
Hi,

I am facing weird issues Kubernetes 1.5.2

Its a single 2 nodes cluster which is setup using "https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/"

then i created skydns pods.

[root@masterhost ~]# kubectl get pods -n kube-system
NAME READY STATUS RESTARTS AGE
kube-dns-v20-jm7x7 3/3 Running 0 2h
kubernetes-dashboard-255567031-7dn4l 1/1 Running 44 11d

[root@mwhlvatd

[2017-04-13 13:09] michaelajr opened #76 "dnsmasq --server flags causing upstream name server calls to hang and time out sporadically"
Hello. I had a problem recently where external name resolution, E.g., `www.google.com`, would not resolve. From the perspective of the client (`nslookup`) the call would just time out. From looking at the `dnsmasq` logs, it appears the calls were hanging. Every now and then… they would work… and cache.  Once the TTL expired… they would fail… and then sporadically work and cache again.

I validated

[2017-04-13 17:54] bowei commented on #76
In 1.6, dnsmasq will only forward requests that pertain to cluster.local (and reverse record lookups) to kube-dns. All other requests will go out directly to the upstream resolver.

Can you post your /etc/resolv.conf from the container?

[2017-04-17 22:50] MrHohn commented on #75
Could you post the content of `/etc/resolv.conf` on that busybox? It would be even better if you can use `dig` to track the DNS querying sequence.

[2017-04-19 04:49] wadee opened #77 "use flannel and add-on kube-dns， but kube-dns don't work"
####here is my procedure of setup kube cluster：
* system env:
	* HypriotOS (Debian GNU/Linux 8)
	* use wifi iface wlan0
        * kube version:
![image](https://cloud.githubusercontent.com/assets/2749943/25163642/6bc6e414-24fe-11e7-98c3-8849b9f13cc2.png)

* 	On master
	* kubeadm init --pod-network-cidr 10.244.0.0/16 --apiserver-advertise-address 192.168.31.199
	* kubectl create -f kube-flannel-rba

[2017-04-19 12:00] jamesgetx commented on #55
We met the same problem and hope some dns can both support k8s service and custom dns rule.

[2017-04-19 12:18] johnbelamaric commented on #55
You can do this with CoreDNS: http://coredns.io

[2017-04-19 18:53] Blfrg commented on #77
I recently resolved the same issue, however I use canal (calico+flannel) on standard kubernetes hyperkube (no kubeadm) on CoreOS (Container Linux). This is likely a k8s/flannel issue and not a kube-dns issue.

Flannel is in the process of merging with calico (combined = canal), so I recommend checking it out if possible for your environment. Canal has a [kubeadm specific install](https://github.co

[2017-04-20 02:57] wadee commented on #77
@Blfrg appreciate your reply,I will try it out soon！！

[2017-04-21 17:10] MrHohn commented on #76
/area dns

[2017-04-24 08:40] guirish03 opened #80 "Extending CI support to s390x"
I need to setup Kube-DNS CI setup for s390x. I am looking for some guidelines so that I can setup Kube-DNS CI setup for s390x.
What are the prerequisites and hardware configuration needed to do this job.

[2017-04-28 15:03] cmluciano commented on #35
@bowei going to take another stab at this today since the 1.6 compatible version is in beta

[2017-04-28 21:25] cmluciano commented on #48
I just tried this out again but I received a similar error at dep build time. This is on go v1.8.

[code]

[2017-04-28 21:41] cmluciano commented on #48
looks like the 1.8 changes may be reverted based on https://github.com/kubernetes/kubernetes/issues/38228#issuecomment-298039921 . I will revert to 1.7 and try my godep restore again.

[2017-04-29 19:36] cmluciano commented on #77
@wadee Can you please post the details on how you install flannel? Did you grab the latest from master?

[2017-05-01 12:20] michaelajr commented on #76
Sorry I did not see this sooner. The etc resolv.conf in the dnsmasq container is the same as the host's ```nameserver 10.236.129.75
nameserver 10.236.129.85```

These are our VPC name servers. The work fine from this host and inside the dnsmasq container:
[code]

[2017-05-04 00:55] chrislovecnm opened #81 "stubDomains problem - upstream server is tcp only thanks to aws elb"
My configMap, for configuring kube-dns, is loading, with a stubDomain.  Because I am working in EC2 I have to use an ELB that does not support UDP, but only support tcp.

## Layout

- k8s 1.6.1 Two clusters
- one in us-east-1, and one in us-west-2
- separate dnsmasq server is exposing internal kube-dns on and ELB
- each cluster has a "dig" container pod setup for testing
- clusters are setup with

[2017-05-04 01:39] chrislovecnm commented on #81
I am assuming this is a tcp vs udp problem.

1. changed the configmap to use a pod ip, which allows for udp.
1. login to the dig pod in west
1. dig us-east-1-cluster.local - succeeds

[2017-05-05 21:52] bdimcheff opened #82 "kube-dns doesn't support using service name in stubDomains as docs and code seem to suggest"
According to the [announcement](http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html) blog post, I should be able to use a service as an upstream for stubDomains (note the note):

[code]

However if I try to point at our unbound service, the dnsmasq container crashes:

[code]

[This test](https://github.com/kubernetes/dns/blob/1.14.1/pkg/dns/config/c

[2017-05-06 06:11] dpgeekzero opened #83 "Unable to use port numbers for stubDomain servers"
When trying to setup a stubDomain to resolve to my consul cluster, I'm getting "invalid nameserver" messages

configMap data:
[code]

The `IsDNS1123Subdomain` check on line  104 in config/config.go looks unnecessary to me.

[2017-05-08 13:34] cmluciano commented on #82
@kubernetes/dns-maintainers @kubernetes/sig-network-misc

[2017-05-08 14:00] bdimcheff commented on #83
I think this is fixed in #69, there just hasn't been a release since that was merged.

[2017-05-08 20:13] johnbelamaric commented on #55
FYI, just put out a blog that shows how to do it. https://blog.coredns.io/2017/05/08/custom-dns-entries-for-kubernetes/

[2017-05-08 20:16] bowei commented on #55
You can also use the built-in mechanism with 1.6: http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html

[2017-05-09 08:56] tuminoid commented on #72
I don't have kubeconfig in my test setup and I hit this, so rather than being overridden by kubeconfig, it is just not respected at all.

[2017-05-09 10:05] wadee commented on #77
@cmluciano sorry for replying so late ……

kubectl create --namespace kube-system -f kube-flannel.yml
and I modify the attrs as below:

image: quay.io/coreos/flannel:v0.7.0-arm
command: [ "/opt/bin/flanneld", "--ip-masq", "--kube-subnet-mgr", "--iface=wlan0"]

and i am sure that flannel:v0.7.0-arm is the latest flannel for the arm-system.

and here is the whole deploy file:
---
apiVersion: v1
kind:

[2017-05-09 23:49] jkinkead opened #85 "DNS failures for internal AWS URLs"
I'm seeing intermittent DNS failures, but only for the URLs that AWS assigns my machines (e.g. ` ip-10-16-25-61.us-west-2.compute.internal`).

External URLs (e.g. `google.com`) resolve fine, as do URLs for services (e.g. `kubernetes.default`).

Setup:
Two-replica DNS behind a service IP, configured with `kops`. Each pod is running using [this template](https://github.com/kubernetes/kops/blob/6201e

[2017-05-09 23:51] jkinkead commented on #85
One more point of context: I'm running pods (instances of the [Datadog agent](https://github.com/DataDog/dd-agent)) which are doing lookups of these URLs regularly, several times a minute.

[2017-05-10 17:03] thockin commented on #85
Are those names supposed to be resolvable across VMs?

On Tue, May 9, 2017 at 4:51 PM, Jesse Kinkead <notifications@github.com>
wrote:

[2017-05-10 18:13] jkinkead commented on #85
Yep, these all resolve correctly (and consistently) through the servers specified in `/etc/resolv.conf`.

Incidentally, `kube-dns` doesn't seem to return the 'authority' section of its responses consistently, either. I'm not sure what that means, or if it's a design choice.

[2017-05-10 18:49] jkinkead opened #86 "dnsmasq container fails to build on OS X (incompatible with BSD sed)"
The Makefile for the dnsmasq container contains invocations in the style of:

[code]
This is incompatible with BSD `sed`, whose `-i` flag takes a required argument. It generates the following:
[code]
Note that it's trying to parse the string `Dockerfile` as a `sed` command.

I'll have a patch shortly.

[2017-05-10 18:59] jkinkead commented on #85
We're also seeing this now for some other internal DNS entries we've created ourselves - it's not just the AWS-created ones.

[2017-05-10 20:23] jkinkead commented on #85
One more datapoint, if it's helpful: I've occasionally seen responses via `dig` that show an 'authority' section but no 'answer' section. This seems especially weird.

[2017-05-10 21:23] SleepyBrett opened #88 "kubedns panic "fatal error: concurrent map writes""
See linked issue for stacktraces:
https://github.com/kubernetes/kubernetes/issues/45593

For my case my cluster is very quiet, it's just a test cluster with no other users, my kubedns is a bit overscaled atm, however over two days I'm seeing several crashing (I've maybe applied half a dozen services a few times)

[code]

[2017-05-10 21:31] jkinkead commented on #85
I've convinced myself the problem is how the flags being passed to `dnsmasq` interoperate with private DNS servers, *not* with the core binaries in `kube-dns`.

I'm running a test configuration right now that's showing some promise. I'll close this bug if it continues without error overnight, and follow up with the `kops` people.

Thanks for taking a look!

[2017-05-10 21:35] bowei commented on #85
Was there a recent upgrade to 1.6? That is the first version where dnsmasq is configured differently.

[2017-05-10 21:38] #72 closed

[2017-05-10 21:40] bowei commented on #88
This should be fixed by  https://github.com/kubernetes/dns/pull/79

[2017-05-10 21:51] jkinkead commented on #85
We're running a brand-new cluster, and ran into this issue when we starting running real workloads on it. It's always been 1.6.

[2017-05-10 22:13] #86 closed

[2017-05-10 22:25] bowei commented on #85
Are you using the new stub domains feature?

[2017-05-10 22:46] jkinkead commented on #85
I don't believe so. We're using `kops` to do setup - see [the template file I linked at the top of the bug](https://github.com/kubernetes/kops/blob/6201e924c7559148cdd10e54a11c6479a9e95a60/upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.6.yaml.template).

My current theory is that my bug is caused by our `/etc/resolv.conf`, which looks like:

[code]
`dnsmasq` will use the configu

[2017-05-10 22:57] bowei commented on #85
It might be worthwhile to take a look at http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html.

You can send all requests for `*.compute.internal` to `10.16.0.4` and keep `8.8.8.8` as the upstream nameserver.

[2017-05-10 23:03] jkinkead commented on #85
Awesome, thank you - that's extremely helpful.

[2017-05-10 23:47] jkinkead commented on #85
I'm closing this in favor of the new `kops` bug.

[2017-05-10 23:47] #85 closed

[2017-05-13 04:39] justinsb commented on #85
So this isn't the default AWS configuration, AFAICT, in that this will only happen if you explicitly add 8.8.8.8 to the AWS DHCP options.  But it sounds like that is safe with "normal" DNS, but not safe with dnsmasq, because of the randomization?

Is that right @bowei ?  If so we can indeed add workarounds using stub domains, but this seems like it will hit a lot of people in the real world - and

[2017-05-13 04:46] bowei commented on #85
It's never a good idea to mix split horizon name servers in your resolution path. Some libc query sequentially, round robin, musl send queries in parallel (!).

[2017-05-14 15:06] dpgeekzero commented on #83
Not from my reading.

[2017-05-15 15:58] cmluciano commented on #83
@dpgeekzero Do you mean that the PR does not fix the issue that you have?

[This test](https://github.com/kubernetes/dns/pull/69/files#diff-c72da36811e302aa5bf1f43896320c23R52) is similar to your example

[2017-05-15 18:15] dpgeekzero commented on #83
Ahh, sorry I misread the patch.  That should take care of it.

Sorry for the noise.

[2017-05-15 18:15] #83 closed

[2017-05-16 20:26] cmluciano commented on #81
/sig aws

[2017-05-16 20:28] cmluciano commented on #81
Any ideas on this @justinsb

[2017-05-16 21:14] bowei commented on #81
Do normal resolvers try TCP if UDP fails?

[2017-05-16 21:17] #88 closed

[2017-05-16 21:18] bowei commented on #80
Do the e2e test scripts not work if the right container images are used?

[2017-05-16 21:20] bowei commented on #75
Please reopen and post updates if this is still an issue.

[2017-05-16 21:20] #75 closed

[2017-05-16 21:25] bowei commented on #76
That nslookup looks to be correct -- the first `(null)` is a the result of a reverse lookup for the nameserver itself.

Is it possible to `tcpdump -i any -n port 53` on the kube-dns pod node to see what packets are being sent?

[2017-05-17 17:35] cmluciano commented on #77
Your deployment seems similar to [flannel's latest example](https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml), with the exception of the arm platform reference and a custom iface.

Can you retry with the v0.7.1-arm image?

I agree that this issue might be better served in the [flannel repository](https://github.com/coreos/flannel).

[2017-05-17 17:35] cmluciano commented on #77
/sig network

[2017-05-17 17:35] cmluciano commented on #77
/assign

[2017-05-18 22:02] chrislovecnm commented on #81
@cmluciano I am one of the sig-aws maintainers btw :)

@bowei it is not working with the ELB that is TCP only. So I would say no

[2017-05-19 09:22] wadee commented on #77
yeah, I agree with u.
I will try the latest v0.7.1-arm image and I will create the same issue to the flannel repository.
so I decide to close the issue.
thx to all guys!

[2017-05-19 09:22] #77 closed

[2017-05-20 05:03] alok87 opened #91 "Are these peaks normal ?"
We are seeing in newrelic high response time for kube-dns under transactions. Its around 4-5 seconds for lookup.

Please see below graph
How to debug and fix these kube dns issues. We are running around 8-10 pods of kube-dns with replication controller.

@bowei  Added details below -
We are running kubernetes 1.4.5 in aws cloud. Kubernetes was installed using `kube-up.sh` in our production. That t

[2017-05-20 05:13] bowei commented on #91
Can you post your setup? Cloud or bare-metal environment, OS, how Kubernetes was installed, which networking solution was used.

[2017-05-20 05:14] bowei commented on #91
/assign

[2017-05-20 05:23] alok87 commented on #91
@bowei added details

[2017-05-20 05:27] bowei commented on #91
what is the version on kube-dns

[2017-05-20 05:38] alok87 commented on #91
@bowei `gcr.io/google_containers/kubedns-amd64:1.8` image: gcr.io/google_containers/kube-dnsmasq-amd64:1.4``image: gcr.io/google_containers/exechealthz-amd64:1.2`

[2017-05-20 07:01] alok87 opened #92 "[Question] Documentation on contributing to dns"
Is there any document telling how to setup kube dns locally for contribution and debugging ?

[2017-05-22 08:26] mintzhao opened #93 "fatal error: concurrent map writes"
## version
1.14.1

## fatal output
[code]

## cause
[code]

[2017-05-22 16:02] MrHohn commented on #93
Fixed in 1.14.2. Related PR #79.

[2017-05-22 16:02] #93 closed

[2017-05-22 18:04] cmluciano commented on #92
The makefile does allow you to run the tests locally. You can also use it to generate containers that can be launched in the cluster. Since install tools are omnipresent, it is difficult to doc how to launch them on each tool.

It might be feasible to document it for things like kubeadm though. cc @k8s-mirror-cluster-lifecycle-misc

[2017-05-22 20:58] bowei commented on #91
Is it possible for you to upgrade to newer version? We did some tuning and performance improvements to the kube-dns system since that release.

[2017-05-23 21:27] zihaoyu opened #94 "Publish metrics of cached entries"
It would be helpful if we can get dnsmasq cached entries number from its metrics endpoint.

If this metric is already published, I apologize and please let me know the name of it.

Thank you.

[2017-05-23 22:02] bowei commented on #94
dnsmasq cache is limited to 10k entries total. Would the number of evictions be more useful? What are you trying to determine?

from `k8s.io/dns/pkg/dnsmasq/mterics.go:`

[code]

[2017-05-23 22:12] zihaoyu commented on #94
I see. That works too. Thank you.

I was wanting to see how many entries are cached so I can adjust the cache size flag accordingly. Is there any reason I don't want to set cache to max size?

[2017-05-23 22:13] bowei commented on #94
10k entries takes 10 Mb. Unless you are extremely resource constrained, I would set it to max.

[2017-05-23 22:13] zihaoyu commented on #94
Thanks. Noted.

[2017-05-23 22:13] #94 closed

[2017-05-24 00:10] zihaoyu commented on #94
@bowei So I'm seeing zero evictions and constant insertions. Does that mean the entries are being overwritten all the time? From the graph below, it looks like I'm using about 200 to 250 cache entries. Is that correct? Thanks.

![cache](https://cloud.githubusercontent.com/assets/464299/26381592/e1415a0c-3ff3-11e7-8b96-78a0b8e4de96.png)

[2017-05-24 18:41] alok87 commented on #91
@bowei Upgrading solved this issue thanks 👍

[2017-05-24 18:41] #91 closed

[2017-05-24 18:42] alok87 commented on #92
@cmluciano can we use minikube cluster to deploy locally build images of dns ? Does it require us to keep pushing to dockerhub ?

[2017-05-24 19:14] cmluciano commented on #92
I admit that I have not tried it, but it does seem feasible https://github.com/kubernetes/minikube/blob/master/docs/addons.md .

[2017-05-24 20:01] bowei commented on #92
You can start your own copy of the DNS service by instantiating a custom YAML and changing the names + labels. It's just a standard Kubernetes service.

[2017-05-25 05:20] alok87 opened #96 "Kube DNS Latency"
We have dns pods running in our cluster (cluster details below)
Issue is every 2-3 requests out of 5 is having a latency of 5 seconds because of the dns.

[code]

**Cluster details**: We are running Kubernetes latest version 1.6.4 installed using `kops`.  Its mutli AZ cluster in aws.

Below are the kube dns details
- kubedns: gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.1
- dnsmaq: gcr.io/

[2017-05-25 05:23] thockin commented on #96
5s is clearly a timeout - is kube-DNS crashing?  Do you have enough
replicas?

On Wed, May 24, 2017 at 10:21 PM, Alok Kumar Singh <notifications@github.com

[2017-05-25 05:24] alok87 commented on #96
@thockin No restarts in kube dns pods. We are running t2.large 10 nodes and each nodes have a dns running. This a new cluster with very less pressure on it.

[2017-05-25 05:25] thockin commented on #96
@bowei :)

On Wed, May 24, 2017 at 10:24 PM, Alok Kumar Singh <notifications@github.com

[2017-05-25 08:53] alok87 commented on #96
@bowei We are running the same version of cluster and dns in another environment but it is NON AZ. But no such lags there. Also we tried directly hitting the cluster IP - and it works without lag. Issue is there with dns resolution in this cluster only. Can u help debug the problem ?

[2017-05-25 12:31] guirish03 commented on #80
@bowei Thanks for above information. I am trying to port the container images required in e2e testing, this activity currently in progress. Can you please let me know  how e2e testing is used in CI.

[2017-05-25 14:06] mindw opened #97 "Wrong version reported for 1.14.2 (1.14.1-16-gff416ee)"
All containers (dnsmask, kubedns & sidecar) report the wrong version.

[code]

[2017-05-25 14:10] mindw opened #98 "Noisy Logs in sidecar 1.14.2 logs"
seems to be missing the fix applied in dns.go
[code]

[2017-05-25 16:13] SleepyBrett commented on #96
Running 1.14.2 here and are seeing wild latency:

![screen shot 2017-05-25 at 9 03 50 am](https://cloud.githubusercontent.com/assets/279521/26458797/31a15b6a-4129-11e7-92ee-9273553c6ab4.png)

95% in yellow 99% in blue

This is  cluster of 23 nodes 16 m4.10xlarge and 6 m4.2xlarge (5 control plane nodes that just have kube components and etcd). There are 9 kube dns pods currently running.

[2017-05-25 17:49] bowei commented on #96
@SleepyBrett: are you on AWS as well?
@alok87: non-AZ is non-Amazon, meaning you are seeing this only on AWS?

[2017-05-25 18:52] SleepyBrett commented on #96
I am on aws as well the graphs above are from a multiaz cluster HOWEVER we are seeing the same thing on a single az cluster

[2017-05-25 18:53] bowei commented on #96
AZ = Azure?

[2017-05-25 19:12] SleepyBrett commented on #96
availability zone

[2017-05-25 19:17] SleepyBrett commented on #96
Is this maybe related to https://github.com/kubernetes/dns/issues/76

[2017-05-25 20:00] bowei commented on #92
@alok87 could you open two issues: 1) re: better documentation on debugging and 2) a separate one on how to contribute?

Thanks

[2017-05-26 10:06] alok87 opened #99 "How to contribute to dns ?"
Documentation on how to contribute to kube-dns.

[2017-05-26 10:07] alok87 opened #100 "How to debug dns issues ?"
Documentation on how to go about debugging issues in kube-dns

[2017-05-26 10:07] alok87 commented on #92
@bowei Done https://github.com/kubernetes/dns/issues/99 https://github.com/kubernetes/dns/issues/100
Closing this issue

[2017-05-26 10:07] #92 closed

[2017-05-26 18:24] chrislovecnm commented on #81
@bowei to add a bit more clarity.

- ELB in place with TCP only
- Outside client executing a dig command setting dig to work only with TCP.
- Dig command fails

From this workflow, I would say that the DNS pod is not working on the ELB.  I am able to use the pod locally fine.  Any ideas on debugging?

[2017-05-27 07:48] alok87 commented on #96
@SleepyBrett i meannt to say not highly highly available as that cluster is in singapore with only two zones.

[2017-05-29 15:38] cmluciano commented on #100
Related https://github.com/kubernetes/kubernetes/issues/45934

[2017-05-31 11:28] fgimenez opened #102 "dns diagnosis tool proposal: test"
Hello everyone, this is a first proposal for implementing the idea suggested in kubernetes/kubernetes#45934, describing the tests to be implemented by the tool. I probably will miss things to check, any ideas are more than welcome! :)  I'm a newbie on the internals of kubernetes' DNS, but very keen to learn, please do not hesitate to correct me if I propose silly things :)

**Tests to be run**

*

[2017-05-31 15:16] cmluciano commented on #102
cc @thockin @bowei

[2017-06-01 05:28] alok87 commented on #96
@bowei @SleepyBrett Observation: Observed when this issue is happening when in the morning of staging cluster gets a lot of load as devs create a lot of services, deployments and pods. The DNS latency kicks in. But in the night when the resources gets deleted it again gets ok. Is it because it has to scan a lot of entries in the records in the morning so the latency ?

[2017-06-01 06:08] bowei commented on #96
What is the # of services etc? You can also try setting logging level to --v=0 for kube-dns container in the kube-dns pod as that is impacted by # of services as well.

[2017-06-01 08:57] guirish03 commented on #80
Hi @bowei,
When I try to run e2e script the build to create sidecar-e2e container is failing on step
**RUN apk update && apk install curl bind-tools**
as apk is not available in s390x/busybox:glibc image from  which  gcr.io/google_containers/k8s-dns-dnsmasq-s390x:1.14.2 is build. To overcome this I tried to build gcr.io/google_containers/k8s-dns-dnsmasq-s390x:1.14.2-dirty image on x86 for s390x fr

[2017-06-01 19:57] bowei commented on #80
The e2e test uses `curl` and `dig`, so you will need to build an e2e image for s390 based on a linux userland that has those tools. For example, you could build an image with those tools already installed and change the base image for s390 e2e to use that base image.

[2017-06-05 03:32] alok87 commented on #96
@bowei its happening in our prod cluster also now :(
we expose all our product pods using services. these are those services...

[2017-06-05 20:18] bowei commented on #102
Some thoughts:

From what I've seen, a lot of the problems are related to DNS working in general but not for a specific service entry, meaning testing latency across different kube-dns managed entries would be less informational. Some other things to possible for the tool to look at:

- QPS that is seen at each of the kube-dns instances; {in,out} of dnsmasq, kube-dns.
- Contents of `kube-system:ku

[2017-06-06 11:37] alok87 commented on #96
@bowei We are hitting below request to check the latency -

[2017-06-06 11:40] alok87 commented on #96
```export num=0 && while true; do curl -s -w "$num = %{time_namelookup}" "time nslookup client-api-latest.client-api-latest"; echo ""; num=$((num+1)); done```

[2017-06-07 07:24] fgimenez commented on #102
thanks @bowei, sounds great, for the last two tests/queries, how to identify nodes with problems? Maybe the execution should be split into two rounds, one for checking if there are faulty nodes (eg. QPS < threshold) and a second pass to extract more info about them?

[2017-06-07 15:47] alok87 commented on #96
@bowei @thockin Kube DNS nameserver was creating a latency of 5 seconds. Default timeout of `/etc/resonglv.conf` was set to `5 seconds`. So the requests were failing after certain timeout of 5 seconds. Below is the tcp dump trace which was ran on the kube dns nameserver - `100.64.0.10`. On changing the content of resolv.conf to have

[2017-06-07 20:00] andrewgdavis commented on #96
I have been looking into this also.

this is from an alpine:3.6 container (after obtaining curl `apk add --update curl`)
[code]
so the [AAAA?] (ipv6) lookup seems to be causing the timing latency.
I am still looking into the configuration / work around-- _without_ removing kube-dns/dnsmasq

[2017-06-07 21:15] bowei commented on #96
@andrewgdavis : Is it possible to post (in a gist) the output of `tcpdump -n -vvv -i any port 53` (e.g. the DNS requests) from the pod?

[2017-06-07 21:48] andrewgdavis commented on #96
@bowei
https://gist.github.com/andrewgdavis/db2f41ed28a2e2924bf79e2bafd5e4c4

[2017-06-08 00:27] andrewgdavis commented on #96
digging a bit further this behavior does not happen with a busybox container:
[code]
tried with alpine:3.6 and 3.6 (and added /etc/nsswitch setting of
`echo 'hosts: files mdns4_minimal [NOTFOUND=return] dns mdns4' > /etc/nsswitch.conf`
but that didn't seem to help...

[2017-06-08 00:32] bowei commented on #96
Am I reading your test right in that you are making it return with NXDOMAIN if mdns does not respond with name? What happens if you remove `mdns4_minimal` and `mdns4` altogether?

[2017-06-08 00:44] andrewgdavis commented on #96
by default there isn't anything in /etc/nsswitch.conf in the alpine:{3.6,3.5} containers

... is there some other configuration that you want me to try?

[2017-06-08 01:14] andrewgdavis commented on #96
narrowing this down a bit more... by modifying the configmap from:
[code]

to a singular corporate dns nameserver, alpine works fine.   still investigating; but it seems like at least a valid work around...
[code]

[2017-06-08 03:25] bowei commented on #96
Does 10.0.2.3 have different entries than the public DNS servers?

All servers in the `upstreamNameservers` list must return the same responses as dnsmasq will randomly pick one to query, otherwise you will get inconsistent DNS resolution.

From http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html
[code]

[2017-06-08 03:47] alok87 commented on #96
@andrewgdavis which config map are you defining these nameservers? I also want to use a corporate nameserver for a particular domain(say www.example.com) and for rest (myservice.svc.cluster.local)  i want to keep using kube-dns nameserver. How do we do that ?

[2017-06-08 04:40] bowei commented on #96
http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html

[code]

[2017-06-08 06:57] alok87 commented on #96
@bowei The issue of dns lookup came again... even after skipping the kube dns completely by changing the resol.conf to point to our aws managed dns service. But the no has reduced.

[2017-06-08 07:07] bowei commented on #96
If you are not using kube-dns, then it seems like there is an issue with your 10.0.0.2 DNS service. What DNS service/server are you using?

[2017-06-08 07:11] alok87 commented on #96
@bowei The nos have reduced significantly, i think because the no of lookups have reduced as there is no search happening for `search namespace-latest.svc.cluster.local svc.cluster.local cluster.local`

[2017-06-08 09:12] bboreham commented on #96
From the `tcptrace` shown it could also be caused by intermittent packet loss at the network level.

[2017-06-08 13:23] alok87 commented on #96
@bboreham @bowei I have configured the custom dns forwarding from dns cache for our internal domain? The dnsmasq pod has restarted picking up the new config map. How can I verify if for my domain the requests are getting forwarded directly to our custom dns from dnsmasq

[2017-06-08 16:35] SleepyBrett commented on #96
My current test harness may be flawed, and I'd love some input on that point but I've run a few tests as follows:

I've set up a special kube-dns pod that isn't in the service, with an extra sidecar container with DNSPerf in it. I've added the following arg to the dnsmasq-nanny `--log-queries=extra` causing me to get logging from dnsmasq about when queries were made and when replies were sent with

[2017-06-08 18:24] andrewgdavis commented on #96
Sorry if there are conflated issues here--- latency can be caused by many different factors.   My particular issue seems to point to a problem with alpine containers in conjunction with virtualbox networking when resolving ipv6 traffic:
https://bugs.alpinelinux.org/issues/6221

work arounds:
 a) use busybox instead of alpine
 b) modify upstream nameservers to be compliant with whatever alpine want

[2017-06-08 18:39] bowei commented on #96
@alok87 -- you can check the logs for dnsmasq-nanny, it will log when an update has been applied. The config map update is set to around ~30 s. I think by default.

[2017-06-09 05:10] alok87 commented on #96
@bowei yep its showing server flag for my domain.
does dnsmasq will cache my private domain(example.com.) requests ? coz i still get the latency even after using custom dns

[2017-06-09 05:30] bowei commented on #96
As alluded to above, if you are still seeing delays even if you are skipping kube-dns, then I suspect an issue with your DNS server itself and I would investigate that leg of the DNS query communications.

[2017-06-09 06:21] alok87 commented on #96
@bowei Yep the issue is with that DNS but i wanted to cache request in this dnsmasq we already have in place to reduce the no of requests to the aws managed DNS. Does dnsmasq cache custom domains if I use the private DNS setup you mentioned?

[2017-06-09 06:22] bowei commented on #96
yes it will be cached with the TTL given by the server. Is it ok to close this issue as it is not related to k8s itself?

[2017-06-09 06:27] #96 closed

[2017-06-12 12:09] alok87 commented on #96
@bowei We have solved this issue in our production cluster by completely by -
- Completely bypassing kube-dns and using aws managed nameserver
[code]
- Even after switiching to aws managed nameserver our timeouts were happening but the number was reduced. We figured out the aws was rate limiting us as we doing huge number of lookups since our logging.example.com was being looked 2-3 times every fe

[2017-06-12 19:49] jsravn commented on #96
Might not be the same issue, but we have noticed systemic kube-dns problems since moving to 1.6 from 1.4, also in AWS. Sporadic kube-dns failures. It also happens consistently (but sort of rarely) when kube-dns is deployed. We only use kube-dns for internal resolution, everything else gets directed to our own DNS servers which have never had a problem. When I have some time I'll try to reproduce i

[2017-06-13 07:57] alok87 commented on #96
@bowei I ran the [perf-test](https://github.com/kubernetes/perf-tests/tree/master/dns) on our prod cluster and queried `example.com A` Here is the result - https://gist.github.com/alok87/963f59011bbcd9256287c30294a1a8fd Please take a look.

[2017-06-13 08:39] bowei commented on #96
I suspect you probably exceeded some QPS bounds (the tool reports 40k/s) resulting in dropped packets...

[2017-06-13 09:32] alok87 commented on #96
@bowei What is the QPS supported by kube-dns at present?

[2017-06-13 09:53] alok87 commented on #96
@bowei What is the QPS supported by kube-dns at present

[2017-06-14 20:26] bowei commented on #96
That depends on how many replicas you have. It should be scaled to match your QPS. If you are running dnsperf to max out the system, it will increase # of packets sent unless there is loss...

There is also the issue of running out of conntrack entries for UDP.

[2017-06-19 07:53] jwfang opened #109 "short-form dns query *nslookup kubernetes.default* not working"
i enabled RBAC for my on-premise k8s cluster, but found cross-name space DNS query different from non-RBAC.
i didn't find any document for this behaviour, so this issue.

for *no-RBAC*:
1. i can do cross-namespace DNS query for service in ns1 from ns2 using ```svc1.ns1```;
2. i can query service in the *same* namespace using ```svc1.ns1``` with namespace.

but in *RBAC*, i have to use the FQDN:
1.

[2017-06-19 16:05] cmluciano commented on #109
@kubernetes/sig-apps-misc @kubernetes/sig-network-misc
/kind dns

This seems expected. @jwfang Have you set up the proper permissions for these services/accounts to communicate?

[2017-06-20 09:49] jwfang commented on #109
@cmluciano thanks you.

i made the following changes for kube-dns pod:
1. run as kube-dns pod as **kube-system:kube-dns** service account;
2. patch **system:kube-dns** to add get verbs since i am using an old kube-dns image, according to https://github.com/kubernetes/kubernetes/issues/45084

is there other things i need to do ?

what confused me is that the short form *svcName.Namespace* doesn't w

[2017-06-20 20:34] kcao3 opened #110 "Unable to build Kubernetes DNS"
Hello,
Currently, I receive the following errors while attempting to run the make build target:
 ...
fetch http://dl-cdn.alpinelinux.org/alpine/v3.6/main/x86_64/APKINDEX.tar.gz
ERROR: http://dl-cdn.alpinelinux.org/alpine/v3.6/main: temporary error (try again later)
WARNING: Ignoring APKINDEX.84815163.tar.gz: No such file or directory
fetch http://dl-cdn.alpinelinux.org/alpine/v3.6/community/x86_64

[2017-06-20 20:54] bowei commented on #110
That looks like you are having problems accessing to the Alpine image distro website (it looks like it's overloaded). I would check that `curl http://dl-cdn.alpinelinux.org/alpine/v3.6/main/x86_64/APKINDEX.tar.gz > /dev/null` works.

I'm going to close this issue as it should be a temporary problem with Alpine Linux, not kube-dns. Please reopen if you encounter further problems.

[2017-06-20 20:54] #110 closed

[2017-06-21 16:14] liggitt commented on #109
RBAC doesn't affect DNS queries at all... the kube-dns RBAC role was made in the kube 1.6 timeframe, and works with the version of kube-dns that was current at that time (`gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.2`)

[2017-06-21 16:15] liggitt commented on #109
I would still check the kube-dns logs... it seems like the old image is likely making additional API calls that your updates to the role did not catch

[2017-06-22 05:31] jwfang commented on #109
@liggitt thanks for help.

i didn't find anything suspicious from my kube-dns logs.

my kube-dns/kubedns logs look like this:

[code]
and here is logs from kube-dns/dnsmasq:
[code]
the *cluster.local.svc.cluster.local* seems wierd to me, but not sure.

[2017-06-22 05:36] bowei commented on #109
Can you post the YAML for your kube-dns pod to a gist?

[2017-06-22 05:40] jwfang commented on #109
sure, @bowei ,here is my yaml from *kubectl edit deployment kubedns -n kube-system*:
https://gist.github.com/jwfang/d1a69d2d19beaaecbe61452a4d10642f

[2017-06-22 06:36] jwfang commented on #109
did a vanilla install and changed kube-dns/dnsmasq to the following:
[code]
still can't resolve short form *svc1.ns1*， only FQDN works.

[2017-06-22 06:54] jwfang commented on #109
i guess i figure the cause of the problem somehow,

when doing a *kubedns.kube-system* query from *default* namespace, got the following from dnsmasq log:
[code]

but doing a *kubedns* got me this:
[code]

seems my local *busybox* is not using the *search* config when it got dots in query.

[2017-06-22 08:53] guirish03 commented on #80
I uploaded an image (**garydocker/s390x-ubuntu-net:16.04**) on docker hub having **dig**, **curl** and build the dnsmasq (**gcr.io/google_containers/k8s-dns-dnsmasq-s390x:1.14.3-dirty**) and other associated images on x86 for s390x. Later on s390x, I loaded and retagged the dnsmasq-s390x image and referred it in **docker.e2e**  for sidecar e2e test, I also copied the required s390x's **sidecar** a

[2017-06-22 10:45] jwfang commented on #109
i am closing this.

the short form works for *alpine* and *tutum/dnsutils*.
see to be some problem with busybox, which somehow doesn't pick up the search config if it contains dot.

[2017-06-22 10:45] #109 closed

[2017-06-22 23:22] asac opened #111 "k8s-dns-dnsmasq-nanny-arm:1.14.3 broken for 'arm'"
/ # uname -a
Linux 26e00a3161d1 4.9.20-std-1 #1 SMP Wed Apr 5 15:38:34 UTC 2017 armv7l GNU/Linux

[code]

[2017-06-22 23:34] asac commented on #111
Yeah,

if i am not mistaken build always uses glibc toolchain for the cross archs as one can see in https://github.com/kubernetes/dns/blob/master/images/dnsmasq/Makefile ... but then in the end nanny docker build mix and matches that glibc binary into images without glibc?

Let me know if I shall test anything or if you need more info...

[2017-06-22 23:36] bowei commented on #111
Is the executable file missing or the .so dependency (e.g. ldd dnsmasq has unresolved libs)

[2017-06-23 07:51] asac commented on #111
glibc isnt in the image where the build copies it in ... at best we could
just build it all static i guess...

On Fri 23. Jun 2017 at 01:36, Bowei Du <notifications@github.com> wrote:

[2017-06-24 01:30] ixdy commented on #111
https://github.com/kubernetes/dns/pull/108#issuecomment-308262259

I guess that's what broke arm, maybe?

[2017-06-25 13:31] asac commented on #111
Thanks @ixdy! changing base image to use armhf/busybox instead of armel/busybox does indeed do the trick for me....

[2017-06-25 14:14] luxas commented on #111
@asac yes, gcc binary was changed to armhf, but it wasn't reflected by changing the baseimage -- please fix that if you have time

[2017-06-25 14:40] asac commented on #111
i made a pull request, got asked to sign CLA, did that, resubmitted new pull request and still get complain about not signed CLA. if i click on details there, linux foundation tells me its all fine....  so not sure how to proceed. Guess I wait a bit and hope that the CLA just takes a while to update on github side...

[2017-06-25 14:55] asac commented on #111
ok just when i wanted to give up , CLA is finally "check" :P... and travis is running on #114 ... thx.

[2017-06-25 16:47] luxas commented on #111
@asac Perfect, thank you!
I'm sorry you had trouble getting the CLA bot to work... not sure what happened there. May just be a slight (too long UX though) delay in the process.

I'll take a look at your PR

[2017-06-25 16:54] #111 closed

[2017-06-25 17:07] luxas commented on #111
@bowei Will you release the .4 now?

[2017-06-26 06:48] bowei commented on #111
1.14.4 has been pushed to google_containers.

[2017-06-26 06:55] bowei commented on #111
https://github.com/kubernetes/kubernetes/pull/48044

[2017-06-26 11:28] spil-dennis opened #116 "Only one A record set for headless service with pods having single hostname."
/kind bug

** What happened **
When a headless service is created to point to pods which share a single hostname, (which happens, for example, when the hostname field was set in the template of a deployment/replicaset)
- Only one A record is returned for the service DNS name
- A pod DNS name is generated based on this host name, which points to a single pod

** What was expected to happen **
- Ret

[2017-06-26 11:45] spil-dennis opened #117 "No PTR records generated for headless service if hostname was not set."
If there is no hostname entry on an endpoint of a headless service, a DNS record is created with a hostname part based on some sort of hash, ultimately derived from the pod ip:
https://github.com/kubernetes/dns/blob/master/pkg/dns/dns.go#L486

The PTR record is then explicitly not generated:
https://github.com/kubernetes/dns/blob/master/pkg/dns/dns.go#L503

The spec states:

_hostname_ is defined

[2017-06-28 11:00] ronanquillevere opened #118 "nslookup: can't resolve 'kubernetes.default'"
Hello I hope this is the right place to post my issue. Forgive me if this isnt and please redirect me to the right place.

I am trying to install a cluster with one master (`server-1`) and one minion (`server-2`) running on `ubuntu` and using `flannel` for networking and using `kubeadm` to install master and minion. And I am trying to run the dashboard from the minion `server-2` as discussed [here

[2017-06-28 18:30] bowei commented on #118
Can you check the connectivity between a pod and the DNS server?
[code]
It should say something like `10.96.0.10 (10.96.0.10:53) open` if it's able to connect.

Then you can try `dig`:
[code]

[2017-06-28 19:37] cmluciano commented on #102
We can take a look at failing DNS pods. Frequently issues are opened stating that pods can't be scheduled or are bouncing between healthy/unhealthy.

[2017-06-29 00:23] jpap opened #119 "External queries fail with Cloudflare domain in DNS search list"
My domain's DNS is hosted with Cloudflare.  I am using a bare metal cluster that has the domain in the `/etc/resolv.conf` search list.

DNS queries for external domains (e.g. `www.yahoo.com`) fail under the above conditions on some containers (e.g. Alpine-based):
[code]

When I manually remove my domain from the `/etc/resolv.conf` search list in the container the query works as expected.

With Wir

[2017-06-29 08:29] fgimenez commented on #102
cool @cmluciano thanks! Do you think we need an issue for discussing the process to be performed by the tool itself?

[2017-06-29 14:12] cmluciano commented on #102
I think we have a few ideas captured in this issue that can be placed in a PR.

[2017-06-29 14:29] cmluciano commented on #119
That seems likely. I wonder if this is something that requires an entry through dnsmasq. @bowei @MrHohn thoughts?

[2017-06-29 17:47] bowei commented on #119
Returning RCODE=0 means success. Some DNS implementations interpret this as "the binding exists, but there are no addresses for the queried type". Cloudflare should really return RCODE=3 (NXDOMAIN) in this case.

[2017-06-29 18:21] ahmetb opened #121 "kube-dns never resolves if a domain returns NOERROR with 0 answer records once"
tl;dr If a nameserver replies status=NOERROR with no answer section to a DNS A question, kube-dns always caches this result. If the domain name actually gets an A record _after_ it's queried through kube-dns, it never (I waited a few days) resolves from the pods, but does resolve outside the container (e.g. on my laptop) just fine.

## Repro steps

#### Prerequisites

- Have a domain name `alp.im`

[2017-06-29 20:16] bowei commented on #121
@ahmetb I think it's legal in DNS to cache if we get a rcode == 0 response with 0 entries. This looks to be the behavior of the Cloudflare server (sending rcode 0 instead of NXDOMAIN). It looks like the TTL was around 30 minutes for the DNS record. If the record is going to be changing, it would be advisable to reduce the TTL to get faster cache updates.

[2017-06-29 20:30] ahmetb commented on #121
@bowei I think @viglesiasce reproduced this with Google Domains (or Cloud DNS) too.

In my experience, the cache was not updated even after 24 hours when I left it at that.

[2017-07-01 05:09] fgimenez commented on #102
Indeed :) on it

[2017-07-02 20:59] asac commented on #111
quick ack so you guys know that 1.14.4 works out of the box now on armhf
... thanks for the release!

On 26 June 2017 at 08:55, Bowei Du <notifications@github.com> wrote:

[2017-07-03 05:31] Alviere commented on #118
Same problem here. All of exposed services (Nexus, Dashboard) just stopped being available for unknown reason at last Friday evening. After digging into issue, found that kube-dns is not routing anything anymore and is not accessible by pods. Does anyone have come up with solution to this problem yet?

[2017-07-03 13:45] cmluciano commented on #118
@Alviere anything in your kube-dns logs about the health?

[2017-07-04 04:27] Alviere commented on #118
@cmluciano Logs were actually fine, and I found the root cause of my issue. It was with faulty flannel. So I had to do such thing in my cloud config and everything worked again (all pods could successfully reach out pods on other nodes):
[code]

[2017-07-04 10:17] guirish03 commented on #80
hi @bowei , from the README doc I came to know that Travis CI is being used in the CI setup for Kube-dns. Currently Travis CI is not supported on s390x. Could you kindly confirm on your existing CI setup, if it is Travis CI we will not be able to provide CI support for s390x and we can close this request.

[2017-07-05 08:52] dElogics opened #122 "Please document how kube-dns works."
Currently kubedns is a black box and no one knows how it works (for e.g. the --kube-master-url= switch). As a result, except for a static set of cloud based infrastructure, it's practically impossible to get it working any place else.

So please document how kubedns works at the daemon level so the ecosystem can be created on a physical machine or custom containers based on custom OS can be build

[2017-07-05 18:27] bowei commented on #80
Travis calls out to the build/e2e-test.sh script, so it is just a way to run the tests online. Can you try increasing the timeout for the dnsmasq test? It might be that the current timeouts are too tight for your environment. See around line 446 in cmd/sidecar-e2e/main.go

[2017-07-05 18:33] bowei commented on #118
Closing this issue, please reopen if you have further problems.

[2017-07-05 18:33] #118 closed

[2017-07-06 10:42] guirish03 commented on #80
Thanks for above inputs.

I do understand that Travis calls out build/e2e-test.sh script. But for CI, if Travis is only thing which is present at the backend then we will be not be able to invoke the above script on s390x as Travis is not supported on s390x. We really wanted to extend CI support for s390x but if it is using only Travis then we will have to stop this activity. If CI is possible for

[2017-07-06 18:02] bowei commented on #80
Does the s390x image include a QEMU emulator for the platform? I think that's how some of the other architectures are being tested today...

[2017-07-07 17:14] thockin opened #124 "PTR records can collide"
As pointed out at the end of #25, it's possible to make PTR records collide with manual endpoints, in which case someone can hijack the PTR record, even across namespaces.

[code]

[code]

[code]

[code]

This sort of makes PTR records, as implemented, useless.  @sadlil offers #101, but I am worried about the impact of that when there are many DNS replicas.  I don't think it will fly, and we reall

[2017-07-07 17:17] thockin opened #125 "PTR records are created and served for non-cluster IPs"
[code]

[code]

Reverse lookups for 8.8.8.8 now return `foo.manual-1.default.svc.cluster.local.`

We should probably never create reverse records except for service IPs and real pod IPs.

[2017-07-07 17:17] thockin commented on #124
@smarterclayton

[2017-07-07 17:17] thockin commented on #125
Related to #124

[2017-07-07 18:00] #35 closed

[2017-07-07 18:22] tamalsaha commented on #124
PTR records are needed for running come popular applications using StatefulSet. Some examples are GlusterFS, HBase. ref: https://github.com/kubernetes/kubernetes/issues/33470 . We ourselves use GlusterFS. So, we like to have this feature not get reverted.

From https://github.com/kubernetes/dns/pull/25#issuecomment-304809897 :
Given the potential performance issues, can this feature be put behind

[2017-07-07 21:16] cmluciano commented on #48
/close

this is fixed

[2017-07-07 21:16] #48 closed

[2017-07-20 19:18] jayeshnazre commented on #98
I have the same issue in my log. what is the fix? Can you point in right direction

[2017-07-21 13:13] bobhenkel commented on #83
@dpgeekzero So did you get your stub to work?  What version of K8s are you on?

[2017-07-24 08:34] fgimenez commented on #102
Ok, I have already this https://github.com/kubernetes/dns/compare/master...fgimenez:diagnoser?expand=1 with e2e tests passing, it would be great to get some feedback before it gets too hairy, mainly about the general implementation, if that's ok i'll continue with the actual tasks.

Not sure if I should propose it as is or wait until it does something moderately useful, maybe in that case the PR w

[2017-07-25 06:26] bowei commented on #102
@fgimenez -- you can open that as a PR and assign it to me, it will be much easier to comment on in that form

[2017-07-25 07:01] fgimenez commented on #102
thanks @bowei, done #129 not able to assign it though

[2017-07-26 22:47] #98 closed

[2017-07-28 20:04] jpap commented on #119
Cloudflare has responded to this issue after investigating it for almost a month.  They're not going to fix their DNS anytime soon: it appears that they rely on this kind of functionality internally (!), and they've determined it too risky to change.

I've since put in place a workaround whereby I **do not use Cloudflare hosted domains in my DNS search list** as circulated by DHCP.  It's an inconv

[2017-07-28 20:06] jpap commented on #121
Linking to #119 with respect to Cloudflare.

[2017-07-30 20:42] vavrusa commented on #121
RCODE=0 with no response is the NODATA pseudo-rcode. For the purpose of caching, it shouldn't be treated differently from NXDOMAIN with one exception - it doesn't say anything about non-existence of names below the requested name. See https://tools.ietf.org/html/rfc2308#section-2.2 for guideline. It's possibly related to https://github.com/miekg/dns/issues/428

[2017-08-01 18:10] ahmetb commented on #121
I reported this to various folks at CloudFlare, still waiting a response. However, if anyone can help pinpoint where the caching happens, under what circumstances and why it lasts so long (i.e. >24h or in my experience, indefinitely), those would help fixing this problem, too.

[2017-08-01 18:55] vavrusa commented on #121
I work at Cloudflare, so happy to answer any questions. It's not however specific to Cloudflare DNS; NODATA is a kind of answer you get from an authoritative server when the requested name exists, but the record type you're looking for doesn't, which is quite common. The RFC2038 I linked provides a guideline on how clients should implement negative caching for all cases of negative answers - hope

[2017-08-01 19:16] ahmetb commented on #121
Got an answer from the CloudFlare support:

We should look at fixing the caching behavior in kube-dns (or miekg/dns, or wherever it is) as a mitigation. Not caching 0-record answers sounds like it would yield a low-impact cache-miss rate to me. @bowei thoughts?

[2017-08-01 19:39] bowei commented on #121
@ahmetb caching is done with dnsmasq (http://www.thekelleys.org.uk/dnsmasq/doc.html) with no special tuneables. Maybe there is a flag that can disable caching that response? I'm surprised this does not impact more people, not just users of Kubernetes. dnsmasq is a popular piece of software, standard resolver on some Linux distros.

[2017-08-02 06:32] hugorut commented on #121
I have this exact same issue (using kube-lego on GCE) but using google cloud DNS.  Kube lego cannot resolve my domain when trying to request the token in order to issue a certificate. External to any kube pod the domain name resolves fine. When digging the domain within the pod it still gets `ANSWER: 0` and `status: NOERROR`.

I tried restarting the kube-dns with
[code]
but to no avail.

Is there

[2017-08-02 06:44] bowei commented on #121
Can you post the output of `dig` for the entry? dnsmasq uses the TTL of the SOA record for negative replies, otherwise it will be 0.

[2017-08-02 06:49] hugorut commented on #121
From the pod:

[code]

but i will occasionally get this answer instead:

[code]

This SOA is from my AWS which was my prior DNS provider.

[2017-08-02 07:03] bowei commented on #121
I will try playing with dnsmasq flags and see if we can change its negative caching behavior.

[2017-08-04 18:00] ahmetb commented on #121
@bowei Any luck?

[2017-08-04 19:59] iamrandys opened #131 "externalName not using stubDomains settings"
When creating an externalName and the hostname provided is only resolvable when using stubDomains, the new service is not resolvable.

For example, if we setup stubDomains using the kube-dns config map, we are able to resolve subdomains of my-domain.com (such as xyz.my-domain.com) in our applications.  This works great.

[code]

When we try to create an externalName service using a domain that is

[2017-08-07 01:12] feiskyer opened #132 "Add support for serving on specified namespaces"
kube-dns is serving on all namespaces today. As we are moving on to support multiple networks, pods on different networks may not access each other, e.g. in a multi-tenant environment.

So I propose to support serving on specified namespace in kube-dns, so as to conform such use cases.

cc/ @bowei

[2017-08-07 02:38] thockin commented on #132
This might be premature.  Without a larger design it's sort of
speculative.  At the very least, it should be a list of namespaces or
better - a selector.

On Sun, Aug 6, 2017 at 6:12 PM, Pengfei Ni <notifications@github.com> wrote:

[2017-08-07 03:13] feiskyer commented on #132
Yep, this still needs more ideas from community. e.g.

- does the feature make sense for most multi network use cases?
- if yes, how to make it general enough?

Good catch. Currently kubernetes api doesn't support watching on a list of namespaces, but we could support this by filtering namespaces in client side.

cc/ @kubernetes/sig-network-feature-requests

[2017-08-07 04:10] thockin commented on #132
I think a selector is closest to current thinking on multi-tenancy.  We may have to implement something like a selector-based watch or a listed watch to make this possible.

@davidopp @smarterclayton

[2017-08-07 04:32] davidopp commented on #132
https://github.com/kubernetes/ingress/issues/816 is vaguely relevant

[2017-08-07 18:24] cmluciano commented on #132
Also related https://github.com/kubernetes/community/pull/269

[2017-08-07 18:35] cmluciano commented on #132
I tried pushing this for a while, but I think we ran into  "are namespaces sufficient for tenancy" as Tim mentioned.

Relevant mailing list threads:
- [DNS servers: shared or per-namespace](https://groups.google.com/d/msg/kubernetes-sig-network/3q7xMw21Y5s/oqDlVOCwCQAJ)
- [RBAC Oddity](https://groups.google.com/d/msg/kubernetes-sig-network/3q7xMw21Y5s/oqDlVOCwCQAJ)

[Proposal DNS per namespace](ht

[2017-08-08 08:12] vongohren commented on #82
Any activity on this?

[2017-08-08 18:26] bowei commented on #82
Can you try using the service VIP instead of the DNS name?

[2017-08-11 05:49] thockin commented on #124
We need to do something with this for 1.8

[2017-08-11 06:15] bowei commented on #125
We can limit to check the ranges, but making it corresponds to a live pod will require watching all pods.

[2017-08-11 08:59] vongohren commented on #82
@bowei How do I get the VIP? Or is it the 10.51.250.165 in the following describe?
That IP also works, but it's difficult to create a template based on this though.
Any suggestions?

[code]

[2017-08-11 09:42] sadlil commented on #124
@thockin unless there is some kind of validation with endpoints, if we want ptr what about only apply #101 (get and check with pod)  if there is an annotation applied in the service? This could avoid API calls and also solves our scenario.

[2017-08-11 10:02] sadlil commented on #125
@bowei https://github.com/kubernetes/dns/issues/124#issuecomment-321770570

[2017-08-11 15:24] bowei commented on #82
@vongohren what is your setup? The ClusterIP should be reachable from the kube-dns pod.

You can ask for a specific cluster IP by setting it explicitly in the spec.

[2017-08-11 19:18] vongohren commented on #82
This is my setup, am i missing something?
Im still new to kubernetes so still learning.
Ah so I cant set a clusterIP in the service spec? How?
Meaning its easier to template 👍

[code]

[2017-08-11 19:34] bowei commented on #82
Take a look at the kube-dns YAML itself. It uses a statically allocated cluster IP.

[2017-08-11 20:21] vongohren commented on #82
Ok thanks, but so two problems.
I cant find a IP range that let's me allocate an IP

[code]

The second part is that when I left out the IP and used the autogenerated VIP and put that in my dns config-map. That did not work either.

Currently im testing so that kube-dns, my internal-dns is in namespace kube-system.
It is rigged up with domain cool.com -> the VIP that I found.
Then when I ping test

[2017-08-13 02:53] bdimcheff commented on #82
The ClusterIP definitely works for us (that's what we're doing now as a workaround).  It just doesn't seem stable enough, certainly not across cluster rebuilds.  Pointing to a service name seems valuable, I'm just not sure if it's a the intended behavior or not.  Tests seem to indicate yes, but it definitely won't work the way it is now.

We could probably do a host lookup somewhere and then pass

[2017-08-14 10:04] feiskyer opened #138 "kube-dns failed to start"
kube-dns on master branch failed to start:

[code]

The problem is introduced in #128.  we have imported "net/http/pprof" in cmd/kube-dns/app/options/options.go, which have already registered handlers for `/debug/pprof/`.

[2017-08-14 17:26] MrHohn commented on #138
I'm surprised that CI didn't catch this.

cc @allencloud @bowei

[2017-08-14 18:06] bowei commented on #82
@vongohren : you have to pick an IP from the service CIDR range that you selected for your cluster.

@bdimcheff : we could add the functionality to resolve the name directly from the API server into dnsmasq-nanny, it should be a small patch, perfect for a first-time contributor if I don't get to it quickly enough...

[2017-08-15 00:38] feiskyer commented on #138
@MrHohn Is possible to add e2e tests for kube-dns?

[2017-08-15 18:47] bowei commented on #138
I'm surprised as well. The kube-dns submit travis does include an e2e test, we need to investigate why this was not caught...

[2017-08-16 17:02] johnbelamaric commented on #132
We do this in CoreDNS, you can configure a selector. But it's configured for the whole instance, so you need to run separate instances with different namespaces configured. And then you would need to deal with pointing the pods at the right instance that is configured for those namespaces.

I think a more general solution would be to allow enforcement of RBAC in the DNS. So the DNS server will inf

[2017-08-16 21:09] johnbelamaric opened #140 "SRV records for external services"
The spec (at least with #89) says to return a CNAME for an external service. This is fine for A records. The question is what to do about SRV records. There are four scenarios:

1. There *is not* an SRV record for the name in the upstream, and port info *is not* specified in the external service definition. I think return no data.
2. There *is* an SRV record in the upstream for that name, and port

[2017-08-16 21:17] johnbelamaric commented on #140
@miekg @chrisohaver

[2017-08-16 21:54] thockin commented on #140
DNS RFC is pretty clear that if there is a CNAME record there must be no
other records for that name.  It also seems that an SRV must point to an A,
not a CNAME.

https://serverfault.com/questions/765743/published-srv-records-pointing-to-cname-alias-in-violation-of-rfc-2782

On Wed, Aug 16, 2017 at 2:09 PM, John Belamaric <notifications@github.com>
wrote:

[2017-08-16 21:55] johnbelamaric commented on #140
Yes, SRV points to A, the question is CNAME pointing to SRV.

[2017-08-16 22:00] thockin commented on #140
The first example seems to be RFC-breaking to me:

[code]

You're asking for an SRV record for
`ext-svc-no-port.test-1.svc.cluster.local.` when you know that there is a
CNAME record for it.  The correct response is NXDOMAIN or NODATA or an
error (not sure).

On Wed, Aug 16, 2017 at 2:55 PM, John Belamaric <notifications@github.com>
wrote:

[2017-08-16 22:05] johnbelamaric commented on #140
No, pretty sure this is legit. The client doesn't know if there is a CNAME or not, and the server should follow it regardless of the original type the client asked for. @cricketlui can you confirm?

[2017-08-16 23:13] cricketliu commented on #140
@thockin is correct.  If ext-svc-no-port-test-1.svc.cluster.local is an alias (i.e., owns a CNAME RR), then it can't also own an SRV RR.  The SRV RR would need to be attached to the target of the alias, example.com.

[2017-08-16 23:57] johnbelamaric commented on #140
Ok, I think I am just not being clear then, because that isn't what I meant to suggest. What I am saying is that if that CNAME points to a name, it's fine for that name to have an SRV record. So, in that case, if mycname.example.com is a CNAME for foo.example.com, then

host -t srv mycname.belamaric.com

should return the SRV at foo.example.com. Does that makes sense?
would r

[2017-08-17 00:01] johnbelamaric commented on #140
In the example Tim quotes, I would have expected nodata for the SRV, instead of the bogus SRV record.

But scenario two should return the SRV, like it does in the example:

[code]

For `ext-svc-srv-no-port.test-1.svc.cluster.local` which is a CNAME to `kops.belamaric.com`, I should see:

[code]

But instead I am getting:

[code]

[2017-08-17 00:02] bowei commented on #140
@johnbelamaric -- in your example, are you saying the DNS server should implicitly resolve CNAME chains? I don't think that is RFC compliant (as mentioned above).

Some DNS servers/services implement this as a feature internally, but it never leaks out to the world as an actual CNAME record.

[2017-08-17 00:06] johnbelamaric commented on #140
No, I don't think there are any chains here. I am just saying it's OK for CNAME (our external service name) to point to a name that has an SRV record, and we should be resolving that.

[2017-08-17 00:13] johnbelamaric commented on #140
All I am saying is that the target of the CNAME can be a name with SRV records, and that should resolve successfully.

[2017-08-17 00:21] cricketliu commented on #140
That is certainly true.

cricket

On Aug 16, 2017, at 5:13 PM, John Belamaric <notifications@github.com<mailto:notifications@github.com>> wrote:

All I am saying is that the target of the CNAME can be a name with SRV records, and that should resolve successfully.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/kubernetes/dns/

[2017-08-17 00:33] thockin commented on #140
I just do not think that is true.  It's a weird corner case, to be
sure, but I don't think it is true.  That aside, the true SRV names
are _svc._tcp.... which do not have to follow the CNAME rule.  I
think.

[2017-08-17 00:42] cricketliu commented on #140
No, I'm fairly certain John's right. And the fact that a domain name contains labels that begin with underscores has no bearing on whether it can own a CNAME RR.

cricket

On Aug 16, 2017, at 5:33 PM, Tim Hockin <notifications@github.com<mailto:notifications@github.com>> wrote:

I just do not think that is true. It's a weird corner case, to be
sure, but I don't think it is true. That aside, the tr

[2017-08-17 01:16] johnbelamaric commented on #140
Yeah, the name doesn't matter. Here is an example (not in k8s) of a CNAME that points to name that has no A record but does have an SRV record. You can see it returns nodata for the A, but returns the SRV record just fine.

[code]

And I don't think it's that strange of a corner case. All it is is wanting to do an SRV-based discovery on an external name service, instead of getting just an IP.

[2017-08-17 04:51] thockin commented on #132
I worry that different customers will have different needs.  Per-tenant DNS
seems likely, as different apps will have different needs for DNS.  We'll
have to re-think a lot of pieces to make that work.

@davidopp

On Wed, Aug 16, 2017 at 10:02 AM, John Belamaric <notifications@github.com>
wrote:

[2017-08-17 10:32] aanm opened #141 "no RRs for domain "kubernetes.default.svc.cluster.local.""
I'm getting a weird error from kube-dns that is preventing it from starting.

Apparently the livenessProbe is returning this error:

`{"IsOk":false,"LatencySeconds":0,"Err":"no RRs for domain \"kubernetes.default.svc.cluster.local.\""}`

What does it mean? It seems kube-dns can't find the endpoint address of the kubernetes service, is that correct? If yes, how can I debug the reason for `that?

`k

[2017-08-17 17:20] bowei commented on #140
Can you show what `dig` returns? I'm not very familiar with the internal logic of the `host` command

[2017-08-17 20:12] johnbelamaric commented on #140
I can do that. However, I actually think this is a distraction. The point of this issue wasn't so much about what `kube-dns` does today, but was about what the *spec* should say about this subject.

That said, let's dig into the distraction a bit. A few things to address.

*Proper _port, _proto SRV formatting*

I don't think this is relevant to the question at hand. This is a convention, and SRV w

[2017-08-17 22:51] aanm commented on #141
If anyone got this error, make sure the `sidecar` probes are checking for the correct IP address records with the options provided

[2017-08-17 22:51] #141 closed

[2017-08-18 05:29] glennschmidt opened #142 ""New service:" log messages"
For the past several days, my cluster config has been stable (no pods being created/deleted, no nodes going up/down). Yet kube-dns is logging hundreds of messages every hour about "new services".

For example:
[code]
It seems to be looping through all the services that exist in the cluster and reporting them as 'new' every 2-3 minutes.

My questions are

1. Is this normal, and
2. If not, does anyo

[2017-08-18 05:33] bowei commented on #142
What is the version of your kube-dns? It used to log these messages whenever it syncs with the kube-api server, but the verbosity has been raised above v2 so in normal operation these logs should not be present:
[code]

[2017-08-18 05:39] glennschmidt commented on #142
Sorry i left that information out
kubedns version is 1.14.1
kubernetes version is 1.6.6

[2017-08-18 06:44] bowei commented on #142
What is your vlog level (-v command line arg)

[2017-08-18 06:51] glennschmidt commented on #142
Looks like `--v=2` (i haven't set this so it must be the default when deployed with kops)

[2017-08-18 06:52] bowei commented on #142
This has been fixed in kube-dns 14.4.

[2017-08-23 10:32] andyxning commented on #138
It turns out that there is a race condition for kube-dns e2e test. As the kube-dns service is running in background and we only wait for the dns service(`10053`) to be ready before doing a query, there are chances that kube-dns has not register the http services(pprof and health check) before kube-dns e2e ginkgo test do a request.

What kube-dns e2e test should do is to also wait for health check

[2017-08-24 02:55] #138 closed

[2017-08-31 17:59] cmluciano commented on #124
@bowei Is this still targeted for 1.8? I think it might classify as a bug-fix, so we might be able to merge post freeze.

[2017-08-31 18:02] bowei commented on #124
Leave leave it targeted for 1.8 for the post-freeze for now. I want to take care of it, but am bandwidth constrained pre-freeze :-|

[2017-09-01 22:29] leblancd opened #147 "Add support for nameservers with IPv6 addresses"
If kube-dns is run on a minion that has a nameserver listed in
/etc/resolv.conf with an IPv6 address, then the dnsmasq nanny container
dies shortly after reading this resolv.conf file, and the liveness probe
never indicates a healthy pod (pod is restarted after a few minutes).

[2017-09-04 14:59] bboreham opened #149 "Questioning probe_latency_ms buckets"
In `pkg/sidecar/dnsprobe.go` the code calls `prometheus.LinearBuckets(0, 10, 500)`, which creates 500 buckets at 0ms, 10ms, 20ms, ...

My kube-dns manages to serve nearly everything in under 10ms, so these buckets are (a) very numerous and (b) telling me nothing.

I would be interested to know what the thinking was - why not use `ExponentialBuckets()` to save space and start at a lower interval?

[2017-09-04 16:50] leblancd opened #150 "Add support for SRV probes to be agnostic of IPv4 vs IPv6 operation"
If a kubernetes cluster is running in IPv6-only mode, then service IPs will be
IPv6 addresses, and kube-dns will resolve kubernetes services to these IPv6
addresses (i.e. will only return AAAA records for those services). In this case, a kube-dns
sidecar probe that is configured to do DNS queries of type A will fail, since no A records
will be returned. If you modify such a probe to use DNS querie

[2017-09-05 17:25] leblancd commented on #147
@thockin: Can you please add an area/ipv6 to this issue?

[2017-09-05 17:40] bowei commented on #147
/area ipv6

[2017-09-05 17:41] bowei commented on #147
ah -- we haven't propagated labels to this project yet

[2017-09-05 18:10] bowei commented on #149
You probably right, exponential makes more sense.

[2017-09-06 20:21] bobhenkel commented on #83
Seems to work on v1.7.2.

[2017-09-08 14:57] Miyurz commented on #96
I suspect this has bitten us too now.

Every morning one of our micro services that renders images from cloudinary times our resolving dns via kube dns. I scaled up the kube-dns pods from 2 to 9 but in vain. This was even though we had dns auto scaler pod from the add on manager.
[code]
So I tried injecting google's DNS servers in /etc/resolv.conf in my containers but they were over written with c

[2017-09-08 17:16] bowei commented on #96
You can set the pod DnsPolicy to Default instead of ClusterFirst to disable use of kube-dns. What QPS/platform are you on?

[2017-09-08 23:51] chrislovecnm commented on #124
See https://github.com/kubernetes/dns/pull/25#issuecomment-328238371 for another way to break this where only one record is ever created, and it is never updated. It works once, then it is set to the original pod name, and never again.

[2017-09-12 16:12] alok87 commented on #96
@miyurz We in our `docker-entrypoiny.sh` require kube-dns. Hence we are by passing by changing resolv.conf when kub-dns. But the better way is what @bowei suggested above if you want to by pass it completely.
[code]

[2017-09-15 08:29] valentin2105 commented on #147
In my case, I use ConfigMap to give kube-dns's Backends DNS servers, and with a IPv6 server, it seem to be ignored, because kube-dns work properly but it never contact my IPv6 DNS server.

It would be great to support this feature. (on a road, to get at end, only IPv6 pods).

[2017-09-15 08:32] valentin2105 commented on #55
To make an external service resolvable in the cluster,

You can manually create a Service and a Endpoint that point to an external IPv4 and it would be resolvable w/ the correct namespace and cluster domain.

(I use it for GlusterFS).

[2017-09-15 14:22] leblancd commented on #147
@valentin2015: Thanks. Yes, this change is needed for IPv6-only clusters (not so much for dual-stack clusters), and our first target is IPv6-only operation, and then dual-stack support will follow.

[2017-09-19 18:06] #150 closed

[2017-09-25 14:38] yanhongwang commented on #98
Hi, @mindw ,

I meet the same message like yours.
Could I ask how you solve?

Thanks very much.

[2017-09-30 20:13] mindw opened #153 "1.14.5 version is missing"
kubernetes 1.7.7 released with the above version.
Where can the changelog and release be found?

[2017-10-02 18:35] euank commented on #153
Presumably the version was embargoed for security reasons. However, I think they should be public now given Google wrote the following blogpost: https://security.googleblog.com/2017/10/behind-masq-yet-more-dns-and-dhcp.html

@bowei do you perhaps know when the associated source code will be posted? It's technically a GPL violation to be shipping dnsmasq binaries for which code is not available.

[2017-10-02 18:45] bowei commented on #153
The updated sources should be updated today. I was waiting for upstream, which it looks like it is now.
@thockin @cjcullen

[2017-10-02 22:03] thockin commented on #153
Should be OK to get everything merged properly now.

On Mon, Oct 2, 2017 at 11:45 AM, Bowei Du <notifications@github.com> wrote:

[2017-10-02 23:55] bowei commented on #153
1.14.5 tag is available now. It is on the `1.14.4+security-fix` branch and tagged with `1.14.5`.

[2017-10-02 23:56] bowei commented on #153
Closing issue - please reopen if you have further questions.

[2017-10-02 23:56] #153 closed

[2017-10-03 14:54] SleepyBrett opened #155 "1.14.5 vs 1.15.6"
After hearing about the CVE fixes to dnsmasq yesterday I upgrade my kubedns to 1.14.5 which uses the following dnsmasq:

    / # dnsmasq --version
    Dnsmasq version 2.78-security-prerelease  Copyright (c) 2000-2017 Simon Kelley
    Compile time options: IPv6 GNU-getopt no-DBus no-i18n no-IDN DHCP DHCPv6 no-Lua TFTP no-conntrack ipset auth no-DNSSEC loop-detect inotify

This morning I see a new r

[2017-10-03 17:47] bowei commented on #155
1.14.5 is only 1.14.4 + dnsmasq update
1.14.6 is HEAD (include dnsmasq update)

We decided that it was much safer to release 1.14.5 without additional changes.
1.14.6 will go into1.9 very soon.

[2017-10-03 17:47] #155 closed

[2017-10-04 04:12] coresolve commented on #121
Looks like ` - --no-negcache` added to the dnsmasq args ought to do it.

Credit to https://rsmitty.github.io/KubeDNS-Tweaks/

[2017-10-04 20:41] ahmetb commented on #121
@coresolve whoa this is amazing. @bowei do you think it's sensible to incorporate this as a default in kube-dns distribution?

[2017-10-04 21:02] bowei commented on #121
yes, since we don't enable neg caching

[2017-10-04 21:12] cblecker commented on #121
This would be just in https://github.com/kubernetes/kubernetes/blob/e557f184e2bf563c9d50719ca0942cc6128909d7/cluster/addons/dns/kube-dns.yaml.base#L158-L169, right?

[2017-10-09 14:55] wheestermans opened #156 "Not able to access external resources outside pod (docker container)"
I know it is not really DNS related, but didn't find other group fro this question.

When I telnet aaa.bbb.ccc.ddd 3202 on host node the connection is working fine, acceptance (DB2 connection) . Now when I do exactly the same outside running pod (docker container), the connectivity is not working.

From the host:

_telnet 150.45.92.41 3200
Trying 150.45.92.41...
Connected to 150.45.92.41.
Escape c

[2017-10-09 17:38] bowei commented on #121
yes, that should be a one-line change to the yaml

[2017-10-09 18:32] cblecker commented on #121
Opened https://github.com/kubernetes/kubernetes/pull/53604 to add this

[2017-10-10 08:02] miekg commented on #121
Has anyone looked into the impact of removing negative caching on the volume of DNS requests that now need resolved again and again?

[2017-10-10 15:38] ahmetb commented on #121
@miekg I think we don't know what will this change break. However, unless changed, many software that rely on domains eventually resolving stays broken. I'm not sure if we have enough tools to answer this question properly.

[2017-10-10 17:42] cjcullen opened #158 "Alternative to dnsmasq?"
Should we replace dnsmasq w/ something memory safe?

Following up on the CVE-2017-14491 discussion, we should think about what it would take to replace dnsmasq.

[2017-10-10 17:45] MrHohn commented on #158
Ref the coredns proposal https://github.com/kubernetes/community/pull/1100.

[2017-10-10 18:45] bowei commented on #158
CoreDNS seems to be a leading contender. Although there are always going to be bugs...

[2017-10-13 11:31] lghinet opened #159 "<namespace>.svc.cluster.local. duplicated"
dns not found because kafka-cluster.svc.cluster.local appear twice
any ideas

thanks

[code]

[2017-10-13 13:18] johnbelamaric commented on #159
That's the normal DNS behavior in k8s due to the search path and the high `ndots` setting on the client side (in /etc/resolv.conf of the pod). The way the DNS resolver works, if the number of dots in the name is less than `ndots`, it will append each element in the search path and query for that before trying the name as a fully qualified domain name.

For example, if your search path is "example.

[2017-10-13 22:26] #121 closed

[2017-10-19 05:44] bowei commented on #156
Post your issue to kubernetes stackoverflow. This does not seem to involve kube-dns at all...

[2017-10-19 05:44] #156 closed

[2017-10-19 06:20] thockin commented on #156
There's just not enough information here to help.

When you post to SO, please include:
- What environment/cloud
- What network config (native, calico, weave, flannel, etc)
- Where the IPs you use come from
- What version of kubernetes

etc.

At a glance, 150.45.92.41 is not a typical pod IP - that looks like a
public IP, so there's some information missing.

If you're trying to go from a pod to a

[2017-10-20 06:02] asarkar commented on #55
We have a similar issue with Couchbase. If we deploy a `ClusterIP` type service, the pods don’t get assigned DNS entries, and are forced to use IP. On restart, the IP changes and Couchbase considers the node in error.
On the other hand, if we use a headless service, the PODs have DNS and I can tell Couchbase to use that. Restart is no problem; however, clients connection fails on Couchbase restart

[2017-10-20 07:22] manigandham commented on #55
@asarkar

That seems like an issue with the Couchbase client, does it not discover all the endpoints of the database and retry connecting to another IP? If not then you can just create another service pointing to the same deployment.

For example, have a `couchbase-internal` headless service for the pods to connect to each other, then create a `couchbase-public` ClusterIP service for your clients

[2017-10-23 17:30] #147 closed

[2017-10-24 17:13] seh commented on #70
If I understand the documentation correctly, so long as a headless _Service_ named with the subdomain exists in the same namespace as the pods, _kube-dns_ should publish A records for the pods. I find that this works only if the _Service_ defines **at least one port**, even though [the documentation says](https://github.com/kubernetes/website/blame/master/docs/concepts/services-networking/dns-pod-

[2017-10-26 21:42] felipejfc opened #160 "DNSMasq cache has low cache hit rate for some reason"
Hi, I'm running a k8s cluster in production with ~ 60 nodes, it has 870 pods on it.

Currently, 40 of these pods are kube-dns pods, each with 150m requests of CPU. (Yes, I had to scale it a lot)

I'm currently trying to figure out why I do need so much of them, one thing that I did today was to take a look at prometheus metrics exposed by the sidecar container and observed that:

![image](https://

[2017-10-27 14:28] johnbelamaric commented on #160
A few questions:

 * Do you do a lot of queries to external resources (domains)?
 * Do you use FQDNs for your internal queries - for example "foo.namespace.svc.cluster.local" instead of just "foo"? If not, do you do a lot of cross-namespace lookups ("foo.ns2" from "ns1")?
 * Is negative caching (i.e., caching of `NXDOMAIN`) disabled in `dnsmasq`?

The way the client pod `resolv.conf` is set up, th

[2017-10-27 14:50] keir-rex commented on #141
@aanm could you clarify on what you mean and what the solution was?

[2017-10-27 15:21] felipejfc commented on #160
Hi @johnbelamaric

- I do have a lot of queries to external resources (one thing I realised is that some of these queries are being cached (I can see [cached]... in dnsmasq logs) and some others are not)
- Usually I use only service.namespace instead of service.namespace.svc.cluster.local
- I guess no
[code]

[2017-10-27 15:42] johnbelamaric commented on #160
Ok, if it were disabled you would see `-N` or `--no-negcache`, so in fact it is enabled. But it may be that the TTL isn't being set by `kube-dns` so then it's not caching those. See https://linux.die.net/man/8/dnsmasq - you can try setting `--neg-ttl`.

Using `service.namespace` means the first query will always be NXDOMAIN from the search path, then the second query will work. So without negative

[2017-10-27 15:44] johnbelamaric commented on #160
Even with negative caching it doubles the load - but they hit dnsmasq not kube-dns. This is what the auto path CoreDNS plugin is designed to fix - it figures out the path and returns a CNAME instead of NXDOMAIN from the first query.

[2017-10-27 18:44] johnbelamaric commented on #160
Also the caching of the external responses will help but only in the sense that the last of the 5 or so queries will hit that cache. For example, even if google.com that is only the 5th query in my cluster - all those other queries will go before it tries `google.com` as a FQDN:

[code]

[2017-10-27 18:48] felipejfc commented on #160
I see, setting neg-ttl helped a bit (cache hit rate is about 0.35, 0.4 now).

Is it better to always use the fqnd (service.ns.svc.cluster.local)?

Are there any configs I can do to optimize dnsmasq?

thanks @johnbelamaric

[2017-10-27 18:54] felipejfc commented on #160
doing some queries it seems that its not good to use fqdn
[code]
[code]

wtf...

[2017-10-27 19:51] bowei commented on #160
An FQDN MUST end with a ".", e.g. `foo.bar.com.`

Anything else may be subject to search path expansion (look at the manpage for /etc/resolv.conf and search for "ndots")

[2017-10-31 02:11] felipejfc commented on #160
Fyi, using only fqdns made my cache hit rate way bigger, I've also allocated more memory for dnsmasq pod and set cache size to  64k, I was able to go from 40 kube-dns pods to only 10 doing that (I think I could set it even lower).

[2017-10-31 02:11] #160 closed

[2017-11-02 02:41] feiskyer opened #162 "Release notes"
There is no release notes for every releases, and no CHANGELOG either. Should add them for easily tracking changes for each release.

cc @bowei @thockin

[2017-11-02 04:39] valentin2105 commented on #158
DNSDIST ?

https://dnsdist.org/

[2017-11-02 07:15] bowei commented on #158
sig-network has a proposal to replace everything with coredns, a golang-based resolver.

[2017-11-03 10:55] aanm commented on #141
@keir-rex for example, if your `kube-master` is running on IPv6, the entry that will be created on the DNS will be the type of `AAAA` for domain `kubernetes.default.svc.cluster.local.`. The probes specified on the kube-dns spec file will check if the kube-dns is up an running by checking if there's a type `A` entry (IPv4) for `kubernetes.default.svc.cluster.local.`. That probe will always fail bec

[2017-11-09 13:54] SchoIsles opened #164 "can add PTR & A record support for pod in deployment?"
In my case, some services(mysql) is out of k8s cluster,  applications in cluster access the service need a authorization.

With pod's ip is not static and continuously, cant't grant privileges to a CIDR subnet.
So I wan't to grant to a wild domain, looks like `*.<service>.<namespace>.svc.<domain>`, all pod in this service will be granted by dns reverse.

now I tested on headless service & stateful

[2017-11-11 13:24] klausenbusk commented on #160
I just tried specifying `--neg-ttl=30` to reduce latency, but it seems like dnsmasq can't cache `NXDOMAIN` response from upstream servers. Same behaviour also seen here: https://serverfault.com/questions/827207/dnsmasq-not-caching-for-non-public-dns-servers

[2017-11-12 03:03] MOZGIII opened #165 "Insecure downloads in dnsmasq Makefile"
Found this: https://github.com/kubernetes/dns/blob/7d0bfdc04b9a1f659becb7b184f53b1df7c996de/images/dnsmasq/Makefile#L49
Plus there's no hashsum for file integrity checking after download.

Not sure how relevan it is to this project, but it's bad practice in general.
What do you think? I'd say this has to be taken seriously and fixed by adding a hashsum near the `DNSMASQ_VERSION` var.

[2017-11-13 07:19] stewart-yu opened #166 "the `kube-apiserver.log `have the literal string "(dollar_sign)Format""
When i set up cluster with local up, the `kube-apiserver.log `have the literal string "(dollar_sign)Format" ,look like that:
[code]
I think it related to `kube-dns` images, does anyone can help me to fix it?

[2017-11-13 07:33] MrHohn commented on #166
This was fixed by https://github.com/kubernetes/dns/pull/163.

[2017-11-13 07:33] #166 closed

[2017-11-13 07:58] stewart-yu commented on #166
I think it also not resolved. some error also in kubernetes repo.

[2017-11-13 08:01] MrHohn commented on #166
The fix went in recently, so it will be released with the next version (1.14.8 I think).

[2017-11-13 08:02] stewart-yu commented on #166
I see now. Thanks.

[2017-11-14 16:42] thockin commented on #70
I think it should work without ports.  File a new bug please, with a simple
repro?

On Tue, Oct 24, 2017 at 10:13 AM, Steven E. Harris <notifications@github.com

[2017-11-21 15:19] hanikesn commented on #96
We're having similiar problems in our cluster. Occasionally DNS requests time out for clients. We already scaled up kube-dns deployment to about 8 pods manually, so we have about 20% CPU load per pod. The CPU load is shared between kube-dns and dnsmasq. We're also not hitting nf_conntrack limits and we're using calico in AWS with a single AZ setup.

[2017-11-22 09:26] jsravn commented on #96
Similar to @hanikesn I’m also observing sporadic dns failures against kube-dns. Even using dnsmasq to mitigate it, kube-dns requests will inexplicably time out over a period of seconds. External DNS requests to our own dns servers are all fine. I haven’t dug into it yet though. But there seems some sort of systemic issue based on other people’s experiences.

[2017-11-22 16:06] markine commented on #96
Cross posting as this all seems related: https://github.com/kubernetes/kubernetes/issues/45976#issuecomment-346391338

[2017-11-25 18:12] agelwarg commented on #131
Any update on this one -- still broken, correct?

[2017-11-27 18:58] bowei commented on #96
What are your environments (platform, kernel, k8s version)? Can you open a new bug as this one is closed.

[2017-11-28 11:48] bboreham commented on #149
I just realised the units are in _seconds_.

[2017-11-28 11:48] bboreham commented on #149
/assign

[2017-11-29 14:49] tuminoid opened #169 "kube-dns 1.14.7 does not resolve cluster services without external dns"
If host does not have working DNS nameserver in `/etc/resolv.conf`, kube-dns fails to resolve cluster services.

I created a single-machine k8s cluster (1.7.4, kube-dns 1.14.7) in a VM for a machine that has no internet/intranet connectivity for a hack lab. Thus, it has no working DNS on the host, but the DNS IP in the `/etc/resolv.conf` is blocked by firewall.

In this case, kube-dns fails to res

[2017-11-29 14:53] tuminoid opened #170 "kube-dns 1.14.7 fails to resolve cluster services with 2 search domains on host's resolv.conf"
If host does have two `search` domains in `/etc/resolv.conf`, kube-dns fails to resolve cluster services.

I created a single-machine k8s cluster (1.7.4, kube-dns 1.14.7) in a OpenStack VM. This VM has `search localdomain openstacklocal` in `/etc/resolv.conf`.

In this case, kube-dns fails to resolve any cluster service in any namespace, including `kube-dns` itself, unless queried using FQDN, `kub

[2017-11-29 14:54] r7vme opened #171 "kube-dns can stuck"
Hello, we are using kube-dns 1.14.5 in 3 replicas. Recently we saw that one replica stuck for 2 days and did not update dnsmasq config. So 1/3 of our dns requests were responede with outdated ip address for service. As workaround we restarted this replica.

Stalled pod had latest logs from Nov. 27.
[code]

Here is the [kube-dns deployment](https://pastebin.com/W5rvLVXK).

For context, k8s-apiserve

[2017-11-29 16:03] tuminoid commented on #169
This is 100% reproducible on a vagrant box too. Just change nameserver to a IP that doesn't point anywhere.

As a side note, if `/etc/resolv.conf` is missing from VM, kube-dns won't even start. Does that warrant separate issue?

[2017-11-29 19:13] bowei commented on #169
Can you try creating a pod with an unbound server that serves NXDOMAIN (see this [gist][1]) and setting it to the upstream nameserver using the [kube-dns configmap](http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html)?

[1]: https://gist.github.com/bowei/f8362ca325f19b66bcaad3049c34dc5f

[2017-11-29 22:11] seh opened #174 "Pods and headless Services don't get DNS A records without at least one service port"
# Observation
Per [earlier discussion](https://github.com/kubernetes/dns/issues/70#issuecomment-339064124) in #70, [the documentation for _kube-dns_ says](https://github.com/kubernetes/website/blame/master/docs/concepts/services-networking/dns-pod-service.md#L109) that it will publish A records for pods so long as a headless _Service_ named with the same subdomain exists in the same namespace. How

[2017-11-29 22:12] seh commented on #70
@thockin, please see #174.

[2017-11-30 08:28] tuminoid commented on #169
Using configurations [in this gist](https://gist.github.com/tuminoid/81cc7d80ce105bd13d60eb2cb8915a8e) (please correct if something wrong), this does not help. It also doesn't make a difference if `nameserver 192.168.200.7` is used for hosts `/etc/resolv.conf`. Also tried without `hostNetwork`, no difference. Removing unbound's access-control makes no difference either.

If I use kube-dns 1.9, whi

[2017-12-01 08:29] xiaosadexiaohai opened #175 "dns设置问题"
情况是这样的:有1个域名外网解析了指到外部ip,然后内部dns也解析指到内部ip,pods ping的时候有时候是外网有时候是内网,没有办法跟宿主机一致,老是跑到外网ip去
宿主机访问的情况下是这样的:
![image](https://user-images.githubusercontent.com/18409309/33474238-b2072e6c-d6b4-11e7-9ccf-dad1d68253ec.png)
容器访问这个域名情况是这样的:
![image](https://user-images.githubusercontent.com/18409309/33474251-c172c96a-d6b4-11e7-9c81-47f3326819b8.png)
环境:
k8s1.8.4
flannel

[2017-12-03 08:32] woshihaoren opened #176 "when cni use ipvlan plugin, can't work with kube-dns"
container use  iptables nat to transfer traffic,when pod use ipvlan ,it can't use node iptables rules.

I think  kube-dns  use hostNetwork:true and scheduling to  specify nodes, let ip unchanged,
whole pods 's /etc/resolv.conf uses these ip.

Is it a good idea?
Give me some advice.

[2017-12-04 20:32] bowei commented on #176
kube-dns does not use host network in the default setup. What is your environment?

Also, your issues sounds like a networking environment issue which is more appropriate for kubernetes/kubernetes. This repository is just the code for the DNS server, but does not contain the k8s cluster addon code.

[2017-12-04 21:21] thockin commented on #176
The general observation about ipvlan is true - as long as you rely on the
host's iptables for doing things like Services, you can not use a pass-thru
driver like ipvlan or macvlan.  The good news is that kube-proxy is just
one way to implement Services.  The bad news is that nobody has really
published great alternatives yet.

On Sun, Dec 3, 2017 at 12:32 AM, Gawain <notifications@github.com> wrot

[2017-12-05 10:34] woshihaoren commented on #176
yeah ,  pass-thru dirver can't use Services.. I close it.

[2017-12-05 10:34] #176 closed

[2017-12-05 19:53] rramkumar1 opened #177 "Kube-dns uses workaround for Prometheus Counters"
In order to stay compatible with Stackdriver API's, #173 made the change to start using Prometheus Counter instead of Gauge for dnsmasq metrics. In order to facilitate this change, some caching logic was introduced in order to ensure that the value set to the Counter was consistent with the way the Gauge set the value.

Once Prometheus provides support within the Counter API to set a value directl

[2017-12-06 00:27] bowei commented on #175
What is your DNS setup? Are you using kube-dns with any modifications/upstream nameservers? What is your host resolv.conf?

[2017-12-06 20:29] cmluciano commented on #177
@rramkumar1 Do you know of an upstream Prometheus issue that we can link here?

[2017-12-06 20:40] rramkumar1 commented on #177
@cmluciano As of now, no. However, I believe that @piosz will be working with Prometheus on efforts to converge Stackdriver and Prometheus API's.

[2017-12-07 10:11] piosz commented on #177
Are you talking about the effort to standardize metrics format aka [Open Metrics](https://github.com/RichiH/OpenMetrics)? I'm not involved into this, as it requires much smarter guys;)

[2017-12-12 06:36] tuminoid commented on #169
Made it work with unbound and upstreamNameservers. It appears that `local-zone "."` is not valid (or doesn't trigger right response), but adding `local-zone "local."` and `local-zone "cluster.local."` made the trick. I'm thus now running unbound in a container with `clusterIP: 10.254.0.3` and pointing kube-dns `upstreamNameservers` to that IP.

That said, I'd consider needing such tricks a bug, es

[2017-12-12 06:40] tuminoid opened #178 "upstreamNameservers does not allow custom port number"
While debugging #169 I found out that `upstreamNameservers` in `kube-dns` configmap does not allow port numbers for upstream servers.

Port numbers are accepted if you give them as `--nameserver=server:port` argument for kube-dns container, but it would be nice to have them accepted via configmap as well.

[2017-12-16 19:29] kidiyoor opened #180 "can kubedns return non-cluster IP (endpoint IP)"
Is there a standard way to setup a selector less service (or equivalent) so that kubedns return endpoint IP and not clusterIP.

Usecase bellow -

If we use kubedns as DNS for istio mesh outside kubernetes. When envoy running in a VM makes a discovery call to pilot **ie** istio-pilot.istio-system.svc.cluster.local, kubedns can(possibly) return IP of VM that runs pilot.

Currently I have a selector

[2017-12-18 01:07] rramkumar1 commented on #177
Not really, I was referring to our chat elsewhere that we would talk to the Prometheus folks to see if we can bring convergence between Prometheus and Stackdriver API's so that we don't have to use this workaround.

[2017-12-19 20:56] johnbelamaric commented on #180
Is the clusterIP used for anything? If not can you just use a headless service (i.e., `clusterIP: None`)?

[2017-12-19 22:03] kidiyoor commented on #180
Is it possible to create a headless selector less service ? so the DNS would resolve to endpoint IPs not POD IPs ?

[2017-12-20 20:11] johnbelamaric commented on #180
Is this what you are looking for?

[code]

[2017-12-20 20:32] kidiyoor commented on #180
yep. Thats exactly what we need, a 'headless selector less service'  👍 thanks @johnbelamaric

[2017-12-20 20:32] #180 closed

[2017-12-22 03:43] DaiHao opened #182 "dnsmasq container exists random port"
In dnsmasq container, it somtime opens a random port on listen , what does it use for?

[2017-12-22 21:50] thockin commented on #182
You'll need to provide more information.  When do you see this?  How did you observe it?  What protocol and port number?  What process is attached to that listen?

[2017-12-25 05:04] #97 closed

[2017-12-25 07:29] #99 closed

[2017-12-26 05:19] #100 closed

[2017-12-28 20:06] thockin opened #184 "Spec allows for SRV on headless Services but not on individual hostnames."
From our spec I observe:

We allow A lookups like "pod2.hostnames.default.svc.cluster.local"
* pod.spec.hostname = pod2
* pod.spec.subdomain = hostnames
* pod.namespace = default

We allow SRV lookups like "_http._tcp.hostnames.default.svc.cluster.local"
* service.spec.ports[0].name = http
* service.spec.ports[0].protocol = TCP
* pod.spec.subdomain = hostnames
* pod.namespace = default

We DO NOT

[2017-12-29 18:25] johnbelamaric commented on #184
I don’t know that there needs to be a direct relationship between names with A records and those with SRV records. That is, I don’t know if we want to make that a “rule”.

In this case, where should we get the ports in the SRV for the endpoint? Still from the Service not the pod? And then just return a single A record for the endpoint?

On a related note, one thing I noticed is that while SRVs cou

[2017-12-29 18:59] thockin commented on #184
I think it comes down to what a headless Service is about.  It is a group
of endpoints with no abstraction over them.  But it is rooted in Service,
so service ports seem to make sense.

How would someone use them?  If they do an A lookup, they get a list of
endpoints.  If they do an SRV lookup they get a similar list.

Maybe I am wrong, and the fact that we do support A for individual pods,
but do

[2018-01-02 13:50] DaiHao commented on #182
**In dnsmasq's FAQ, it explains as follows:**

The high ports that dnsmasq opens are for replies from the upstream
nameserver(s). Queries from dnsmasq to upstream nameservers are sent
from these ports and replies received to them. The reason for doing this is
that most firewall setups block incoming packets _to_ port 53, in order
to stop DNS queries from the outside world. If dnsmasq sent its quer

[2018-01-02 13:50] #182 closed

[2018-01-02 17:24] thockin commented on #116
This is a real bug that I expect people to hit. :(
/lifecycle frozen

[2018-01-02 22:34] thockin commented on #125
/lifecycle frozen
/remove-lifecycle stale

[2018-01-03 00:57] thockin opened #186 "kube-dns returns NXDOMAIN when not yet synced with apiserver"
From https://github.com/kubernetes/kubernetes/issues/57111

**What happened**:
when kube-dns has not yet synced with the apiserver, it return NXDOMAIN for all cluster names

**What you expected to happen**:
It should return SERVFAIL

**Anything else we need to know?**:
NXDOMAIN is the wrong status. It even can be cached by downstream DNS servers.

**Environment**:
- Kubernetes version (use `kubect

[2018-01-03 07:08] chrislovecnm commented on #81
/lifecycle frozen

[2018-01-03 07:54] bowei commented on #142
/close

[2018-01-03 07:54] #142 closed

[2018-01-03 14:55] rramkumar1 commented on #186
/assign

[2018-01-03 14:55] rramkumar1 commented on #186
I can't assign myself but I'll go ahead and take care of this

[2018-01-03 15:24] tommyknows opened #187 "Unreachable Backend after changing backend"
Hi,
I've got a really weird issue with CoreDNS. I use it as a DNS for the federation, and set it up like described here:
https://github.com/ufcg-lsd/k8s-onpremise-federation#-deploy-coredns
I then created another etcd-backend, with the service-name "etcd-dns-cluster-client.default".
I can execute the following inside one of the containers of the etcd-cluster:
[code]

My Corefile for the DNS server

[2018-01-03 15:40] miekg commented on #187
Your `etcd` line in your config contains a comma that shouldn't be there.
`etcd federation.local., custom.domain.` -> `etcd federation.local. custom.domain`

And what's resolving the etcd endpoint name? `endpoint http://etcd-dns-cluster-client.default:2379`

[2018-01-04 08:36] tommyknows commented on #187
Resolving the etcd endpoint was the kube-dns - which wasn't working correctly as I figured out.
(I don't know why the wget worked, though...)

Now that the Kube-DNS works, I get the error
[code]
I was able to solve this error by removing the comma from the config file and killing the pod.
Now it's working again. Thanks!

BTW: The error message doesn't really makes sense, does it? Am I missing some

[2018-01-04 15:13] johnbelamaric commented on #186
@chrisohaver can you make sure CoreDNS doesn't have this issue?

[2018-01-04 16:01] miekg commented on #187
[ Quoting <notifications@github.com> in "Re: [kubernetes/dns] Unreachable Ba..." ]

I don't know i/o timeout indicates an actuall network timeout. Because of
federation it is a bit hard to see what's actually being asked (need tcpdump
prolly), but maybe your upstream really hates commas in domain names and doesn't
reply?

[2018-01-04 20:07] bowei commented on #102
/remove-lifecycle stale

[2018-01-04 20:16] bowei commented on #76
/remove-lifecycle stale

[2018-01-08 17:15] #149 closed

[2018-01-11 16:31] gcyre commented on #118
I've run into the same issue as the OP, my setup is similar using CoreOS and flannel, I followed the getting started guide [here](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/)

I'm trying to get the kubernetes-dashboard working on a node other than master but have received errors saying it cannot reach the apiserver.

`2018/01/11 16:25:36 Error while initializing connection

[2018-01-18 09:14] arno01 commented on #55
/remove-lifecycle stale

[2018-01-20 06:17] k1-hedayati commented on #55
Though it is possible to add entries to hosts via configmap it nice and natural to import nodes `hosts` file into kubedns

[2018-01-20 18:41] relyt0925 opened #189 "Question: Kube DNS Behavior when api server is down for extended period of time"
In our managed Kuberentes offering, customers have been reporting that DNS resolution fails when the API server goes down for an extended period of time (1-2 minutes). I thought Kube DNS will keep the current cached values for all it's DNS entries until it can successfully update the entries after contacting the API Server.

This issue is just a question: What is the behavior of kube dns when the

[2018-01-23 16:06] cmluciano commented on #60
/close

[2018-01-23 16:06] #60 closed

[2018-01-23 19:17] #178 closed

[2018-01-23 21:15] diegs opened #190 "kube-dns cannot run as non-root user"
I attempted to run kube-dns as a non-root user by modifying the example YAML files to:

- have dnsmasq serve on a high port using the `--port` flag
- fix the service to point at the high port
- add a non-root security context to the pod

This seems like it would be sufficient, but then I found that there are several hard-coded assumptions in the container image that dnsmasq will run as root:

http

[2018-01-24 18:34] thockin commented on #190
I would love for it to run as non-root.  cap_net_bind_service might allow
us to not muck with ports, too.

On Tue, Jan 23, 2018 at 1:15 PM, Diego Pontoriero <notifications@github.com>
wrote:

[2018-01-30 05:45] thockin commented on #117
/lifecycle frozen
/remove-lifecycle stale

[2018-01-30 10:00] marcellodesales commented on #122
@dElogics is there any other reference we can find on how to setup kube-dns with `dnsmasq`?

[2018-01-31 16:22] #158 closed

[2018-02-01 01:59] rmb938 commented on #119
I just spent like an hour trying to debug this before I found this issue... time to find a new dns provider I guess...

[2018-02-04 02:36] #189 closed

[2018-02-08 21:09] Stono opened #195 "kube-dns crashing on GKE 1.9.2 (panic: counter cannot decrease in value)"
See the title really, the sidecar pod is crashing every few minutes on the recent release GKE 1.9.2 release:

[code]

[2018-02-09 03:18] oomichi opened #196 "difficult to investigate which is problematic on the initialization, services or endpoints"
As the issue report of https://github.com/kubernetes/kubernetes/issues/55471 we are facing a problem during the dns initialization and the error log is like:

I0117 00:44:06.332308 1 dns.go:173] Waiting for services and endpoints to be initialized from apiserver...
F0117 00:44:06.832362 1 dns.go:167] Timeout waiting for initialization

The dns is waiting for both services and endpoints to be initi

[2018-02-09 21:18] chen-anders commented on #186
any updates on this issue? I saw that https://github.com/skynetservices/skydns/pull/327 was reverted due to non-working Travis CI configuration.

[2018-02-13 21:58] rramkumar1 commented on #186
@chen-anders I will take another look this week.

[2018-02-13 22:03] chen-anders commented on #186
@rramkumar1 Thanks! - I do have a branch that passes CI for what it's worth https://github.com/skynetservices/skydns/pull/335

[2018-02-13 22:10] rramkumar1 commented on #186
@chen-anders That looks great! Once that get's in, I can vendor skydns and work on the kube-dns changes.

[2018-02-14 18:38] RochesterinNYC opened #198 "Reverse IP lookup of external IPs not working with kube-dns upstreamNameservers"
**What happened**:

We’re trying to do reverse IP lookups from a GKE container (ex. `dig +short -t PTR x.x.x.x.in-addr.arpa`)  and this doesn’t seem to be working. `kube-dns` is set with `upstreamNameservers` via the `kube-dns` ConfigMap in the `kube-system` namespace.

**What you expected to happen**:

I would expect the reverse IP lookups to be passed along to the specified upstream nameservers

[2018-02-14 19:57] RochesterinNYC commented on #198
Additionally, issuing the reverse IP lookup directly against kube-dns does not work/return a record:

[code]

[2018-02-18 17:51] #38 closed

[2018-02-18 21:54] #29 closed

[2018-02-21 03:37] StephanX commented on #116
Yep, just ran into this today, while trying to use a headless service to permit direct access to pods in a replicaset.  I tried working around it by omitting the hostname from pod definition, but kubedns just ignored the pod all together.

For what it's worth, our use case is to provide a mechanism to pass instructions to individual pods within the replicaset (to poll status, instruct it to quiesc

[2018-02-22 13:21] #67 closed

[2018-02-23 13:54] krogon commented on #121
Why did we disable neg-caching as default instead of setting reasonable TTL value with `--neg-ttl=600`?
With huge amount of queries in kubernetes related to ndots settings this would have negative impact.

[2018-02-23 21:55] johnbelamaric commented on #131
This is fixed in CoreDNS, when we move to that it will be resolved.

[2018-02-24 12:48] GaryH21 opened #199 "Kube-dns times out"
I've recently started getting lots of errors with getaddrinfo timing out when trying to access external databases from my pods.

Sometimes (but not always) seeing dnsmasq error with "Maximum number of concurrent DNS queries reached (max: 150)" - I can't see how we would be reaching 150 concurrent connections though.

I'm running Kubernetes 1.9.2 on Google Cloud.

Please let me know what other info

[2018-02-24 12:52] GaryH21 commented on #199
@bowei as discussed on Twitter. Can't seem to assign it.

[2018-02-27 18:42] tomwilkie opened #200 "rest_client_requests_total metric missing"
The rest_client_requests_total is missing:
- it is included in client-go
- but the prometheus metric itself is dependency injected from `k8s.io/kubernetes/pkg/client/metrics/prometheus`, which is an old version on head and refers to `k8s.io/kubernetes/pkg/client/metrics` and not `k8s.io/client-go/tools/metrics`

[2018-02-27 18:43] tomwilkie opened #201 "rest_client_requests_total metric missing"
The rest_client_requests_total is missing:
- it is included in client-go
- but the prometheus metric itself is dependency injected from `k8s.io/kubernetes/pkg/client/metrics/prometheus`, which is an old version on head and refers to `k8s.io/kubernetes/pkg/client/metrics` and not `k8s.io/client-go/tools/metrics`

[2018-02-27 18:43] #201 closed

[2018-02-27 21:51] MrHohn opened #203 "Travis build is failing on HEAD and PRs"
Ref https://travis-ci.org/kubernetes/dns/builds/346993176:
[code]

/assign

[2018-02-27 21:59] thockin commented on #203
I emailed Bowei about this - the build is all messed up

On Tue, Feb 27, 2018 at 1:51 PM, Zihong Zheng <notifications@github.com>
wrote:

[2018-02-27 22:28] seh commented on #174
/remove-lifecycle stale

[2018-02-28 05:47] thockin commented on #174
/lifecycle frozen
/remove-lifecycle stale

[2018-02-28 09:09] irvifa commented on #55
Hi, I'm using a `stubDomain` currently and would like to know if the `kube-dns` failed to resolve the DNS where we could see the logging for this matter? Since I think this will give an impact to service reliability.

[2018-02-28 15:24] dynek opened #204 "DNS stops working for addresses outside of the cluster"
Hello,

From time to time we have a DNS resolution issue with one of our k8s cluster.
It's isolated to the cluster ifself because the same resolutions work from outside the cluster.
Also, only resolution belonging to outside the cluster is impacted, intra-cluster dns works (services).

We are running k8s 1.5.2 with kubedns 1.9 and dnsmasq 1.14.5.

10.1.0.1 is one of the dns serving dns for the who

[2018-02-28 16:21] miekg commented on #204
[ Quoting <notifications@github.com> in "[kubernetes/dns] DNS stops working ..." ]

do you have tcpdump of the query and reply from both within the cluster and
outside the cluster?

[2018-03-01 00:09] nhoughto opened #205 "dnsmasq times out resolving external names without query-port"
We are using KOPS 1.8 to setup a kube 1.8 cluster in AWS with a DHCP Option Sets set upstream resolver that is owned by another team, we have subnet NACLs that only allow 1024-65535 ports to communicate between the kube nodes and the resolver (in a different VPC).

With this setup we have been seeing intermittent DNS resolution failures in the form of timeouts from our Java apps a few times per ho

[2018-03-01 01:44] bls commented on #205
This can be confirmed by running tcpdump in the dnsmasq container in the kube-dns pod and generating some DNS traffic.  Eventually, requests are sent to the upstream nameserver with a source port < 1024

[code]

Ports 255 & 590 are used as client ports in the log above. This will not play nicely with many network ACLs which will assume an ephemeral port range starting at (at best) port 1024. A mor

[2018-03-01 02:35] bls commented on #205
Looking through dnsmasq-2.78/src/dnsmasq.c it looks like the default min_port actually will be 0 if none is set via configuration. The dns nanny does not configure max-port or min-port.

[2018-03-01 09:01] #80 closed

[2018-03-02 06:13] rakidu opened #207 "dns resolution issues"
Hi All,

We are unable to resolve the pods(IP) from master when we are trying to connect to pods from Master.

we used acs-engine to deploy the kubernetes cluster in Azure.

we are trying to ssh in to the pod from master but it is unable to resolve the pod IP
as of now we are logging in to the node machine and trying to ssh in to that pod.

Please help me why the dns resolution is not happening

[2018-03-02 10:53] ace-subido commented on #195
Same error log here, Stackdriver reports the same error log. Also our kube-dns pods are crashing every few minutes. We're also running the 1.9.2-gke.1 release.

Looking over at Google Console, the `kube-system -> sidecar` logs shows this:

[code]

[2018-03-02 19:24] MrHohn commented on #195
cc @rramkumar1 possibly introduced by https://github.com/kubernetes/dns/pull/173?

[2018-03-02 21:34] rramkumar1 commented on #195
@Stono What's happening is that when the dnsmasq container gets restarted (on a ConfigMap change), the metrics get reset and we end up reducing the prometheus counter in the sidecar. This is exactly the error you were getting. We were able to systematically reproduce the issue and we are confident that this should not affect your cluster for the time being. Specifically, the sidecar container shou

[2018-03-05 02:40] xuejipeng opened #208 "dnsmasq --addrss args can't reslove"
I add parameters '--address = / test.com / 10.0.1.215' on  dnsmasq service, i have to service,
when i ping www.test.com，one can resolve to ip address(10.0.1.215) but one can't resolve to.
The file  /etc/resolv.conf content is the same
<img width="587" alt="2018-03-05 10 36 16" src="https://user-images.githubusercontent.com/18901031/36955097-42d736f8-2061-11e8-9b82-315487f7bd5b.png">
<img width="12

[2018-03-06 01:17] jaredallard commented on #82
Any chance of this being implemented?

[2018-03-08 17:58] josdotso opened #209 "Trying to create a headless-like SRV result from discrete static ClusterIPs"
Hi.

I'm working on making etcdv3 run better in Kubernetes, the results of which should come in a PR to kubernetes/charts.

Etcdv3 basically requires consistency of IP address.  Although previously hostnames were supported for "peer-urls", this bug was fixed and so IP addresses are again the currency of etcd clustering.

What I'm looking for is: https://github.com/kubernetes/kubernetes/issues/2896

[2018-03-08 21:16] chen-anders commented on #186
Any updates on this?

[2018-03-09 19:13] ctlam commented on #195
I have the exactly problem too, and the kube-dns is crashing every minute:

**kubectl get po --namespace=kube-system -o wide |grep dns**
kube-dns-79d99cdcd5-knc5n              1/3       CrashLoopBackOff   20         20m

**kubectl  --namespace=kube-system logs kube-dns-79d99cdcd5-knc5n sidecar**

I0309 19:01:25.817062       1 main.go:51] Version v1.14.8
I0309 19:01:25.817161       1 server.go:45]

[2018-03-09 19:55] ctlam commented on #195
Here is what I found out and made the problem go away:

It turned out the other node (say: node2) that ran the other kubedns pod (pod2) had gone from "Ready" to "Not Ready" (for unknown reason).  The other pod didn't report problem though.  I restarted the kubelet service on the node2 (without restarting any pod on it).   Then, the above problem (pod1 on node1) went away.

[2018-03-10 00:16] thockin commented on #164
In general pods in a Deployment are considered fungible, and as such do not have DNS.  We can't do the PTR based on Service name because a pod can be "in" multiple Services but DNS says you can only have one PTR record.  We could do it and just pick one at random - people who use multiple overlapping services would not be able to rely on it.

An alternative model would be for you to do a forward (

[2018-03-10 04:28] #132 closed

[2018-03-10 07:34] miekg commented on #164
[ Quoting <notifications@github.com> in "Re: [kubernetes/dns] can add PTR & ..." ]

I don't think this is true. Multiple records are allowed and I'm not aware of an
RFC that says there can only be one for 1 name for a PTR...

/Miek

--
Miek Gieben

[2018-03-11 04:52] #124 closed

[2018-03-12 04:02] thockin commented on #209
On Thu, Mar 8, 2018 at 9:58 AM, Joshua Dotson <notifications@github.com> wrote:

You say "bug" and I say "regression".  Assuming static IPs is a pretty
unfriendly design choice, and should be avoided for software built in
the modern era.

With the exception of the latter, the rest are what Services are for.
The latter seems just wrong, unless you're willing to make dubious
assumptions about availa

[2018-03-12 04:17] MOZGIII commented on #165
My dear bot, I have no idea why other humans do not care. It's only two of us now in this issue.

[2018-03-12 04:21] jmdots commented on #209
Thanks for your help!  You can close this if you want.  I'll need to study a bit more before deciding next steps

[2018-03-12 04:56] #209 closed

[2018-03-12 12:47] dynek commented on #204
I'll reopen this issue if needs be with requested traces because, so far, I am unable to reproduce the problem.

[2018-03-12 12:47] #204 closed

[2018-03-12 14:25] #140 closed

[2018-03-12 15:31] thockin commented on #164
Far be it from me to challenge @miekg on DNS - it is in fact ALLOWED, but it seems generally discouraged (many sites and blog posts warning not to do it).  The arguments seem relatively weak, but DNS compatibility has repeatedly proven more complex than I expect it to be.

[2018-03-12 16:07] thockin commented on #165
/lifecycle frozen
/remove-lifecycle stale

[2018-03-12 17:53] timbyr opened #213 "Unable to update dependencies with godep"
Godep is EOL'd and should be replaced with active dependency tool.

Managing dependencies is made increasingly difficult by won't fix issues on godep tool.

[2018-03-12 17:58] timbyr commented on #213
Missed open PR #202

[2018-03-12 18:12] MrHohn commented on #213
@timbyr Thanks for reporting, I think it's okay to keep this open as #202 is not in yet.

[2018-03-12 20:04] tuminoid commented on #169
/remove-lifecycle stale

Very much valid issue still.

[2018-03-13 22:57] #159 closed

[2018-03-17 19:38] synhershko commented on #119
Just to make sure - is this DNS issue only applies to CloudFlare or can this be the case with other DNS providers as well?

[2018-03-19 15:41] rramkumar1 commented on #177
/remove-lifecycle stale

[2018-03-21 23:56] #203 closed

[2018-03-22 02:00] MrHohn commented on #198
It seems current kube-dns implementation doesn't support this case, as we explicitly redirect PTR query to kubedns container (https://github.com/kubernetes/kubernetes/blob/v1.10.0-rc.1/cluster/addons/dns/kube-dns.yaml.base#L170-L171). Even if [a stubdomain is setup](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#configure-stub-domain-and-upstream-dns-servers) for `in-a

[2018-03-22 18:07] bowei commented on #198
@cc @grayluck

[2018-03-23 00:19] grayluck commented on #198
Working on it. PR#220

[2018-03-23 00:37] #186 closed

[2018-03-25 05:29] #196 closed

[2018-03-26 19:12] bowei commented on #199
/assign

[2018-03-26 19:13] bowei commented on #199
Can you also post the sample dig response. It looks like something is causing it to switch to TCP mode.

[2018-03-26 21:22] #165 closed

[2018-04-01 05:07] #162 closed

[2018-04-02 13:34] daurnimator commented on #119
Cloudflare seem to be following RFC2308 Section 2.2: https://tools.ietf.org/html/rfc2308#section-2.2

[2018-04-02 19:23] jpap commented on #119
I received an e-mail from Cloudflare on March 23, 2018 stating that they have fixed this issue on their DNS servers.

[2018-04-02 19:23] #119 closed

[2018-04-05 20:17] #198 closed

[2018-04-09 16:53] MrHohn commented on #82
/remove-lifecycle rotten

[2018-04-09 22:28] pavel-odintsov commented on #119
Hello!

Yes, we just finished deployment for release which includes NODATA/NXDOMAIN improvement. For all DNSSEC disabled domains it should be correct now. For DNSSEC enabled domains we keep old behaviour because it required for our approach how we generate DNSSEC signatures.

Thank you!

[2018-04-11 15:42] #164 closed

[2018-04-13 08:23] ApsOps opened #224 "DNS resolution for externalName services broken in v1.14.9"
After updating to v1.14.9, externalName services are not resolving anymore. I tested with v1.14.8 and it works.

[code]

kube-dns pod logs (I've replaced the correct domain with example.com but it exists and resolves normally in v1.14.8):

[code]

I initially thought it's regression from #210 but I'm not sure. Please let me know how I can help with any more debug info.

[2018-04-13 18:55] MrHohn commented on #224
I can confirm DNS resolution for externalName service is broken in 1.14.9 but working in 1.14.8.

Though with 1.14.9, I can also see the externalName record is generated in kubedns logs:
[code]

Will spend more time.

[2018-04-13 22:39] MrHohn commented on #224
Built an image with d522d10e2e5e0797637e89ddb0a68a318cc8be60 (one commit before https://github.com/kubernetes/dns/pull/220) and the externalName service DNS resolution is working.
@grayluck

[2018-04-13 23:16] MrHohn commented on #224
Got some pointers, seems like the nameserver for skydns somehow gets reset to empty, instead of using the ones listed in /etc/resolv.conf.
[code]

[2018-04-13 23:49] MrHohn commented on #224
Also found out why our e2e test didn't catch this. Turned out in the externalName test we deliberately dig for just CNAME record. So the CNAME -> A (or AAAA) record path in upstream server is not examined.

[2018-04-13 23:52] MrHohn commented on #224
@grayluck is working on a fix.

[2018-04-16 18:08] MrHohn opened #226 "Add an e2e test that goes through dnsmasq -> kubedns -> upstream servers path"
Ref https://github.com/kubernetes/dns/issues/224, a recent regression was introduced without being caught by any of the tests. The dnsmasq -> kubedns -> upstream servers path is currently a blindspot in test and we should surely include that to prevent future regression.

cc @grayluck

[2018-04-16 20:26] MrHohn commented on #224
For the record, query for PTR records that only exist in upstream server seems to be broken as well.

[2018-04-17 17:09] MrHohn commented on #224
kube-dns 1.14.10 is released with the fix.

[2018-04-17 17:09] #224 closed

[2018-04-18 06:00] ApsOps commented on #224
Confirming that it works with v1.14.10.

[2018-04-19 05:46] grayluck commented on #226
PR created. Please take a look :)

[2018-04-20 01:40] #226 closed

[2018-04-23 10:06] geco82 commented on #118
Hi, did you resolved this issue?

[2018-04-24 17:59] MrHohn opened #227 "CI jobs for kube-dns"
coredns will soon be enabled by default in k8s (https://github.com/kubernetes/kubernetes/pull/62147), after that there will be no test coverage for kube-dns anymore. We should probably create separate CI jobs that explicitly enable kube-dns (similar to https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-coredns), and maintain that for couple more releases.

[2018-04-26 21:20] redbaron commented on #190
/remove-lifecycle stale

[2018-04-27 20:39] MrHohn commented on #131
This hasn't been fixed.

/remove-lifecycle rotten

[2018-04-28 17:25] #170 closed

[2018-04-29 15:38] thockin commented on #190
@johnbelamaric can CoreDNS run as non-root?

[2018-04-29 19:32] miekg commented on #190
[ Quoting <notifications@github.com> in "Re: [kubernetes/dns] kube-dns canno..." ]

yes:

% ./coredns -dns.port=1043
.:1043
2018/04/29 20:28:15 [INFO] CoreDNS-1.1.2
2018/04/29 20:28:15 [INFO] linux/amd64, go1.10.1,
CoreDNS-1.1.2
linux/amd64, go1.10.1,

[2018-04-30 15:44] johnbelamaric commented on #190
yep, as @miekg said

[2018-04-30 20:11] mikehollinger commented on #169
Hitting this as well!

[2018-05-01 10:33] thockin commented on #190
We should give it CAP_NET_BIND and run as non-root by default, perhaps?

On Mon, Apr 30, 2018, 5:44 PM John Belamaric <notifications@github.com>
wrote:

[2018-05-01 10:46] redbaron commented on #190
@thockin, apparently it requires setcap call on a file: https://github.com/moby/moby/issues/8460

[2018-05-01 13:44] johnbelamaric commented on #190
It’s a cluster IP anyway, why not just listen on port 5300 instead and set the targetPort?

[2018-05-03 16:55] aandryashin opened #228 "Update miekg/dns up to v1.0.5"
Please update miekg/dns up to v1.0.5 due this [#642](https://github.com/miekg/dns/pull/642) issue. When resolv.conf contains option attempts kube-dns crashes with panic.

[2018-05-03 18:10] MrHohn commented on #228
cc @grayluck

[2018-05-03 18:12] grayluck commented on #228
/assign

[2018-05-04 04:15] grayluck commented on #228
I seems that miekg/dns v1.0.5 depends on golang.org/x/net/internal/socket, which appears only after release-branch.go1.9 of "golang.org/x/net/internal/socket".
But the current GoVersion in Godeps.json is "GoVersion": "go1.8".
See if we have to drop support for go version below 1.9.

[2018-05-04 22:26] #228 closed

[2018-05-05 01:55] #175 closed

[2018-05-07 11:02] tommyknows commented on #187
Sorry - couldn't test this.
Thus, closing

/close

[2018-05-07 11:02] #187 closed

[2018-05-09 18:57] igorvpcleao opened #230 "High latency for kube-dns 1.14.9 and 1.14.10"
Hi there,
I noticed a high latency when I starting using _kube-dns_ `1.14.9` and `1.14.10`.

Images below show _kube-dns_ response time after upgrading _kube-dns_ from `1.14.6` to `1.14.10`

![screen shot 2018-05-09 at 15 13 57](https://user-images.githubusercontent.com/3065657/39832035-887dd036-539c-11e8-8872-eafbd3889a88.png)

![screen shot 2018-05-09 at 15 14 02](https://user-images.githubuserc

[2018-05-12 07:56] krmayankk commented on #116
Oh my god I need this feature .i am happy to help if someone can give me pointers

[2018-05-13 01:33] johnbelamaric commented on #116
I believe we verified that this already works in CoreDNS.  Check out https://github.com/coredns/deployment/tree/master/kubernetes to see how to deploy it.

[2018-05-15 01:38] xiaosadexiaohai opened #231 "Grafana Dashboard"
Does anyone have a working Grafana Dashbaord for kube-dns metrics using Prometheus as a data source?

[2018-05-15 07:15] #207 closed

[2018-05-16 07:49] krmayankk commented on #116
thanks @johnbelamaric  could you point to code where this feature got implemented in coredns. We are using 1.9 where coredns is alpha. I would love to move to coredns when this is made seamless to kube-dns

[2018-05-17 15:49] johnbelamaric commented on #116
I don’t think there is specific code to handle this case, it just falls out of how we process the services, endpoints and requests. I think we might have a test for it - @chrisohaver do you know?

[2018-05-17 17:43] chrisohaver commented on #116
It's not a special case per se, the code continues to look for all endpoints that match the query name. It doesn't stop when it finds the first match.
I just added a test for it... coredns/coredns#1811

[2018-05-18 11:24] ZhengRongTan opened #233 "kube dns restart frequently!!"
k8s - 1.8. 5

kube dns  restart frequently , help!!

[2018-05-18 11:33] ZhengRongTan commented on #233
Containers:
  kubedns:
    Container ID:  docker://674a4033500b6bfd49ccc02586dc1424609d5620ee1948fbf81d7bc751b1978d
    Image:         k8sregistry.domain.com:1080/dns/k8s-dns-kube-dns-amd64:1.14.1
    Image ID:      docker-pullable://k8sregistry.domain.com:1080/dns/k8s-dns-kube-dns-amd64@sha256:ea8a32804d47c11fb772ffd2550614c40b3e7f793a822023d6e0d95ad8d0bf16
    Ports:         10053/UDP, 10053/TCP

[2018-05-18 15:33] chrisohaver opened #234 "response for a headless service with no ready endpoints"
kube-dns replies with NXDOMAIN, for a headless service that has no ready endpoints.
But the [spec](https://github.com/kubernetes/dns/blob/master/docs/specification.md#241---a-records) says that the response should be NODATA, "because the service exists".

Presumably the spec wrong, since the spec was originally based off of kube-dns behavior at the time.
Or, in this case, is the spec behavior pref

[2018-05-18 16:19] sppadic17 opened #235 "kube-dns resolution for external domains slow due to external PTR record lookup failure"
Hi there
  Currently running a 1.7.0 K8 cluster on Ubuntu 16.04 LTS with kube-dns v1.14.10. Seeing issues with slow nslookup responses (avg 7- 10 seconds) within application pods , when going to an external  endpoint which does not have PTR record  assinged to it

Seeing the same behaviour on pods using both dnsPolicy Default as well as for ClusterFirst

pod1 > nslookup xx.yy.zz.com
nslookup: can'

[2018-05-18 20:39] miekg commented on #234
[ Quoting <notifications@github.com> in "[kubernetes/dns] response for a hea..." ]

I take it 'service exist' means the domain name exist, but there is no rdata; a
NODATA response is correct in that case.

[2018-05-18 21:47] chrisohaver commented on #234
In the context of the spec, "service exists" only means that there is a headless service defined in kubernetes.  Whether or not the cluster DNS should produce a domain with that service name is the question.

On the other hand, for a headless service with no ready endpoints, there is no record at that level, or beneath it.  Which suggests NXDOMAIN is more correct. e.g.
`headless.default.svc.cluste

[2018-05-19 07:53] miekg commented on #234
[ Quoting <notifications@github.com> in "Re: [kubernetes/dns] response for a..." ]

fair enough, but nodata/nxdomain should matter to a client.

[2018-05-21 08:45] #233 closed

[2018-05-21 12:54] discordianfish commented on #160
I also observe this. My cache hit rate is ~20%, event though I always resolve the same rarely changing names. I actually had `--no-negcache` set but removing it didn't affect the cache hit ratio, neither had increasing the cache limit nor setting `--neg-ttl=30`.

[2018-05-22 21:41] davidkarlsen opened #236 "kube-dns goes into CrashLoop on fresh install"
Install with kubeadm:
[code]

Then add calico CNI as described here:
https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/calico#installing-with-the-kubernetes-api-datastore50-nodes-or-less
(setting the CIDR range to 10.244.0.0/16 to match kubeadm settings)

kube-dns goes into a crashloop on
[code]

Full log:

[code]

versions:
[code]

[2018-05-22 21:48] davidkarlsen commented on #236
Might be related https://github.com/kubernetes/kubeadm/issues/273 - although I have tried installing with a correct /etc/resolv.conf (no 127.x.x.x) entries - and it's not a OOM.

[2018-05-23 12:52] davidkarlsen commented on #236
I had an old /usr/local/bin/ncenter - when I deleted it kube-dns started working

[2018-05-23 12:52] #236 closed

[2018-05-23 14:28] chrisohaver commented on #234
Yes (e.g. search path completion), which is why changing the current implementation to match the spec should be taken delicately.  Changing the spec to match the implementation has less disruptive potential.

In concept `NODATA` _would be_ more consistent with the clusterIP service response.  For a clusterIP service, DNS always returns a record with the clusterIP, even if there are no ready endpoi

[2018-05-24 14:42] jessfraz opened #237 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 19:46] miks commented on #195
@rramkumar1 I have same problem as @ace-subido.
As kube-dns is crashing all the time, DNS resolving is not working on all other pods.
I have only one node with kube-dns version 1.14.8.
On other cluster I have kube-dns version 1.14.5 with no such DNS problem.

I can provide more information, just let me know.

[2018-05-24 20:50] miks commented on #195
After further investigation found that Ubuntu 18.04 new "systemd-resolved" DNS service was to blame.
More at https://github.com/kubernetes/kubernetes/issues/49411#issuecomment-318780912
I fixed by deleting /etc/resolver.conf symlink and recreating new /etc/resolver.conf with my network router DNS.

[2018-05-25 21:44] krmayankk commented on #96
/area dns

[2018-05-28 20:14] #184 closed

[2018-05-29 01:42] hzjdyf opened #238 "Can not resolve 'mongdb-0.mongodb.default.svc.cluster.local'"
I'm running a mongodb with statefulsets,but i can't resolve FQDN in busybox.

# kubectl get sts
NAME      DESIRED   CURRENT   AGE
mongodb   2         2         10m

# kubectl get po -l app=mongodb
NAME        READY     STATUS    RESTARTS   AGE
mongodb-0   1/1       Running   0          10m
mongodb-1   1/1       Running   0          10m

# kubectl exec busybox-78cd9bd6c7-vjflh -- nslookup mongodb-0

[2018-05-29 02:29] 372046933 commented on #195
The same promblem affected me. Restart kubelet does not work

[2018-05-30 00:28] krmayankk commented on #55
@asarkar @manigandham would statefulset help you . Their pods get constant dns entries and you can still use a service to round Robin to any of the pods

[2018-05-30 22:10] joekohlsdorf opened #239 "Set low dnsmasq --neg-ttl instead of --no-negcache"
The following PR disabled caching of negative responses: https://github.com/kubernetes/kubernetes/pull/53604

I instead propose to have a negative response cache with a very low TTL. In our environment setting just `--neg-ttl=5` reduced the amount of queries to the upstream DNS server by a factor of 10. I think 5-10s is a reasonable tradeoff between speed of service-discovery, performance and cach

[2018-05-30 22:44] joekohlsdorf commented on #239
PR is now here: https://github.com/kubernetes/kubernetes/pull/64534

[2018-06-01 12:12] sgolightly opened #240 "Dnsmasq v2.79"
Very quick, and very simple query.  Is there any timescale for updating the version of dnsmasq to v2.79 ?

[2018-06-01 16:05] jjustinwhite commented on #169
I had a similar issue, but removing hostNetwork fixed it for me, so not the same as above. Figured I'd mention it though, since this post helped me realize it was having hostNetwork set to true, that was causing my pods to be unable to resolve the FQDNS.

[2018-06-03 21:37] #102 closed

[2018-06-03 21:37] #76 closed

[2018-06-05 10:58] mat1010 opened #242 "Resolve external IP addresses"
We'd like to access kube-dns from outside the k8s cluster to use it as discovery service also for services outside of the cluster. We were able to achive this by exposing kube-dns through a dedicated service with an external ip address (which is a zone internal GCP address).

A drawback is that it seems not possible to resolve the external ip of an service through kube-dns.

Would it be feasible t

[2018-06-05 15:08] thockin commented on #242
I don't think this is a kube-dns problem, unless I misunderstand.  You're
adding an IP above and beyond what it understands.  You could add that IP
to GCP's DNS or you could add an empty-selector service with a manual
endpoint to "trick" kube-dns into serving something...

On Tue, Jun 5, 2018 at 3:58 AM Matthias Kneer <notifications@github.com>
wrote:

[2018-06-05 18:55] johnbelamaric commented on #242
That would work. However, this has also come up in CoreDNS as a feature request on several occasions:

https://github.com/coredns/coredns/issues/1851

https://github.com/coredns/coredns/issues/839

I think there are some issues to sort out here. How should we handled adding features like this to CoreDNS vs. extending the standard K8s DNS schema? As CoreDNS becomes a GA option in 1.11, what kind of

[2018-06-05 20:04] mat1010 commented on #242
The external ip address, which will be requested by k8s from GCP, is known to k8s at some point after it has been assigned by GCP - right? So from my rough understanding it should be possible to "just" create an additional A record with the same name, but within a different zone, which holds this external address. Of course kube-dns might just hold this information and might not be the place where

[2018-06-05 21:13] thockin commented on #242
The problem is that if we make kube-dns start serving a second zone, the
user has to make that zone's NS records point to kube-DNS.

I'm not against that sort of idea, but it's a net new surface to consider -
not just a tiny extension. :)

On Tue, Jun 5, 2018 at 1:04 PM Matthias Kneer <notifications@github.com>
wrote:

[2018-06-05 21:43] mat1010 commented on #242
Thanks for pointing this out. At least that verifies that this feature is not there right now, so I don't have to search any deeper for a hidden / undocumented implementation. As an interim solution we might go for the empty-selector service to still make use of the already available kubernetes services.

[2018-06-06 21:20] thockin opened #243 "kube-dns disregards stubDomains option while resolving externalName service"
Was https://github.com/kubernetes/kubernetes/issues/63821  @driusha

/kind bug

**What happened**:
I have:
* internal DNS "10.2.2.10" with zone "example.com" on it,
* stubDomains: {"example.com": ["10.2.2.10"]}
* externalName service "foo" which points to domain "foo.example.com"

When i try to resolve name "foo", i get NXDOMAIN.
If i try to create externalName (ex. mail -> mail.google.com) withou

[2018-06-07 18:20] #237 closed

[2018-06-10 07:24] geosword opened #244 "x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate"
This is happening on version 1.14.8 and potentially others.

Its running in a container, specifically gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.8 as part of a kubernetes cluster.
I have a self signed certificate on the apiserver, which understandably throws the usual verification errors if accessed with curl (from the command line of anything), without -k. The output from kube-dns howev

[2018-06-28 08:59] AwkwardBen opened #246 "Failed to create pod sandbox with cannot convert: no valid IP addresses warning"
Hi all, let me know if this is the right place to make this issue. I'm not sure if this is strictly a kube-dns fault, might be just kubernetes, so happy to go somewhere else.

So I've been trying to build a single node kubernetes cluster from scratch. I've essentially built from a base linux kernel, installed kuberetes packages (kubelet, kubeadm, kubectl) and ran kubelet and kubeadm with the follo

[2018-06-28 16:33] johnbelamaric commented on #246
Hi Ben, this does not look like a DNS-specific issue. Probably better to post it on the Kubernetes users mailing list or in Slack or Stackoverflow or the new forums. It looks like an issue with your CNI configuration - so you should include that config. I also am not clear on why you would run kubelet manually if you are also using kubeadm, which should take care of that for you.

[2018-06-28 21:29] AwkwardBen commented on #246
Thanks John, yes I'm slowly coming to the realization that this is not a DNS-specific issue. Stackoverflow seems to be the best course of action, thanks for your help, I'll close this issue.

[2018-06-28 21:29] #246 closed

[2018-07-03 12:05] hchenxa commented on #231
I also wait for a grafana json sample for kubedns, it will be great if someone can share the files.

[2018-07-13 08:58] jingslunt opened #247 "what's my problem whith kube-dns? i can't fix it"
logs:
[code]

- and my kube-dns.yml
[code]

 Installed whith Binaries file

Not kube-dns Binaries file

[2018-07-17 02:08] jingslunt commented on #247
solved
kubelet:
--anonymous-auth=true
and  something wrong now
[code]

[2018-07-19 09:34] include commented on #235
same behaviour here.

[2018-07-21 09:04] visokoo opened #248 "DNS resolution uses resolv.conf nameserver even though upstreamNameserver is specified..."
**What happened**
We're planning to use consul as a DNS server for internal services and also as a forwarder for external domains.

Following this [article](https://kubernetes.io/blog/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes/) it looks like all we need to do is specify the `upstreamNameservers` in the kube-dns config map with our consul box IP.
[code]
After doing this

[2018-07-23 14:55] chrisohaver commented on #248
This is the short-name dns resolution process of k8s pods with the ClusterFirst policy.
The pod itself is adding the domains, based on the search path and ndots defined in it's /etc/resolv.conf.  The query `vault.service.<mydomain>.int` contains 3 dots (which is less than the threshold of 5), so the pod tries each domain in the search path.

[2018-07-24 22:21] visokoo commented on #248
Thanks for the explanation there. Any potential insight on the upstreamNameservers issue? Just tested this in a brand new k8s cluster spun up in azure and still seeing external queries being sent to the MSFT nameserver instead of specified one. upstreamNameserver value doesn't seem to be respected.

[2018-07-25 09:21] cloudusers commented on #118
in my case

ps aux | grep kubelet
output  **** --cluster_dns=1.2.3.4

THEN, in *dns.yaml
the clusterIP and cluster.local maybe like:
clusterIP: 1.2.3.4    and  kubernetes cluster.local 1.2.0.0/16

after setting, create new pod and will see:

[root@centos-d4fc98684-xtl6q /]# cat /etc/resolv.conf
nameserver 1.2.3.4
search kube-system.svc.cluster.local svc.cluster.local cluster.local
options ndots:3

[2018-07-25 12:37] chrisohaver commented on #248
We can look at the flags for _dnsmasq_ (responsible for routing incoming dns queries) to verify that they are configured correctly. You can see those in the kube-dns deployment. These are supposed to be automatically configured based on the kube-dns configmap settings.

[2018-07-25 17:49] visokoo commented on #248
Looking at the dnsmasq container:
[code]
[code]

Looks like the flag (I assume you're looking for another `--server` flag) isn't present in the dnsmasq container but the logs do show that dnsmasq is supposedly using the configmap defined nameservers.

[code]

The only error I see is the `EOF`, I'm not sure why the value isn't being represented in the dnsmasq container itself...

We are using acs-e

[2018-07-25 18:15] MrHohn commented on #248
Instead of `--server=127.0.0.1#10053`, the dnsmasq should be using `--server=/cluster.local/127.0.0.1#10053` instead (or with the customized cluster domain). In your case because `127.0.0.1#10053` is listed as the first nameserver without explicit domain, basically all queries (that don't match other domains) will be forwarded to it.

I think ACS has a mis-configuration here: https://github.com/Az

[2018-07-26 00:34] visokoo commented on #248
@MrHohn thanks for the clarification. I had an inkling that that was the problem and created an issue with [ACS](https://github.com/Azure/acs-engine/issues/3534) already. I will definitely link to this ticket here for reference as well.

Follow up question on:

If the deployment itself is not updated, do subsequent scale ups of the DNS deployment contain stale data then?

[2018-07-26 01:19] MrHohn commented on #248
No, the new kube-dns replicas will read from kube-dns configmap upon startup hence will contain the latest configuration.

[2018-07-26 12:57] wanghaibo commented on #176
maybe we can use ipvlan like[ this](https://eng.lyft.com/announcing-cni-ipvlan-vpc-k8s-ipvlan-overlay-free-kubernetes-networking-in-aws-95191201476e) with a Unnumbered point-to-point interface as default route

[2018-07-26 23:08] visokoo commented on #248
Awesome, thank you for your help!

[2018-07-26 23:08] #248 closed

[2018-07-27 20:46] #200 closed

[2018-07-29 04:17] #205 closed

[2018-07-31 13:38] Grigsuv opened #249 "How make all this ??"
I need some docs,guide on how to build/create or smt else,I need internal dns addresses,In repo I can't find full info

[2018-07-31 13:48] chrisohaver commented on #249
Does `make build` work?

[2018-07-31 14:26] Grigsuv commented on #249
And how it must works on kubernetes cluster  if i build it local?

[2018-07-31 14:34] chrisohaver commented on #249
You'll need to update your kube-dns deployment to point to the image.

What's your bigger goal here?  To use a custom build of kube-dns?  Have you made local changes and what to use your own custom version?  If so, what changes have you made?

[2018-07-31 14:39] Grigsuv commented on #249
My goal is have internal dns addresses for pods on AKS,Just latest  working version.I find out tabout his repo but can't find information about deployment.Can you help me?

[2018-07-31 14:44] chrisohaver commented on #249
That function should be part of AKS.  You should not be required to build and deploy kube-dns manually.

[2018-07-31 14:49] Grigsuv commented on #249
Where can I get  dns information about pod/service?There are only ip addresses.How deploy it manually?

[2018-07-31 14:57] chrisohaver commented on #249
You should be able to make a dns request, _from a pod_ for the service using the service name and namespace.  For example:  `dig myservice.mynamespace.svc.cluster.local.` where _myservice_ and _mynamespace_, are the service name and namespace name that the service is in.

[2018-07-31 15:00] chrisohaver commented on #249
Here are more docs, from kubernetes: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2018-07-31 15:53] Grigsuv commented on #249
Thank you!

[2018-07-31 17:33] Grigsuv commented on #249
Can you tell me more about what can I change in kube-dns?

[2018-08-01 04:02] Grigsuv commented on #249
Can it be smt like serviceName.servicNamespace or smt like real address(github.com,google.com) ?

[2018-08-01 12:17] chrisohaver commented on #249
You can configure stub zones and upstream servers in a kube-dns configmap.
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

CoreDNS, a kubernetes approved alternative to kube-dns, is much more configurable/flexible.

Both should work.  For the latter, kube-dns will forward them to upstream resolvers.

[2018-08-01 12:35] chrisohaver commented on #249
This is a good link for troubleshooting that sort of thing...
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/

[2018-08-01 12:48] Grigsuv commented on #249
Pod id working correctly,getting response from pod's ip,app port and container name is the same..,Ok thank you,you helped me a lot

[2018-08-01 12:48] #249 closed

[2018-08-02 04:52] #208 closed

[2018-08-02 21:28] bradleybluebean commented on #243
Also seeing this issue with kube-dns 1.14.10

[2018-08-03 02:39] lavalamp commented on #195
I observe this on one of my clusters. Sidecar Version v1.14.8.3, Kubernetes 1.9.7. Seems harmless enough, I guess.

[2018-08-07 18:06] bowei commented on #82
/remove-lifecycle rotten

[2018-08-07 18:07] chrisohaver commented on #82
I dont think CoreDNS has this issue - though I have not tested it specifically.

CoreDNS does CNAME lookups by feeding name to itself, meaning that it should have no problem resolving a CNAME target that is a service name (as long as it's fully qualified).

[2018-08-07 19:13] chrisohaver commented on #243
`s/should/must/` .... Without setting an upstreamNameserver, i believe you'd have an infinite lookup loop for external domain names that don't fall in a stub domain.

You can also get into trouble (loop forever) if you try to query a member of a CNAME chain loop (e.g. two external names that point at each other).

Note that moving to CoreDNS is another option.  It similarly feeds CNAME targets to

[2018-08-08 05:28] dnivra26 opened #250 "Kubernetes DNS failure - invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST?**:
bug

**What happened**:
Seeing errors in kube dns logs. Happens randomly for a minute and things start working fine after that. Happens atleast twice a day.

**Logs**
[code]

**Environment**:
- Kubernetes version : v1.10.5-gke.0
- Cloud provider or hardware configuration: GKE

/sig network
@kubernetes/sig-network

[2018-08-09 19:51] #213 closed

[2018-08-10 10:00] vidhy commented on #122
I am wondering why the dnsPolicy is not set to clusterFirst by default.

[2018-08-10 11:36] gabrielfsousa opened #252 "querying service wont show pods"
kubernetes version 1.11.0

shouldn't the query return the pods ?

[code]

[2018-08-10 16:40] chrisohaver commented on #252
You'll see IPs of pods in the response if the service is a _headless_ service.  But for a normal service with a ClusterIP, you just see the service IP here.

[2018-08-10 17:03] gabrielfsousa commented on #252
ok, thanks.
any disadvantages using a  headless service ?

[2018-08-10 17:25] chrisohaver commented on #252
You don't get k8s based load balancing.  But you should be able to use the `loadbalance` plugin in coredns to randomly order responses.

Without changing the service to headless, you can also do the following...

`dig @10.96.0.10  -t SRV *.vault.vault.svc.cluster.local` => will return list of open ports on all endpoints (aka pods) of `vault.vault.svc.cluster.local`

`dig @10.96.0.10 *.vault.vault.

[2018-08-10 17:32] thockin commented on #252
The main disadvantage is that your clients are not protected from pods
changing, so they might get an IP that stops working if the pod is deleted
(scale down, rolling update, etc)

On Fri, Aug 10, 2018, 10:03 AM Gabriel Sousa <notifications@github.com>
wrote:

[2018-08-10 17:52] bowei commented on #122
I think it is set to clusterFirst by default? Can you give me an example?

[2018-08-10 17:53] bowei commented on #122
For the original bug filer, can you give more details on what you would want to be documented?

[2018-08-10 18:07] chrisohaver commented on #122
@bowei, I suspect @vidhy is asking about why kube-dns does not default to use clusterFirst policy.

I explain how this would create a loop ... here kubernetes/kops#5592

[2018-08-11 06:42] geosword opened #253 "Kubedns returns NXDOMAIN from inside PODs but works from outside"
image: gcr.io/google_containers/k8s-dns-(kube-dns|dnsmasq-nanny|sidecar)-amd64:1.14.8

I've run through: https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/
Everything is correct (apart from performing nslookups from the busybox pod).

[code]

However:

[code]

The resolve.conf of busybox:

[code]

Aside from busybox not being able to resolve "Kubernetes" on its own. "Non

[2018-08-11 16:47] fturib commented on #253
Can you provide the version of busybox you are using ?

We found several similar use case lately, and it was related to busybox itself.

check this comment : https://github.com/kubernetes/kubernetes/issues/66924#issuecomment-411804435

and this issue related to busybox : https://github.com/docker-library/busybox/issues/48

[2018-08-11 19:03] geosword commented on #253
That was exactly it. Would never have thought of that. Thank you so much.

[2018-08-13 07:26] vidhy commented on #122
@bowei  The name being 'Default' I assumed that it will be the default dnsPolicy. After your comment  I refered  the docs. It says

The naming was quite confusing. Now I get that clusterFirst is the default dnsPolicy. Thanks.

[2018-08-13 12:53] fturib commented on #253
@geosword : I guess we can close that issue now ?

[2018-08-13 19:11] #253 closed

[2018-08-15 08:13] tuminoid commented on #169
Thanks @MrHohn for a ping, but unfortunately kubernetes/kubernetes#67302 does not resolve this issue. With non-responding DNS server, kube-dns still fails to resolve cluster-local DNS names and just times out. Tested with k8s 1.10.4 and kube-dns 1.14.10.

[2018-08-15 13:34] chrisohaver commented on #169
@tuminoid, How are you executing the queries?  For example, if using `dig` I recall it does not follow the search path unless you specify `+search` ...

[2018-08-15 17:15] MrHohn commented on #169
Humm, I got a different result than what you described, probably our setup is different.

I basically set `upstreamNameservers` in kube-dns configmap to [127.0.0.1] such that any external name should be unresolvable. With https://github.com/kubernetes/kubernetes/pull/67302, below is what I got within the cluster.
[code]

cc @hedayat

[2018-08-16 06:16] tuminoid commented on #169
@chrisohaver I'm using busybox with `nslookup`, and it works as it should in both positive and negative test. I'm aware of `dig` behaving differently, won't use it for testing.

@MrHohn:
Test case is if `kubernetes` and `kubernetes.default` resolves correctly. `kubernetes.default.svc.cluster.local` always resolves, there is never issue with that.

Result is the same whether you set `upstreamNameSe

[2018-08-16 14:27] seh commented on #174
It's not that the _Service_ is hard to write; it's that [the documentation about how to do so is either wrong](https://github.com/kubernetes/website/blame/master/content/en/docs/concepts/services-networking/dns-pod-service.md#L101), or there's _still_ a defect here. Please note that I was not complaining about why the _Service_ is necessary; I was demonstrating that the despite [the documentation]

[2018-08-16 14:30] chrisohaver commented on #174
Ah OK - So updating the documentation is also an option...

[2018-08-16 14:34] seh commented on #174
Right. I'm hoping someone can weigh in and say, "That was never supposed to work. Why did we claim it would?" Alternately, "Yes, we _want_ this to work, but haven't been able to fix the problem yet."

Note, though, that @thockin did weigh in [here](https://github.com/kubernetes/website/blame/master/content/en/docs/concepts/services-networking/dns-pod-service.md#L101):

[2018-08-16 14:43] chrisohaver commented on #174
OK.   According to the [DNS Spec](https://github.com/kubernetes/dns/blob/master/docs/specification.md), this should work, as long as the endpoints are still deemed "ready" by the API if they have no open ports.

[2018-08-16 14:50] seh commented on #174
Yes, and my reading of kubernetes/kubernetes#47250 says that it should have fixed this problem, but when I run _kubectl get endpoints sub --output=yaml_ for the second phase of my test case above, the _Endpoints_ object has no "subsets" field.

[2018-08-16 15:34] thockin commented on #174
Understand the history and understand the state :)

Services always required ports.  Then we added headless Services.  For the
vast vast vast majority of cases, defining ports was logical and natural.
Eventually someone said "hey, the port doesn't actually matter for headless
services".  It's not too surprising that this niche desire is incompletely
supported.

I'll brush up on context later and m

[2018-08-16 15:38] seh commented on #174
No, that's not bad, Tim. We can change the documentation to match the implementation.

What's confusing, though, is the recent efforts (the aforementioned merged PRs) to accommodate _Services_ without ports, and why they don't cover this case. The documentation overpromises, but the implementation is _trying_ to make it true. It seems that we're close.

[2018-08-16 17:33] #177 closed

[2018-08-19 23:04] rafaelmagu commented on #118
@cloudusers I'm seeing that issue on EKS, with any containers, really:

[code]

I don't understand the `nslookup: can't resolve '(null)': Name does not resolve` bit. Where is it getting `(null)` from?

[2018-08-20 20:50] thockin commented on #174
Looking at this now.  I feel like it SHOULD work as documented.

[2018-08-20 21:56] thockin commented on #174
OK, I found the bug.  It's not pretty to fix, but it's not terrible.  Let me pull a PR together and see about tests.

[2018-08-20 22:45] fturib opened #254 "coreDNS deployment is not compatible with PodSecurityPolicy"
## IMPACT - Blocker

Right now this issue is blocking the PR "CoreDNS as "default" in kube-up deployment".
See several PR that have the same "pull-kubernetes-e2e-gce".

https://github.com/kubernetes/kubernetes/pull/67569
https://github.com/kubernetes/kubernetes/pull/66309
https://github.com/kubernetes/kubernetes/pull/62147

## Description

CoreDNS Deployment uses SecurityContext.
Basically this co

[2018-08-20 22:47] fturib commented on #254
FYI : @timothysc @johnbelamaric @chrisohaver @thockin @rajansandeep

[2018-08-20 23:36] thockin commented on #254
I'd argue to not serve on a low port.  Most people will be accessing
through the Service anyway, right?  And that can do a port remap.

Now, IMO it is inane that containers don't have that capability by
default.  @tallclair - could we make that a default capability?

On Mon, Aug 20, 2018 at 3:47 PM Francois Tur <notifications@github.com>
wrote:

[2018-08-20 23:44] johnbelamaric commented on #254
Yes, shouldn't we just be able to configure the service port `targetPort` so we don't need the pods to listen on a privileged port?

[2018-08-20 23:48] fturib commented on #254
@John, @Tim : yes we can do. - and we already tested that solution -
We need to change the service definition (to integrate those targetPorts). I am not sure how much it will interrupt the service during upgrade (and even if there is interruption, is that a major issue ?)

[2018-08-21 00:01] johnbelamaric commented on #254
I think there would be little-to-no disruption, especially if the existing
deployment is still running on 53. Traffic will continue to the old
deployment until kube-proxy updates the rules to point to the new one on
the new port.

On Mon, Aug 20, 2018 at 4:48 PM Francois Tur <notifications@github.com>
wrote:

[2018-08-21 14:32] chrisohaver commented on #234
/remove-lifecycle stale

[2018-08-21 16:15] #234 closed

[2018-08-21 20:38] thockin commented on #174
Merged.

[2018-08-22 02:51] #254 closed

[2018-08-27 06:42] liyinda246 opened #255 "Failed to list *v1.Endpoints: Get https://10.96.0.1:443/api/v1/endpoints?limit=500&resourceVersion=0: dial tcp 10.96.0.1:443: i/o timeout"
kubernetes version 1.11.1
docker version 1.13.1

more coredns.yml

apiVersion: v1
kind: ServiceAccount
metadata:
  name: coredns
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
  name: system:coredns
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - services
  - pods
  - namespac

[2018-08-27 10:06] jazoom commented on #118
I'm seeing the same thing. Where does it get `null` from, and why does it then proceed to return the correct IP address? It obviously *did* resolve.

[2018-08-27 16:26] bowei commented on #255
Hi,
To get the best response, you should file this against CoreDNS repo with a description and repro instructions.

Bowei

[2018-08-27 16:28] chrisohaver commented on #255
This error means that pods cannot connect the to kubernetes API (probably universally, not just coredns).  Is the kubernetes API running?

[2018-08-27 19:18] johnbelamaric commented on #118
My guess is that the '(null)' response is for the AAAA request. Some
resolvers will send A and AAAA requests simultaneously. Try `nslookup
-type=A kubernetes.default`.

That said,  the (null) is a bogus response either way and not sure why it
is there.

On Mon, Aug 27, 2018 at 3:06 AM jazoom <notifications@github.com> wrote:

[2018-08-28 12:41] ans-cst opened #256 "KubeDNS - Not adding Stable Network IDs for StatefulSet"
I am hoping someone can assist me with an issue i am having with kubedns adding endpoints for stable networks IDs within a service.

When i deploy my service and stateful set i see the below error in the kube-dns logs:
_Could not find endpoints for service "mongo-svc" in namespace "default". DNS records will be created once endpoints show up._
I can see the IPs are added but the stateful network I

[2018-08-28 14:06] ans-cst commented on #256
RESOLVED - My Service Name i had input within the stateful set was not the actual name of the Service.

[2018-08-28 14:06] #256 closed

[2018-09-01 16:39] bamb00 opened #257 "kube-dns goes into CrashLoopBackOff consistently"
I'm running into an issue where kube-dns pod goes into CrashLoopBackOff.  There are 1 master and 4 minion node.  Also there are 1 kube-dns pod and 5 kube-proxy pod.  Each kube-proxy pod is running on the master and minions node.  I didn't see any error in the kube-proxy logs (below) to cause the kube-dns CrashLoopBackOff.

K8s: v1.9.5
Cent OS 7.5, 3.10.0-862.9.1.el7.x86_64

Master Node:

[2018-09-02 20:44] bamb00 commented on #257
An application was causing conflict with the network.  It would be nice if the log message was a little more translatable.

Closing issue.

[2018-09-02 20:44] #257 closed

[2018-09-03 20:34] Frodox commented on #55
/remove-lifecycle stale

[2018-09-13 09:59] kostyrev commented on #230
I think it's not the problem with kube-dns but [this](https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/) one

[2018-09-13 17:18] johnbelamaric commented on #230
@kostyrev thanks for that link, that's a good write up

[2018-09-19 22:32] awly opened #263 "Rebuild docker images to pick up Alpine 3.8.1"
Alpine 3.8.1 fixes a RCE vulnerability (see https://alpinelinux.org/posts/Alpine-3.8.1-released.html).
Rebuild and push the image to pick up the new base image.

[2018-09-20 17:17] thockin commented on #263
@MrHohn are you the right person?

[2018-09-20 17:27] MrHohn commented on #263
Acked, I will see if I can include this with the new images, since I need to rebuild them anyway (https://github.com/kubernetes/kubernetes/pull/68430).

/assign

[2018-09-20 18:30] #263 closed

[2018-09-20 19:20] briantopping opened #265 "Downed upstream named causes pod requests to hang"
With a clean v1.11.2 deployment on CentOS Linux release 7.5.1804, coredns fails to resolve addresses when one of the upstream named instances are unresponsive.

The only use case that I have tested this with is that the upstream instance is completely down and the address the server runs on is dead. I have not tested the case where the upstream host is live but the port is dead.

When this happens

[2018-09-20 19:25] #265 closed, assigned to nobody

[2018-09-20 22:34] tallclair commented on #263
Is there a reason this can't be built from scratch instead? That's preferable whenever possible.

[2018-09-21 09:43] tyrannasaurusbanks commented on #240
Looks like this issue is addressed by https://github.com/kubernetes/dns/pull/262

[2018-09-21 19:49] #227 closed

[2018-09-24 23:02] #131 closed

[2018-09-25 09:09] scrwr opened #266 "POD DNS reverse lookup"
We have an increasing problem with Apache Hadoop-like services like Spark, Flink and co. These are trying to communicate via their hostnames in the cluster instead of their IPs. So they look up their own hostname and hence come up with the unresolvable podname. We see now two incomplete solutions:

a) Pod A records are created in a format like 1-2-3-4.namespace.pod.cluster.local variant. But the p

[2018-09-25 15:47] thockin commented on #266
Is this a new trend?  Is it actually important to these workloads' corectness, or can we convince them they are following a bad pattern?

In general, these names are not very useful names.  It's (in theory) possible to get those names into `hostname -f` but it would be a significant change to the overall system.

To do "real" reverse lookups of pod names (the default hostname) would require a larg

[2018-09-25 16:02] krmayankk commented on #266
I am told this already works in coredns and I tried to make a pr to make this work for dns but that didn’t move mainly because I was not able to convince the team . Can you try coredns and see if that helps. Also if coredns implements I am not sure it’s in violation of he dns spec in any way or not @johnbelamaric

[2018-09-25 16:04] krmayankk commented on #266
#232 is the pr @thockin if I make a pr to the dns spec would you be open to consider it ?

[2018-09-26 08:06] scrwr commented on #266
Spark changed it just recently with version 2.3. Other products like hadoop are doing it since ages. I don't really know, what is driving them, as I have hard times to believe, that even outside the kubernetes world, every datacenter has a solid DNS setup by default. I guess the majority of self-hosters have to set it up in order to comply with hadoop-ish software stack.

Whats the purpose of thes

[2018-09-26 09:06] realknorke commented on #266
What "every datacenter" has is not the question. The (v-)servers in big ones all have hostnames that can be resolved. I think almost every root server or cloud node can be accessed by just using its host name.

Maybe the Apache guys generalized from that.

[2018-09-27 10:37] scrwr commented on #266
I had a look and this is unfortunately not, what we are looking for. Let me give you an example.

A pod (job) connects to a Service `master`, telling this service its own hostname is `driver_85nfu` (podname). The service now tries to connect back to the `driver_85nfu` pod via this hostname, but it is not resolvable.

Having endpoint names in CoreDNS, doesn't help, because:
a) the pod doesn't use t

[2018-09-27 14:47] bowei commented on #266
Can someone give a pointer to the spark docs that reference this behavior? Maybe for spark (and associated jobs), we can give the job the synthetic pod IP as its "hostname"

[2018-09-27 16:46] scrwr commented on #266
https://spark.apache.org/docs/latest/configuration.html#networking
`spark.driver.host` => defaults to (local hostname)

[2018-09-28 14:58] #190 closed

[2018-10-06 21:53] scrwr commented on #266
@bowei:

How?

[2018-10-08 04:13] #247 closed

[2018-10-10 17:31] MrHohn commented on #244
This isn't really a kube-dns issue. But one thought is maybe checking the mounted `/run/secrets/kubernetes.io/serviceaccount/ca.crt` in kube-dns pod to see if that matches the cert you use for apiserver.

[2018-10-13 17:56] #230 closed

[2018-10-25 18:52] MrHohn commented on #227
Fixed by https://github.com/kubernetes/test-infra/pull/9921.

[2018-10-26 14:53] paskal commented on #231
prometheus-operator helm chart is looking for it too: https://github.com/helm/charts/issues/8728

[2018-10-28 00:32] #239 closed

[2018-11-02 23:52] #242 closed

[2018-11-08 07:16] maktouch opened #273 "Kube-DNS pod is being generated with the same IP as its service"
This is the content of /etc/resolv.conf
[code]

These are my kube-dns pods

[code]

This is the service

[code]

We're having a lot of DNS issues because it seems like every DNS requests is being routed to that single pod instead of being load balanced by the service.

At first, I thought this was a single fluke, but this is the 2nd time it's happening and it seems to only happening with kube-dns.

[2018-11-08 13:02] chrisohaver commented on #273
This could only occur if the Service CIDR overlaps the Pod CIDR - which should not be allowed.

[2018-11-09 02:18] junsionzhang commented on #118
hello, have you got the answer? I have the same question

[2018-11-09 04:09] rafaelmagu commented on #118
I was trying to set a specific IP for resolvers on the worker nodes. Once I removed that, the problem stopped occurring.

[2018-11-09 18:32] #244 closed

[2018-11-10 00:39] grayluck commented on #273
Hey @maktouch, I am not sure whether this is a cluster managed by GKE.
Could you please tell me how was this cluster created? We can't reproduce this issue at our end.
Thanks!

[2018-11-12 05:50] maktouch commented on #273
Yeah, it's been created with GKE but with custom settings. We're recreating the cluster properly and moving stuff today.

This bug only happens once in a while. Maybe I should post this in the scheduler repo?

Cheers

[2018-11-17 03:30] amykang2020 opened #276 "intermittent nslookup service fails in pod"
Hi, would like to know if any known issue in kubernetes 1.7.6 could be the cause (unfortunately the kubernetes cluster running in the environment in AWS is still using 1.7.6).
1. A statefulset is deployed with replica =1 and 1 headless service and 2 regular services all with selector for a label defined in the statefulset.  The services type is ClusterIP.
2. A cronjob is deployed to the same clust

[2018-11-18 01:43] amykang2020 commented on #276
It looks like the issue is dns lookup latency due to insufficient number of kube-dns instances in that k8s cluster.  The issue is not noticed to occur when the same application deployed to a production k8s cluster which has more kube-dns instances running.

[2018-11-18 01:43] #276 closed

[2018-11-20 09:38] realknorke commented on #266
Is this issue dead?
Is there any way I can help? Providing more information or testing?
Currently it is not possible for me to use Spark2.3 in Kubernetes (standalone mode, no k8s scheduler). Is @scrwr and I the only people with this kind of problem (so far)?
Thanks in advance!

[2018-11-20 10:43] #240 closed

[2018-11-21 15:38] mmingorance-dh opened #277 "Kube-DNS service seems to keep sending traffic to a terminating/ed pod"
Hi all,
I have a question about a certain issue we are facing.
We have recently change to Kubernetes 1.10.6 with kops 1.10 and we started to use IPVS instead of IPtables. We have created our own AMI for this purpose. Everything seems to be working fine with this setup however we experience some issues in the kube-dns issue (managed by kube-dns instead of coreDNS).
Whenever a kube-dns pod gets term

[2018-11-21 16:48] thockin commented on #277
@m1093782566 Seems IPVS related?

[2018-11-21 16:57] mmingorance-dh commented on #277
If it was IPVS related I should be able to see the same behaviour in the rest of the services and this is not the case. We noticed this issue only on kube-dns

[2018-11-21 17:46] thockin commented on #277
And you're accessing it via the service IP, right?

The backends (kubedns) is well after the decision of which backend
instance to route to.  That's done at IPVS.  And for comparison, we
know iptables kube-proxy does not suffer this (at least we test it,
and nobody has reported it broken).

More likely there's something not being flushed (e.g. conntrack for
UDP, which is notoriously finicky) when

[2018-11-22 11:00] mmingorance-dh commented on #277
Yes, we are using the service's IP.

If this is the case and IPVS is producing these errors by not cutting off the connection efficiently when a pod is terminating... is there any possible workaround we could try or implement for it?

Is anybody already aware of this issue and working on it?

Thanks!

[2018-11-22 11:01] m1093782566 commented on #277
IPVS proxy already supported graceful termination since v1.12.2